Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-packages

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files on the frontend
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend
  language: system

lint-packages:
  name: Linting of JS and Vue files on the packages
  description: This hook handles all packages linting
  entry: yarn run lint-packages
  pass_filenames: false
  language: system

Add backend API for Endless Key content collections
  kolibri_explore_plugin/api_urls.py
  kolibri_explore_plugin/collectionviews.py
  kolibri_explore_plugin/views.py
Due: none

Add EndlessKeyContentManifest subclass
  kolibri_explore_plugin/collectionviews.py
Due: none

Add CollectionDownloadManager
  kolibri_explore_plugin/collectionviews.py
Due: none

Add channels count to collections info
  kolibri_explore_plugin/collectionviews.py
Due: none

fixup! Add EndlessKeyContentManifest subclass
  kolibri_explore_plugin/collectionviews.py
Due: none

Remove axios dependency
  kolibri_explore_plugin/assets/package.json
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
  kolibri_explore_plugin/assets/src/constants.js
  kolibri_explore_plugin/assets/src/modules/topicsTree/handlers.js
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
  yarn.lock
Due: lint-frontend

Remove noContent from storage state
  kolibri_explore_plugin/assets/src/modules/coreExplore/actions.js
  kolibri_explore_plugin/assets/src/modules/coreExplore/mutations.js
  kolibri_explore_plugin/assets/src/modules/pluginModule.js
Due: lint-frontend

Change how collection modals are displayed
  kolibri_explore_plugin/assets/src/components/CollectionSelectionModal.vue
  kolibri_explore_plugin/assets/src/components/GradeSelectionModal.vue
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
Due: lint-frontend

Remove previous collections backend logic
  kolibri_explore_plugin/api_urls.py
  kolibri_explore_plugin/views.py
Due: none

Port the install modal
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
Due: lint-frontend

Remove extra div from GradeSelectionModal
  kolibri_explore_plugin/assets/src/components/GradeSelectionModal.vue
Due: lint-frontend

InstallContentModal: disallow closing it
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
Due: lint-frontend

Port grade and name selection modals
  kolibri_explore_plugin/assets/src/components/CollectionSelectionModal.vue
  kolibri_explore_plugin/assets/src/components/GradeSelectionModal.vue
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
Due: lint-frontend

Collection renames
  kolibri_explore_plugin/assets/src/components/CollectionSelectionModal.vue
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
Due: lint-frontend

Fix channel iframe loading before API is available
  kolibri_explore_plugin/assets/src/views/CustomChannelPresentationApp.vue
Due: lint-frontend

SASS: revert b7d55a65
  packages/eos-components/src/components/ChannelCard.vue
  packages/eos-components/src/components/SlidableGrid.vue
  packages/eos-components/src/styles.scss
Due: lint-packages

Remove import of template overrides
  packages/eos-components/src/styles.scss
Due: none

Change underscore by lodash
  kolibri_explore_plugin/assets/src/components/AlphabeticalChannelsList.vue
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
  packages/eos-components/package.json
  packages/eos-components/src/components/BackToTop.vue
  packages/eos-components/src/components/NavBar.vue
  packages/eos-components/src/components/SearchBar.vue
  packages/eos-components/src/components/SlidableGrid.vue
  packages/eos-components/src/utils.js
Due: lint-frontend, lint-packages

Fix import of SASS variable in Javascript
  packages/eos-components/src/components/mixins/cardMixin.js
Due: lint-packages

Collections backend: Fix grade, name properties
  kolibri_explore_plugin/collectionviews.py
Due: none

Install modal: Update UI labels
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
Due: lint-frontend

Load: Complete loading when there are no channels
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
Due: lint-frontend

DiscoveryPage: Map only the loading state
  kolibri_explore_plugin/assets/src/views/DiscoveryPage.vue
Due: lint-frontend

DiscoveryPage: Display loading state when empty
  kolibri_explore_plugin/assets/src/views/DiscoveryPage.vue
Due: lint-frontend

Collection modals: Mark all labels as translatable
  kolibri_explore_plugin/assets/src/components/CollectionSelectionModal.vue
  kolibri_explore_plugin/assets/src/components/GradeSelectionModal.vue
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
Due: lint-frontend

Bump version: 3.0.0 → 3.0.1
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Download collections backend: use INFO logs
  kolibri_explore_plugin/collectionviews.py
Due: none

Download collections backend: set high priority
  kolibri_explore_plugin/collectionviews.py
Due: none

DiscoveryPage: Display loading state when downloading
  kolibri_explore_plugin/assets/src/views/DiscoveryPage.vue
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
Due: lint-frontend

Enqueue jobs directly in job_storage
  kolibri_explore_plugin/collectionviews.py
Due: none

Download collections backend: Log job duration
  kolibri_explore_plugin/collectionviews.py
Due: none

Bump version: 3.0.1 → 3.0.2
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Download content modal: pause/resume polling update
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
Due: lint-frontend

Path conditions:
  lint-frontend: any of: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
  lint-packages: any of: ^packages/.*\.(js|vue)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
