Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-packages

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
repos:
- repo: git://github.com/pre-commit/pre-commit-hooks
  rev: v2.0.0
  hooks:
  - id: trailing-whitespace
  - id: flake8
    args:
      # make flake8 compatible with black:
      - "--max-line-length=88"
      - "--ignore=E203,W503"
  - id: check-yaml
  - id: check-added-large-files
    args: ['--maxkb=2000']
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: '^.+?(\.json|\.po)$'
- repo: https://github.com/asottile/reorder_python_imports
  rev: v1.3.3
  hooks:
  - id: reorder-python-imports
- repo: local
  hooks:
  - id: lint-frontend
    name: Linting of JS, Vue, SCSS and CSS files on the frontend
    description: This hook handles all frontend linting for Kolibri
    entry: yarn run lint-frontend
    language: system
    files: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$
  - id: lint-packages
    name: Linting of JS and Vue files on the packages
    description: This hook handles all packages linting
    entry: yarn run lint-packages
    pass_filenames: false
    language: system
    files: ^packages/.*\.(js|vue)$

- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black

Update kolibri_explore_plugin/assets/src/app.js
  kolibri_explore_plugin/assets/src/app.js
Due: lint-frontend

discovery: Emit resize event after fullscreen
  kolibri_explore_plugin/assets/src/app.js
Due: lint-frontend

Bump version: 2.0.13 → 2.0.14
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Discovery: Initial search inside the zim files
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/assets/src/searchApi.js
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

Discovery: Integrate zim search with normal results
  kolibri_explore_plugin/assets/src/searchApi.js
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

Discovery: Play button to direct content for zim
  kolibri_explore_plugin/assets/src/searchApi.js
  packages/eos-components/src/components/ContentCard.vue
Due: lint-frontend, lint-packages

Discovery: Search in "all" zim channels
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

Discovery: Link directly to zim content on click
  kolibri_explore_plugin/assets/src/searchApi.js
  kolibri_explore_plugin/assets/src/views/CustomChannelPresentationApp.vue
  packages/template-ui/src/components/DetailViewFullScreen.vue
Due: lint-frontend, lint-packages

Discovery: Do not show <hr> if there's no nodes in search
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

scripts: highlighted check: consider unavailable content
  scripts/review_highlighted.py
Due: none

scripts: Use the stable branch for releasing
  README.md
  scripts/check_can_relese.sh
Due: none

Update node version to 16.x
  .github/workflows/lint.yml
  .github/workflows/node.yml
  .github/workflows/release-apps.yml
  dependency-stub/index.js
  dependency-stub/package.json
  kolibri_explore_plugin/assets/package.json
  package.json
  scripts/bootstrap.sh
  yarn.lock
Due: none

dependabot: Update lodash
  package.json
  yarn.lock
Due: none

dependabot: Update ansi-html
  package.json
  yarn.lock
Due: none

dependabot: Update postcss
  package.json
  yarn.lock
Due: none

dependabot: Update follow-redirects
  package.json
  yarn.lock
Due: none

dependabot: Update shelljs
  package.json
  yarn.lock
Due: none

dependabot: Update node-forge
  package.json
  yarn.lock
Due: none

dependabot: Update markdown-it
  package.json
  yarn.lock
Due: none

dependabot: Update ansi-regex
  package.json
  yarn.lock
Due: none

dependabot: Update nth-check
  package.json
  yarn.lock
Due: none

dependabot: Update axios
  package.json
  yarn.lock
Due: none

dependabot: Update trim-newlines
  package.json
  yarn.lock
Due: none

dependabot: Update glob-parent
  package.json
  yarn.lock
Due: none

dependabot: Update trim
  package.json
  yarn.lock
Due: none

dependabot: Update node-notifier
  package.json
  yarn.lock
Due: none

dependabot: Update highlight.js
  package.json
  yarn.lock
Due: none

dependabot: Update yargs-parser
  package.json
  yarn.lock
Due: none

dependabot: Update cli
  package.json
  yarn.lock
Due: none

dependabot: Update minimatch
  package.json
  yarn.lock
Due: none

data: Update highlighted content
  kolibri_explore_plugin/static/highlighted-content.json
Due: none

Change option description to a string
  kolibri_explore_plugin/options.py
Due: none

Add kolibri-design-system resolution to package.json
  package.json
  yarn.lock
Due: none

pre-commit: Update black package version
  .pre-commit-config.yaml
Due: none

lint: Fix create_mock_nodes.py with black
  scripts/create_mock_nodes.py
Due: none

package: Remove yargs-parser resolution
  package.json
  yarn.lock
Due: none

Filter out *.map files in custom channel bundles
  scripts/_common.py
Due: none

Add an option to load channel apps from elsewhere
  kolibri_explore_plugin/options.py
  kolibri_explore_plugin/views.py
Due: none

Revert "Filter out *.map files in custom channel bundles"
  scripts/_common.py
Due: none
