Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-packages

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files on the frontend
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend
  language: system

lint-packages:
  name: Linting of JS and Vue files on the packages
  description: This hook handles all packages linting
  entry: yarn run lint-packages
  pass_filenames: false
  language: system

Add new download page
  kolibri_explore_plugin/assets/src/constants.js
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
  kolibri_explore_plugin/assets/src/routes/index.js
  kolibri_explore_plugin/assets/src/views/DownloadPage.vue
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
Due: lint-frontend

Pack backend: Add API to get single collection info
  kolibri_explore_plugin/api_urls.py
  kolibri_explore_plugin/collectionviews.py
Due: none

Remove unused modals
  kolibri_explore_plugin/assets/src/collections/intermediate-icons.png
  kolibri_explore_plugin/assets/src/collections/primary-icons.png
  kolibri_explore_plugin/assets/src/collections/secondary-icons.png
  kolibri_explore_plugin/assets/src/components/CollectionSelectionModal.vue
  kolibri_explore_plugin/assets/src/components/GradeSelectionModal.vue
Due: lint-frontend

ExploreIndex: Remove download modal
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
  kolibri_explore_plugin/assets/src/views/DiscoveryPageEkIguana.vue
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
Due: lint-frontend

Welcome: Make all buttons look like pills
  packages/eos-components/src/components/PackCard.vue
  packages/welcome-screen/src/views/PackReady.vue
  packages/welcome-screen/src/views/PermissionsCancelled.vue
  packages/welcome-screen/src/views/PermissionsExplanation.vue
  packages/welcome-screen/src/views/PermissionsWrongFolder.vue
  packages/welcome-screen/src/views/UsbDriveConnection.vue
  packages/welcome-screen/src/views/Welcome.vue
Due: lint-packages

Theme: Fix contrast in all buttons and links
  packages/eos-components/src/index.scss
  packages/eos-components/src/styles.scss
Due: none

Welcome: Add back link in pack ready page
  packages/welcome-screen/src/views/PackReady.vue
Due: lint-packages

Welcome: Move USB selection to Welcome page
  packages/welcome-screen/src/views/PackSelection.vue
  packages/welcome-screen/src/views/Welcome.vue
Due: lint-packages

Channels presentation: Add overrides for SciGirls
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/icons/scigirls.png
  kolibri_explore_plugin/static/thumbnails/scigirls.jpg
  packages/template-ui/channel-overrides/scigirls/assets/header-background.jpg
  packages/template-ui/channel-overrides/scigirls/options.json
  packages/template-ui/channel-overrides/scigirls/styles.scss
Due: lint-frontend

Channels presentation: Add overrides for Eie
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/icons/eie-families.png
  kolibri_explore_plugin/static/thumbnails/eie-families.jpg
  packages/template-ui/channel-overrides/eie-families/assets/header-background.jpg
  packages/template-ui/channel-overrides/eie-families/styles.scss
Due: lint-frontend

PlayButton: Remove display=block from ContentImage
  packages/eos-components/src/components/PlayButton.vue
  packages/template-ui/src/components/ContentImage.vue
Due: lint-packages

Download page: Add pack assets
  kolibri_explore_plugin/assets/src/views/DownloadPage.vue
  kolibri_explore_plugin/static/download/pack-downloading.png
  kolibri_explore_plugin/static/download/pack-ready.png
Due: lint-frontend

Discovery: Fix color of tabs underline
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
Due: lint-frontend

Welcome: Change style of PackCard for accessibility
  packages/eos-components/src/components/PackCard.vue
  packages/welcome-screen/src/views/PackSelection.vue
Due: lint-packages

Welcome: Use slidable component for pack cards
  packages/welcome-screen/src/views/PackSelection.vue
Due: lint-packages

Welcome: Change Privacy Policy link
  packages/welcome-screen/src/views/Welcome.vue
Due: lint-packages

Template: Update test page
  packages/template-ui/src/views/Test.vue
Due: lint-packages

Landing page: Left-align titles
  kolibri_explore_plugin/assets/src/views/DiscoveryPageContenPacks.vue
Due: lint-frontend

Bump version: 5.4.0 → 5.5.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Pack metadata: quick text edit
  packages/eos-components/src/constants.js
Due: lint-packages

Template: Disable BackButton when no history
  packages/template-ui/src/components/BackButton.vue
Due: lint-packages

Explore: Add retry button to content unavailable
  kolibri_explore_plugin/assets/src/views/ContentUnavailablePage.vue
Due: lint-frontend

Bump version: 5.5.0 → 5.6.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Utils: Add function to check if user is in the US
  kolibri_explore_plugin/assets/src/modules/coreExplore/utils.js
Due: lint-frontend

Download backend: Add API to set if user is in the US
  kolibri_explore_plugin/api_urls.py
  kolibri_explore_plugin/collectionviews.py
Due: none

Frontend download: Set is US user before download
  kolibri_explore_plugin/assets/src/modules/coreExplore/utils.js
  kolibri_explore_plugin/assets/src/views/DownloadPage.vue
Due: lint-frontend

Frontend download: Set is US user before download
  kolibri_explore_plugin/assets/src/views/DownloadPage.vue
Due: lint-frontend

Bump version: 5.6.0 → 5.7.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Welcome: Remove "please wait" from Loading screen
  packages/welcome-screen/src/views/Loading.vue
Due: lint-packages

Update github actions to run in ubuntu-latest
  .github/workflows/lint.yml
  .github/workflows/node.yml
  .github/workflows/release-apps.yml
Due: none

User region detection: Wrap in try/catch
  kolibri_explore_plugin/assets/src/modules/coreExplore/utils.js
Due: lint-frontend

Theme: Use light variant on buttons hover
  packages/eos-components/src/index.scss
  packages/eos-components/src/styles.scss
Due: none

Bump version: 5.7.0 → 5.8.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Path conditions:
  lint-frontend: any of: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
  lint-packages: any of: ^packages/.*\.(js|vue)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
