Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-packages

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
repos:
- repo: git://github.com/pre-commit/pre-commit-hooks
  rev: v2.0.0
  hooks:
  - id: trailing-whitespace
  - id: flake8
    args:
      # make flake8 compatible with black:
      - "--max-line-length=88"
      - "--ignore=E203,W503"
  - id: check-yaml
  - id: check-added-large-files
    args: ['--maxkb=2000']
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: '^.+?(\.json|\.po)$'
- repo: https://github.com/asottile/reorder_python_imports
  rev: v1.3.3
  hooks:
  - id: reorder-python-imports
- repo: local
  hooks:
  - id: lint-frontend
    name: Linting of JS, Vue, SCSS and CSS files on the frontend
    description: This hook handles all frontend linting for Kolibri
    entry: yarn run lint-frontend
    language: system
    files: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$
  - id: lint-packages
    name: Linting of JS and Vue files on the packages
    description: This hook handles all packages linting
    entry: yarn run lint-packages
    pass_filenames: false
    language: system
    files: ^packages/.*\.(js|vue)$

- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump version: 2.0.0 → 2.0.1
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Update bundling status in README
  README.md
Due: none

Add docs for template spec and tech info
  docs/template-spec.md
  docs/template-tech-info.md
Due: none

Bump version: 2.0.1 → 2.0.2
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

template: Show number of resources in bundle section
  packages/template-ui/src/views/BundleSection.vue
Due: lint-packages

Update AssessmentWrapper
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/ExerciseAttempts/AnswerIcon.vue
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/ExerciseAttempts/index.vue
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/LessonMasteryBar.vue
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/OverallStatus.vue
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/index.vue
Due: lint-frontend

Apply custom changes to AssessmentWrapper
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/ExerciseAttempts/AnswerIcon.vue
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/ExerciseAttempts/index.vue
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/index.vue
  kolibri_explore_plugin/assets/src/views/ContentModal.vue
Due: lint-frontend

Copy Kolibri new clases not available on kolibri-tools
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/BaseToolbar.vue
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/LessonMasteryBar.vue
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/TextTruncatorCss.vue
Due: lint-frontend

discovery: Make AssessmentWrapper to use 100% width
  kolibri_explore_plugin/assets/src/views/ContentModal.vue
Due: lint-frontend

Bump version: 2.0.2 → 2.0.3
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

API: Pass the full pagination object as getParams
  kolibri_explore_plugin/assets/src/kolibriApi.js
  packages/template-ui/src/components/FilterResult.vue
  packages/template-ui/src/views/Home.vue
  packages/template-ui/src/views/ListSection.vue
  packages/template-ui/src/views/Section.vue
Due: lint-frontend, lint-packages

Discovery: Fix js error in AssessmentWrapper component
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/index.vue
Due: lint-frontend

Discovery: Update ContentItem fork with upstream changes
  kolibri_explore_plugin/assets/package.json
  kolibri_explore_plugin/assets/src/composables/useContentNodeProgress.js
  kolibri_explore_plugin/assets/src/composables/useProgressTracking.js
  kolibri_explore_plugin/assets/src/views/ContentItem.vue
  yarn.lock
Due: lint-frontend

Discovery: Update AssessmentWrapper fork with upstream changes
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/index.vue
Due: lint-frontend

Bump version: 2.0.3 → 2.0.4
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

template: Sort main sections by title
  packages/template-ui/src/components/MainSections.vue
  packages/template-ui/src/views/Home.vue
  packages/template-ui/src/views/ListSection.vue
Due: lint-packages

components: Rename Header to NavBar
  kolibri_explore_plugin/assets/src/views/ChannelsPage.vue
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
  packages/eos-components/src/components/NavBar.vue
  packages/eos-components/src/main.js
  packages/template-ui/src/components/ChannelNavBar.vue
Due: lint-frontend, lint-packages

components: Make NavBar fluid
  packages/eos-components/src/components/NavBar.vue
Due: lint-packages

Start tweaking ChannelNavBar
  kolibri_explore_plugin/assets/src/views/ChannelsPage.vue
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
  packages/eos-components/src/components/NavBar.vue
  packages/eos-components/src/main.js
  packages/template-ui/src/components/ChannelNavBar.vue
Due: lint-frontend, lint-packages

Start tweaking ChannelNavBar style
  packages/eos-components/src/styles.scss
  packages/template-ui/src/components/Breadcrumb.vue
  packages/template-ui/src/components/ChannelHeader.vue
  packages/template-ui/src/components/ChannelNavBar.vue
  packages/template-ui/src/components/mixins/headerMixin.js
Due: lint-packages

template: show first content on displayHeroContent
  packages/template-ui/src/views/Content.vue
  packages/template-ui/src/views/Home.vue
Due: lint-packages

template: Initial wikipedia zim DetailView
  packages/template-ui/channel-overrides/wikipedia/components/DetailView.vue
Due: lint-packages

template: Add breadcrumb to wikipedia DetailView
  packages/template-ui/channel-overrides/wikipedia/components/DetailView.vue
  packages/template-ui/channel-overrides/wikipedia/components/WikiBreadcrumb.vue
Due: lint-packages

components: Change breadcrumb style
  packages/eos-components/src/index.scss
  packages/eos-components/src/styles.scss
Due: none

template: Change breadcrumb logic
  packages/template-ui/src/components/Breadcrumb.vue
Due: lint-packages

template: Add Material icons as dependency
  packages/template-ui/package.json
Due: none

template: Implement initial search in wikipedia DetailView
  packages/template-ui/channel-overrides/wikipedia/components/DetailView.vue
Due: lint-packages

template: Add button to go back in Header
  packages/template-ui/src/components/ChannelHeader.vue
  packages/template-ui/src/components/mixins/headerMixin.js
Due: lint-packages

components: Add option to always cast shadow in NavBar
  packages/eos-components/src/components/NavBar.vue
  packages/template-ui/src/components/ChannelNavBar.vue
Due: lint-packages

template: Add close icon in channel navbar
  packages/template-ui/src/components/ChannelNavBar.vue
Due: lint-packages

template: Refactor and restyle detail views
  packages/template-ui/src/components/DetailView.vue
  packages/template-ui/src/views/BundleSection.vue
  packages/template-ui/src/views/Content.vue
Due: lint-packages

template: Remove debug line from Header component
  packages/template-ui/src/components/ChannelHeader.vue
Due: lint-packages

template: Add "back" button in DetailView component
  packages/template-ui/src/components/DetailView.vue
Due: lint-packages

discovery: Improve going back the custom presentation
  kolibri_explore_plugin/assets/src/modules/topicsTree/index.js
  kolibri_explore_plugin/assets/src/routes/index.js
  kolibri_explore_plugin/assets/src/views/CustomChannelPresentationApp.vue
Due: lint-frontend

pre-commit: Automatically format javascript files
  .pre-commit-config.yaml
Due: none

discovery: Restyle navigation bars
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
  kolibri_explore_plugin/assets/src/views/ChannelsPage.vue
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

discovery: Add icons to tab buttons in navbar
  kolibri_explore_plugin/assets/package.json
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
Due: lint-frontend

discovery: Remove footer
  kolibri_explore_plugin/assets/src/components/AboutModal.vue
  kolibri_explore_plugin/assets/src/views/ChannelsPage.vue
  kolibri_explore_plugin/assets/src/views/DiscoveryFooter.vue
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend
