Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-packages

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
repos:
- repo: git://github.com/pre-commit/pre-commit-hooks
  rev: v2.0.0
  hooks:
  - id: trailing-whitespace
  - id: flake8
    args:
      # make flake8 compatible with black:
      - "--max-line-length=88"
      - "--ignore=E203,W503"
  - id: check-yaml
  - id: check-added-large-files
    args: ['--maxkb=2000']
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: '^.+?(\.json|\.po)$'
- repo: https://github.com/asottile/reorder_python_imports
  rev: v1.3.3
  hooks:
  - id: reorder-python-imports
- repo: local
  hooks:
  - id: lint-frontend
    name: Linting of JS, Vue, SCSS and CSS files on the frontend
    description: This hook handles all frontend linting for Kolibri
    entry: yarn run lint-frontend
    language: system
    files: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$
  - id: lint-packages
    name: Linting of JS and Vue files on the packages
    description: This hook handles all packages linting
    entry: yarn run lint-packages
    pass_filenames: false
    language: system
    files: ^packages/.*\.(js|vue)$

- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump version: 2.0.20 → 2.0.21
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

discovery: handle failed jobs in InstallContentModal
  kolibri_explore_plugin/views.py
  packages/eos-components/src/components/InstallContentModal.vue
Due: lint-packages

loading: Add initial permission wrong folder view
  packages/loading-screen/src/App.vue
  packages/loading-screen/src/main.js
  packages/loading-screen/src/views/PermissionsWrongFolder.vue
Due: lint-packages

Welcome screen: Update permission explanation
  packages/loading-screen/src/assets/permissions-explanation.gif
  packages/loading-screen/src/views/PermissionsExplanation.vue
Due: lint-packages

Welcome screen: show permissions explanation
  packages/loading-screen/src/views/PermissionsExplanation.vue
  packages/loading-screen/src/views/UsbDriveConnection.vue
Due: lint-packages

Welcome screen: Add permission cancelled view
  packages/loading-screen/src/App.vue
  packages/loading-screen/src/main.js
  packages/loading-screen/src/views/PermissionsCancelled.vue
Due: lint-packages

Bump version: 2.0.21 → 2.0.22
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Welcome screen: Better state management
  packages/loading-screen/src/App.vue
  packages/loading-screen/src/main.js
  packages/loading-screen/src/store.js
  packages/loading-screen/src/views/UsbDriveConnection.vue
Due: lint-packages

Collections download: Use the configured server
  kolibri_explore_plugin/views.py
Due: none

Bump version: 2.0.22 → 2.0.23
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

wording: Remove "the" Endless Key
  kolibri_explore_plugin/assets/src/components/AboutModal.vue
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
  packages/loading-screen/src/views/Loading.vue
  packages/loading-screen/src/views/PermissionsExplanation.vue
  packages/loading-screen/src/views/Welcome.vue
Due: lint-frontend, lint-packages

Welcome: Remove empty data object from views
  packages/loading-screen/src/views/PermissionsCancelled.vue
  packages/loading-screen/src/views/PermissionsWrongFolder.vue
Due: lint-packages

Welcome: USB view, prefer link to than routing
  packages/loading-screen/src/views/UsbDriveConnection.vue
Due: lint-packages

Welcome: Refactor views to use the grid
  packages/loading-screen/src/styles.scss
  packages/loading-screen/src/views/ContentSourceSelection.vue
  packages/loading-screen/src/views/PermissionsCancelled.vue
  packages/loading-screen/src/views/PermissionsExplanation.vue
  packages/loading-screen/src/views/PermissionsWrongFolder.vue
  packages/loading-screen/src/views/UsbDriveConnection.vue
  packages/loading-screen/src/views/WelcomeBase.vue
Due: lint-packages

Grade and collection selection modals: Remove text
  packages/eos-components/src/components/CollectionSelectionModal.vue
  packages/eos-components/src/components/GradeSelectionModal.vue
Due: lint-packages

Welcome screen: More text edits
  packages/loading-screen/src/views/ContentSourceSelection.vue
  packages/loading-screen/src/views/Loading.vue
  packages/loading-screen/src/views/PermissionsCancelled.vue
  packages/loading-screen/src/views/PermissionsWrongFolder.vue
  packages/loading-screen/src/views/UsbDriveConnection.vue
  packages/loading-screen/src/views/Welcome.vue
Due: lint-packages

components: Change Welcome card text styles
  packages/eos-components/src/components/WelcomeCard.vue
Due: lint-packages

Welcome screen: Separate views for loading states
  packages/loading-screen/src/main.js
  packages/loading-screen/src/views/Loading.vue
  packages/loading-screen/src/views/LoadingError.vue
  packages/loading-screen/src/views/LoadingRetry.vue
Due: lint-packages

Welcome screen: Add footer slot to base component
  packages/loading-screen/src/App.vue
  packages/loading-screen/src/views/WelcomeBase.vue
Due: lint-packages

Welcome screen: Use WelcomeBase in loading views
  packages/loading-screen/src/views/Loading.vue
  packages/loading-screen/src/views/LoadingError.vue
  packages/loading-screen/src/views/LoadingRetry.vue
Due: lint-packages

Welcome screen: No title or body in base component
  packages/loading-screen/src/views/WelcomeBase.vue
Due: lint-packages

Welcome: Different views for 1st loading
  packages/loading-screen/src/main.js
  packages/loading-screen/src/views/LoadingInitial.vue
Due: lint-packages

Welcome: More text edits
  packages/loading-screen/src/views/ContentSourceSelection.vue
  packages/loading-screen/src/views/PermissionsCancelled.vue
  packages/loading-screen/src/views/PermissionsExplanation.vue
  packages/loading-screen/src/views/PermissionsWrongFolder.vue
  packages/loading-screen/src/views/UsbDriveConnection.vue
Due: lint-packages

Welcome: Add icons to folder error views
  packages/loading-screen/src/views/PermissionsCancelled.vue
  packages/loading-screen/src/views/PermissionsWrongFolder.vue
Due: lint-packages

Welcome: Redirect root to initial loading
  packages/loading-screen/src/main.js
Due: lint-packages

Bump version: 2.0.23 → 2.0.24
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Calculate the number of channels per collection
  kolibri_explore_plugin/views.py
Due: none

Use meaningful variable names
  kolibri_explore_plugin/views.py
Due: none

Load collection metadata from json
  kolibri_explore_plugin/views.py
Due: none

Move Download collection modals to the plugin
  kolibri_explore_plugin/assets/src/collections/intermediate-icons.png
  kolibri_explore_plugin/assets/src/collections/primary-icons.png
  kolibri_explore_plugin/assets/src/collections/secondary-icons.png
  kolibri_explore_plugin/assets/src/components/CollectionSelectionModal.vue
  kolibri_explore_plugin/assets/src/components/GradeSelectionModal.vue
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
  kolibri_explore_plugin/assets/src/constants.js
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
  packages/eos-components/src/constants.js
  packages/eos-components/src/main.js
Due: lint-frontend, lint-packages

fixup! Load collection metadata from json
  kolibri_explore_plugin/views.py
Due: none

Collections: Don't load the JSON twice
  kolibri_explore_plugin/views.py
Due: none

Adapt vue modals to new collections metadata
  kolibri_explore_plugin/assets/src/components/CollectionSelectionModal.vue
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
Due: lint-frontend

fixup! Adapt vue modals to new collections metadata
  kolibri_explore_plugin/assets/src/components/CollectionSelectionModal.vue
Due: lint-frontend

Add Kolibri version information to AboutModal
  kolibri_explore_plugin/assets/src/components/AboutModal.vue
Due: lint-frontend

Request downloading jobs after content request
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
Due: lint-frontend

Improve install progressbar behavior
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
Due: lint-frontend

Do not request download content if it's downloading
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
Due: lint-frontend

Lint fixes
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
Due: lint-frontend
