Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-packages

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
repos:
- repo: git://github.com/pre-commit/pre-commit-hooks
  rev: v2.0.0
  hooks:
  - id: trailing-whitespace
  - id: flake8
    args:
      # make flake8 compatible with black:
      - "--max-line-length=88"
      - "--ignore=E203,W503"
  - id: check-yaml
  - id: check-added-large-files
    args: ['--maxkb=2000']
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: '^.+?(\.json|\.po)$'
- repo: https://github.com/asottile/reorder_python_imports
  rev: v1.3.3
  hooks:
  - id: reorder-python-imports
- repo: local
  hooks:
  - id: lint-frontend
    name: Linting of JS, Vue, SCSS and CSS files on the frontend
    description: This hook handles all frontend linting for Kolibri
    entry: yarn run lint-frontend
    language: system
    files: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$
  - id: lint-packages
    name: Linting of JS and Vue files on the packages
    description: This hook handles all packages linting
    entry: yarn run lint-packages
    pass_filenames: false
    language: system
    files: ^packages/.*\.(js|vue)$

- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black

Collections backend: Allow stages with zero tasks
  kolibri_explore_plugin/collectionviews.py
Due: none

Collections backend: Skip stages without tasks
  kolibri_explore_plugin/collectionviews.py
Due: none

fixup! Backend: Add models for externally tagged content
  kolibri_explore_plugin/migrations/0001_initial.py
  kolibri_explore_plugin/models.py
Due: none

fixup! Add command and task to apply external tags
  kolibri_explore_plugin/management/commands/applyexternaltags.py
Due: none

Backend: Add models for externally tagged content
  kolibri_explore_plugin/migrations/0001_initial.py
  kolibri_explore_plugin/migrations/__init__.py
  kolibri_explore_plugin/models.py
Due: none

Components: Improve policy text punctuation
  packages/eos-components/src/components/PrivacyPolicyText.vue
Due: lint-packages

Bump version: 3.2.0 → 3.3.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Collections: Apply external tags to content
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
  kolibri_explore_plugin/collectionviews.py
Due: lint-frontend

Ignore more files
  .gitignore
Due: none

Collections backend: Remove tasks boilerplate
  kolibri_explore_plugin/collectionviews.py
Due: none

Add command and task to apply external tags
  kolibri_explore_plugin/management/__init__.py
  kolibri_explore_plugin/management/commands/__init__.py
  kolibri_explore_plugin/management/commands/applyexternaltags.py
  kolibri_explore_plugin/tasks.py
Due: none

Collections frontend: Show "0" in labels
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
Due: lint-frontend

Discovery: Add variation to section items per slide
  kolibri_explore_plugin/assets/src/views/DiscoveryPageCollections.vue
Due: lint-frontend

Discovery: Add a feature flag for the new collections
  kolibri_explore_plugin/assets/src/views/DiscoveryPage.vue
  kolibri_explore_plugin/kolibri_plugin.py
  kolibri_explore_plugin/options.py
Due: lint-frontend

Discovery: Make room for new implementation
  kolibri_explore_plugin/assets/src/views/DiscoveryPage.vue
  kolibri_explore_plugin/assets/src/views/DiscoveryPageCollections.vue
  kolibri_explore_plugin/assets/src/views/DiscoveryPageFullContent.vue
Due: lint-frontend

CardGrid: Allow passing items per slide
  kolibri_explore_plugin/assets/src/components/CategorizedList.vue
  packages/eos-components/src/components/CardGrid.vue
  packages/eos-components/src/components/SlidableCardGrid.vue
  packages/eos-components/src/components/SlidableGrid.vue
  packages/eos-components/src/constants.js
  packages/eos-components/src/utils.js
  packages/template-ui/src/views/Home.vue
  packages/template-ui/src/views/ListSection.vue
Due: lint-frontend, lint-packages

Discovery navbar: Update tab labels
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
Due: lint-frontend

Collections: Query backend models from frontend
  kolibri_explore_plugin/api_urls.py
  kolibri_explore_plugin/assets/src/apiResources.js
  kolibri_explore_plugin/viewsets.py
Due: lint-frontend

Search page: Improve parsing nodes
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
  packages/eos-components/src/utils.js
Due: lint-frontend, lint-packages

components: Remove hardcoded color from ChannelCard
  packages/eos-components/src/components/ChannelCard.vue
Due: lint-packages

Discovery: Tweak nodes so cards are clickable
  kolibri_explore_plugin/assets/src/views/DiscoveryPageCollections.vue
Due: lint-frontend

Discovery: Implement collections landing page
  kolibri_explore_plugin/assets/src/views/DiscoveryPageCollections.vue
  packages/eos-components/src/constants.js
Due: lint-frontend, lint-packages

Bump yarn to latest
  scripts/bootstrap.sh
Due: none

Rename the Welcome webapp
  .github/workflows/release-apps.yml
  .gitignore
  MANIFEST.in
  package.json
  packages/welcome-screen/.browserslistrc
  packages/welcome-screen/.eslintrc.js
  packages/welcome-screen/babel.config.js
  packages/welcome-screen/package.json
  packages/welcome-screen/public/favicon.ico
  packages/welcome-screen/public/index.html
  packages/welcome-screen/src/App.vue
  packages/welcome-screen/src/assets/download-selection.png
  packages/welcome-screen/src/assets/kolibri-logo.svg
  packages/welcome-screen/src/assets/usb-connect.jpg
  packages/welcome-screen/src/assets/usb-connected.jpg
  packages/welcome-screen/src/assets/usb-selection.png
  packages/welcome-screen/src/assets/welcome-bg-bottom-left.jpg
  packages/welcome-screen/src/assets/welcome-bg-top-right.jpg
  packages/welcome-screen/src/index.scss
  packages/welcome-screen/src/main.js
  packages/welcome-screen/src/store.js
  packages/welcome-screen/src/styles.scss
  packages/welcome-screen/src/views/ContentSourceSelection.vue
  packages/welcome-screen/src/views/Loading.vue
  packages/welcome-screen/src/views/LoadingError.vue
  packages/welcome-screen/src/views/LoadingInitial.vue
  packages/welcome-screen/src/views/LoadingRetry.vue
  packages/welcome-screen/src/views/PermissionsCancelled.vue
  packages/welcome-screen/src/views/PermissionsExplanation.vue
  packages/welcome-screen/src/views/PermissionsWrongFolder.vue
  packages/welcome-screen/src/views/UsbDriveConnection.vue
  packages/welcome-screen/src/views/Welcome.vue
  packages/welcome-screen/src/views/WelcomeBase.vue
  packages/welcome-screen/vue.config.js
  scripts/bundle_bundles.py
  scripts/clean.sh
Due: lint-packages

Bump version: 3.3.0 → 4.0.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Add pack metadata
  packages/eos-components/src/constants.js
Due: lint-packages

Add PackCard component
  packages/eos-components/src/assets/pack-thumbnails/artist.jpg
  packages/eos-components/src/assets/pack-thumbnails/athlete.jpg
  packages/eos-components/src/assets/pack-thumbnails/curious.jpg
  packages/eos-components/src/assets/pack-thumbnails/explorer.jpg
  packages/eos-components/src/assets/pack-thumbnails/inventor.jpg
  packages/eos-components/src/assets/pack-thumbnails/scientist.jpg
  packages/eos-components/src/components/PackCard.vue
  packages/eos-components/src/main.js
Due: lint-packages

Use vuex store properly
  packages/welcome-screen/src/App.vue
  packages/welcome-screen/src/main.js
  packages/welcome-screen/src/store.js
  packages/welcome-screen/src/views/UsbDriveConnection.vue
Due: lint-packages

Welcome: Set document.title per view
  packages/welcome-screen/src/App.vue
  packages/welcome-screen/src/main.js
Due: lint-packages

Welcome: Add new pack related views
  packages/welcome-screen/src/assets/pack.png
  packages/welcome-screen/src/main.js
  packages/welcome-screen/src/views/ContentSourceSelection.vue
  packages/welcome-screen/src/views/PackReady.vue
  packages/welcome-screen/src/views/PackSelection.vue
  packages/welcome-screen/src/views/PermissionsCancelled.vue
  packages/welcome-screen/src/views/PermissionsWrongFolder.vue
  packages/welcome-screen/src/views/UsbDriveConnection.vue
  packages/welcome-screen/src/views/Welcome.vue
Due: lint-packages

Welcome: Minor style changes
  packages/welcome-screen/src/views/PermissionsCancelled.vue
  packages/welcome-screen/src/views/PermissionsExplanation.vue
  packages/welcome-screen/src/views/PermissionsWrongFolder.vue
  packages/welcome-screen/src/views/UsbDriveConnection.vue
  packages/welcome-screen/src/views/Welcome.vue
  packages/welcome-screen/src/views/WelcomeBase.vue
Due: lint-packages
