Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend-format, lint-packages

lint-frontend-format:
  name: Linting of JS, Vue, SCSS and CSS files on the frontend
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

lint-packages:
  name: Linting of JS and Vue files on the packages
  description: This hook handles all packages linting
  entry: yarn run lint-packages
  pass_filenames: false
  language: system

Content modal: Prevent right click
  kolibri_explore_plugin/assets/src/views/ContentModal.vue
Due: lint-frontend-format

Update VERSION
  kolibri_explore_plugin/VERSION
Due: none

Bump version: 6.44.0 → 7.0.0rc1
  .bumpversion.cfg
Due: none

Fix download of artifacts during release
  .github/workflows/main.yml
Due: none

Bump version: 7.0.0rc1 → 7.0.0rc2
  .bumpversion.cfg
Due: none

Fix PyPI upload
  .github/workflows/main.yml
Due: none

Bump version: 7.0.0rc2 → 7.0.0rc3
  .bumpversion.cfg
Due: none

Refactor release workflow
  .github/workflows/bump2release.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

Validate and normalize tag for release workflow
  .github/workflows/release.yml
Due: none

Don't trigger app builds for major or rc releases
  .github/workflows/release.yml
Due: none

loading-screen: Set up i18n
  package.json
  packages/loading-screen/.gitignore
  packages/loading-screen/README.md
  packages/loading-screen/package.json
  packages/loading-screen/src/main.js
  yarn.lock
Due: lint-packages

loading-screen: Make various UI strings translatable
  packages/loading-screen/src/App.vue
  packages/loading-screen/src/views/LoadingError.vue
  packages/loading-screen/src/views/LoadingInitial.vue
  packages/loading-screen/src/views/LoadingRetry.vue
Due: lint-packages

loading-screen: Commit extracted English strings
  packages/loading-screen/lang/en-US.json
Due: none

loading-screen: Add initial Spanish translation
  packages/loading-screen/lang/es-419.json
  packages/loading-screen/src/main.js
Due: lint-packages

Import Spanish translation from spreadsheet
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/kolibri_explore_plugin.app-messages.json
Due: none

app: Drop compiled .mo files from git
  .gitignore
  kolibri_explore_plugin/locale/ach_UG/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/ar/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/bg_BG/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/bn_BD/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/de/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/el/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/en/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/es_ES/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/fa/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/ff_CM/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/fr_FR/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/gu_IN/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/ha/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/hi_IN/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/ht/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/id/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/it/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/ka/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/km/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/ko/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/mr/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/my/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/nyn/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/pt_BR/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/pt_MZ/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/sw_TZ/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/te/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/uk/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/ur_PK/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/vi/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/yo/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/zh_Hans/LC_MESSAGES/django.mo
  package.json
Due: none

Import Spanish ES translation from spreadsheet
  kolibri_explore_plugin/locale/es_ES/LC_MESSAGES/kolibri_explore_plugin.app-messages.json
Due: none

Scripts: Add tool to import translation
  scripts/import_translation.py
Due: none

Bump version: 7.0.0rc3 → 7.0.0rc4
  .bumpversion.cfg
Due: none

Include MO files in distribution
  MANIFEST.in
Due: none

Mark title of alphabetical channels as translatable
  kolibri_explore_plugin/assets/src/components/AlphabeticalChannelsList.vue
Due: lint-frontend-format

EkCardBody: Remove unused align-items-center
  packages/ek-components/src/components/EkCardBody.vue
Due: lint-packages

EkClamp: Add overflow hidden to wrapper element
  packages/ek-components/src/components/EkClamp.vue
Due: lint-packages

i18n: Update EN JSON files
  kolibri_explore_plugin/assets/src/intl-locale-data.js
  kolibri_explore_plugin/locale/en/LC_MESSAGES/ek-components-messages.json
  kolibri_explore_plugin/locale/en/LC_MESSAGES/kolibri_explore_plugin.app-messages.json
  kolibri_explore_plugin/locale/en/LC_MESSAGES/kolibri_explore_plugin.side_nav-messages.json
  kolibri_explore_plugin/locale/en/LC_MESSAGES/template-ui-messages.json
  kolibri_explore_plugin/locale/en/LC_MESSAGES/welcome-screen-messages.json
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/welcome-screen-messages.json
  kolibri_explore_plugin/locale/es_ES/LC_MESSAGES/welcome-screen-messages.json
Due: lint-frontend-format

docs: Expand on CSV workflow for i18n-download-translations
  docs/i18n.md
Due: none

locale: Move es_ES translation to es_419
  kolibri_explore_plugin/assets/src/intl-locale-data.js
  kolibri_explore_plugin/locale/es_ES/LC_MESSAGES/README.md
  kolibri_explore_plugin/locale/es_ES/LC_MESSAGES/kolibri_explore_plugin.app-messages.json
  kolibri_explore_plugin/locale/language_info.json
Due: lint-frontend-format

locale: Update es-419 translations from in-progress Google Docs sheets
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/ek-components-messages.json
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/kolibri_explore_plugin.app-messages.json
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/kolibri_explore_plugin.side_nav-messages.json
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/template-ui-messages.json
Due: none

template-ui: Use v-html to handle <strong> in translation
  packages/template-ui/src/components/ChannelFooter.vue
Due: lint-packages

Bump version: 7.0.0rc4 → 7.0.0
  .bumpversion.cfg
Due: none

ExploreIndex: Add SideNav component
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
  kolibri_explore_plugin/assets/src/modules/topicsRoot/index.js
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
Due: lint-frontend-format

styles: Tweak z-index for elements overlapping SideNav
  packages/ek-components/src/components/EkBackToTop.vue
  packages/ek-components/src/components/EkNavBar.vue
Due: lint-packages

plugin: Add an option to enable SideNav
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
  kolibri_explore_plugin/kolibri_plugin.py
  kolibri_explore_plugin/options.py
Due: lint-frontend-format

DiscoveryNavBar: Add a way to toggle the SideNav
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
Due: lint-frontend-format

loading-screen: Update es-419 translation with properly translated strings
  packages/loading-screen/lang/es-419.json
Due: none

Spanish translation: Add missing keys in JSON
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/kolibri_explore_plugin.app-messages.json
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/kolibri_explore_plugin.side_nav-messages.json
Due: none

Spanish translation: Import missing messages
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/kolibri_explore_plugin.app-messages.json
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/kolibri_explore_plugin.side_nav-messages.json
Due: none

Spanish translation: Revert removed messages
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/kolibri_explore_plugin.app-messages.json
Due: none

Spanish translation: QA pass of assessment messages
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/kolibri_explore_plugin.app-messages.json
Due: none

Spanish translation: Import template messages
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/template-ui-messages.json
Due: none

Path conditions:
  lint-frontend-format: any of: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|\.bumpversion.cfg$|build/|static/|dist/|node_modules/)
  lint-packages: any of: ^packages/.*\.(js|vue)$, but not: (\.git/|\.tox/|\.venv/|\.bumpversion.cfg$|build/|static/|dist/|node_modules/)
