Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend-format, lint-packages

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|\.bumpversion.cfg$|build/|static/|dist/|node_modules/)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.0.0
  hooks:
  - id: trailing-whitespace
  - id: flake8
  - id: check-yaml
  - id: check-added-large-files
    args: ['--maxkb=2000']
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: '^.+?(\.json|\.po)$'
- repo: https://github.com/asottile/reorder_python_imports
  rev: v2.6.0
  hooks:
  - id: reorder-python-imports
- repo: local
  hooks:
  - id: lint-frontend-format
    name: Linting of JS, Vue, SCSS and CSS files on the frontend
    description: This hook handles all frontend linting for Kolibri
    entry: yarn run lint-frontend:format
    language: system
    files: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$
  - id: lint-packages
    name: Linting of JS and Vue files on the packages
    description: This hook handles all packages linting
    entry: yarn run lint-packages
    pass_filenames: false
    language: system
    files: ^packages/.*\.(js|vue)$

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

Add custom presentation for Biblioteca Elejandria
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/icons/biblioteca-elejandria.png
  kolibri_explore_plugin/static/thumbnails/biblioteca-elejandria.png
  packages/template-ui/channel-overrides/biblioteca-elejandria/options.json
  packages/template-ui/channel-overrides/biblioteca-elejandria/styles.scss
Due: lint-frontend-format

Add custom presentation for CK-12 Spanish
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/icons/ck-12-spanish.png
  kolibri_explore_plugin/static/thumbnails/ck-12-spanish.png
  packages/template-ui/channel-overrides/ck-12-spanish/options.json
  packages/template-ui/channel-overrides/ck-12-spanish/styles.scss
Due: lint-frontend-format

Add custom presentation for Ceibal
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/icons/ceibal.png
  kolibri_explore_plugin/static/thumbnails/ceibal.png
  packages/template-ui/channel-overrides/ceibal/styles.scss
Due: lint-frontend-format

Add assets for Ciencia NASA
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/icons/ciencia-nasa.png
  kolibri_explore_plugin/static/thumbnails/ciencia-nasa.png
Due: lint-frontend-format

Add custom presentation for Ciensación
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/icons/ciensacion.png
  kolibri_explore_plugin/static/thumbnails/ciensacion.png
  packages/template-ui/channel-overrides/ciensacion/styles.scss
Due: lint-frontend-format

Add custom presentation for Proyecto Descartes
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/icons/proyecto-descartes.png
  kolibri_explore_plugin/static/thumbnails/proyecto-descartes.png
  packages/template-ui/channel-overrides/proyecto-descartes/options.json
  packages/template-ui/channel-overrides/proyecto-descartes/styles.scss
Due: lint-frontend-format

Add custom presentation for Proyecto Biosfera
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/icons/proyecto-biosfera.png
  kolibri_explore_plugin/static/thumbnails/proyecto-biosfera.png
  packages/template-ui/channel-overrides/proyecto-biosfera/options.json
  packages/template-ui/channel-overrides/proyecto-biosfera/styles.scss
Due: lint-frontend-format

Reuse Khan EN custom presentation for Khan ES
  kolibri_explore_plugin/assets/src/customApps.js
Due: lint-frontend-format

Collections backend: Import extra metadata per language
  kolibri_explore_plugin/collectionviews.py
Due: none

loading-screen: Fallback to loading language only translations
  packages/loading-screen/src/main.js
Due: lint-packages

loading-screen: Make translations regionless
  packages/loading-screen/lang/en.json
  packages/loading-screen/lang/es.json
  packages/loading-screen/package.json
  packages/loading-screen/src/main.js
Due: lint-packages

Bump version: 7.8.0 → 7.9.0
  .bumpversion.cfg
Due: none

ci: Fix version used for triggering kolibri-installer-android
  .github/workflows/release.yml
Due: none

Bump version: 7.9.0 → 7.10.0
  .bumpversion.cfg
Due: none

jobs: Fix remotecontentimport node_ids semantics
  kolibri_explore_plugin/collectionviews.py
  kolibri_explore_plugin/jobs.py
Due: none

jobs: Return enqueued task from enqueue_next_background_task
  kolibri_explore_plugin/jobs.py
Due: none

tests: Improve pytest failure logging
  pyproject.toml
Due: none

ci: Run pytest tests with debug logging
  .github/workflows/main.yml
Due: none

tests: Generate fake channel databases
  kolibri_explore_plugin/test/channels/1af9e59af51f4c27a145433b83e3cea2.json
  kolibri_explore_plugin/test/channels/1d11cf118c3d4691907a6abb880b7c20.json
  kolibri_explore_plugin/test/channels/411af6738f164071b150843b973c3bc1.json
  kolibri_explore_plugin/test/channels/4350f8ed80dd40dfbd4ed3c9732d449d.json
  kolibri_explore_plugin/test/channels/56048757b6644208a639fbdb03510ab8.json
  kolibri_explore_plugin/test/channels/5e7db57c21df4230bad6e8b365754632.json
  kolibri_explore_plugin/test/channels/64fa38415b4849629d027069b4110bab.json
  kolibri_explore_plugin/test/channels/65a2964ce74943778bdabb348caebb0d.json
  kolibri_explore_plugin/test/channels/6aba580c1c7b41ebaac64e5ef7b1cb08.json
  kolibri_explore_plugin/test/channels/817c628f90db40f2b489191c82e203c6.json
  kolibri_explore_plugin/test/channels/89c858dc2dd24512b2eff27ac12d3d4a.json
  kolibri_explore_plugin/test/channels/9c2e07c1bf8d4f4299e83592eb034020.json
  kolibri_explore_plugin/test/channels/README.md
  kolibri_explore_plugin/test/channels/b51baf46133045e3bce4d2d872a8f71d.json
  kolibri_explore_plugin/test/channels/b77bba2e4b884813b8e22d63b964fb73.json
  kolibri_explore_plugin/test/channels/be6a104a25d44c5682075c54f268eb43.json
  kolibri_explore_plugin/test/channels/dabc98a59edb40c0b4722d5e3df48bbc.json
  kolibri_explore_plugin/test/channels/db.json.template
  kolibri_explore_plugin/test/channels/dc4f1c59c6c34584b806004e77362e31.json
  kolibri_explore_plugin/test/channels/dd28be6f502c42b2a1d96396a930a446.json
  scripts/create_channeldb_json.py
Due: none

tests: Disable ping tasks
  kolibri_explore_plugin/test/plugin.py
Due: none

jobs: Lock database when enqueueing background task
  kolibri_explore_plugin/jobs.py
Due: none

tests: Add fixture to create content directory
  kolibri_explore_plugin/test/conftest.py
  kolibri_explore_plugin/test/utils.py
  scripts/create_contentdir.py
Due: none

tests: Add test collections
  kolibri_explore_plugin/test/collections/README.md
  kolibri_explore_plugin/test/collections/artist-0001.json
  kolibri_explore_plugin/test/collections/athlete-0001.json
  kolibri_explore_plugin/test/collections/curious-0001.json
  kolibri_explore_plugin/test/collections/explorer-0001.json
  kolibri_explore_plugin/test/collections/extras-0001.json
  kolibri_explore_plugin/test/collections/inventor-0001.json
  kolibri_explore_plugin/test/collections/pack.json.template
  kolibri_explore_plugin/test/collections/scientist-0001.json
  kolibri_explore_plugin/test/collections/spanish-0001.json
  kolibri_explore_plugin/test/collections/spanish-extras-0001.json
  kolibri_explore_plugin/test/conftest.py
  kolibri_explore_plugin/test/utils.py
  scripts/create_collection_pack.py
Due: none

tests: Add collectionviews API tests
  kolibri_explore_plugin/test/test_collectionviews.py
Due: none

tests: Add fixtures for channel and content imports
  kolibri_explore_plugin/test/conftest.py
  kolibri_explore_plugin/test/utils.py
Due: none

tests: Add jobs tests
  kolibri_explore_plugin/jobs.py
  kolibri_explore_plugin/models.py
  kolibri_explore_plugin/test/test_jobs.py
Due: none

tests: Add content server fixture
  kolibri_explore_plugin/test/conftest.py
  kolibri_explore_plugin/test/utils.py
Due: none

Add pytest-rerunfailures dev dependency
  Pipfile
  Pipfile.lock
Due: none

tests: Add download manager test
  kolibri_explore_plugin/test/test_collectionviews.py
Due: none

Add requests-mock dev dependency
  Pipfile
  Pipfile.lock
Due: none

Download: Skip unneeded channel import tasks
  kolibri_explore_plugin/collectionviews.py
  kolibri_explore_plugin/test/test_collectionviews.py
Due: none

jobs: Handle missing object in get_channel_metadata
  kolibri_explore_plugin/jobs.py
  kolibri_explore_plugin/test/test_jobs.py
Due: none

Bump version: 7.10.0 → 7.11.0
  .bumpversion.cfg
Due: none

Ignore generated _version.py in flake8 configuration
  .flake8
Due: none

tests: Lower content directory logging to DEBUG
  kolibri_explore_plugin/test/utils.py
Due: none

tests: Also copy channel JSON files into content directory
  kolibri_explore_plugin/test/utils.py
Due: none

tests: Run ContentServer in same process
  kolibri_explore_plugin/test/utils.py
Due: none

Download: Skip unneeded content import tasks
  kolibri_explore_plugin/collectionviews.py
  kolibri_explore_plugin/test/test_collectionviews.py
Due: none

Download: Import extra channels and thumbnails with single task
  kolibri_explore_plugin/collectionviews.py
  kolibri_explore_plugin/jobs.py
  kolibri_explore_plugin/test/test_collectionviews.py
  kolibri_explore_plugin/test/test_jobs.py
Due: none
