Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-packages

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files on the frontend
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend
  language: system

lint-packages:
  name: Linting of JS and Vue files on the packages
  description: This hook handles all packages linting
  entry: yarn run lint-packages
  pass_filenames: false
  language: system

Fall back to loading apps from the Python package
  kolibri_explore_plugin/views.py
Due: none

Filter out *.map files in custom channel bundles
  scripts/_common.py
Due: none

Bump version: 2.0.14 → 2.0.15
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

package.json: Update kolibri-design-system version
  package.json
  yarn.lock
Due: none

Add EndlessLearningCollection view
  kolibri_explore_plugin/urls.py
  kolibri_explore_plugin/views.py
Due: none

Add new InstallContentModal component
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
  kolibri_explore_plugin/assets/src/modules/coreExplore/actions.js
  kolibri_explore_plugin/assets/src/modules/coreExplore/mutations.js
  kolibri_explore_plugin/assets/src/modules/pluginModule.js
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
Due: lint-frontend

Refresh ChannelResource cache on download
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
Due: lint-frontend

InstallContentModal Handle downloading in in component state
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
Due: lint-frontend

InstallContentModal: Do not show progress if invalid
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
Due: lint-frontend

Show progress in bubble button when downloading
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
Due: lint-frontend

Bump version: 2.0.15 → 2.0.16
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

InstallContent: Requeue stalled jobs
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
  kolibri_explore_plugin/views.py
Due: lint-frontend

Import EK channels from USB if present
  kolibri_explore_plugin/views.py
Due: none

discovery: Add collection selection dialog
  kolibri_explore_plugin/api_urls.py
  kolibri_explore_plugin/assets/src/modules/coreExplore/actions.js
  kolibri_explore_plugin/assets/src/modules/coreExplore/mutations.js
  kolibri_explore_plugin/assets/src/modules/pluginModule.js
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
  kolibri_explore_plugin/kolibri_plugin.py
  kolibri_explore_plugin/urls.py
  kolibri_explore_plugin/views.py
  packages/eos-components/src/components/CollectionSelectionModal.vue
  packages/eos-components/src/components/InstallContentModal.vue
  packages/eos-components/src/main.js
Due: lint-frontend, lint-packages

loading: Add welcome view
  packages/loading-screen/src/App.vue
  packages/loading-screen/src/assets/welcome-bg-bottom-left.png
  packages/loading-screen/src/assets/welcome-bg-top-right.png
  packages/loading-screen/src/main.js
  packages/loading-screen/src/views/Loading.vue
  packages/loading-screen/src/views/Welcome.vue
Due: lint-packages

Remove map files from deployed loadingScreen
  package.json
Due: none

loading: Add EndlessKey view
  packages/loading-screen/src/App.vue
  packages/loading-screen/src/assets/endless-key.png
  packages/loading-screen/src/main.js
  packages/loading-screen/src/views/EndlessKey.vue
  packages/loading-screen/src/views/Welcome.vue
Due: lint-packages

Template, loading screen: Ensure light theme
  packages/loading-screen/public/index.html
  packages/template-ui/public/index.html
Due: none

Welcome screen: Disable download option if offline
  packages/loading-screen/src/views/Welcome.vue
Due: lint-packages

loading: Call to the EndlessAPI methods
  packages/loading-screen/src/views/EndlessKey.vue
  packages/loading-screen/src/views/Welcome.vue
Due: lint-packages

loading: Add default setHasUSB function
  packages/loading-screen/src/App.vue
Due: lint-packages

Bump version: 2.0.16 → 2.0.17
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Revert "Discovery: Integrate zim search with normal results"
  kolibri_explore_plugin/assets/src/searchApi.js
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

Revert "Discovery: Do not show <hr> if there's no nodes in search"
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

Revert "Discovery: Search in "all" zim channels"
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

Revert "Discovery: Play button to direct content for zim"
  kolibri_explore_plugin/assets/src/searchApi.js
  packages/eos-components/src/components/ContentCard.vue
Due: lint-frontend, lint-packages

Revert "Discovery: Link directly to zim content on click"
  kolibri_explore_plugin/assets/src/searchApi.js
  kolibri_explore_plugin/assets/src/views/CustomChannelPresentationApp.vue
  packages/template-ui/src/components/DetailViewFullScreen.vue
Due: lint-frontend, lint-packages

Revert "Discovery: Initial search inside the zim files"
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/assets/src/searchApi.js
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

loading: Remove back button from EndlessKey view when required
  packages/loading-screen/src/App.vue
  packages/loading-screen/src/main.js
  packages/loading-screen/src/views/EndlessKey.vue
Due: lint-packages

Show InstallContentModal if there are running jobs
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
  kolibri_explore_plugin/views.py
  packages/eos-components/src/components/InstallContentModal.vue
  packages/eos-components/src/constants.js
Due: lint-frontend, lint-packages

Welcome screen: Fix sticky footer and allow scroll
  packages/loading-screen/src/App.vue
  packages/loading-screen/src/views/Loading.vue
Due: lint-packages

Bump version: 2.0.17 → 2.0.18
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Welcome screen: Make initial screen responsive
  packages/loading-screen/src/assets/welcome-bg-bottom-left.jpg
  packages/loading-screen/src/assets/welcome-bg-bottom-left.png
  packages/loading-screen/src/assets/welcome-bg-top-right.jpg
  packages/loading-screen/src/assets/welcome-bg-top-right.png
  packages/loading-screen/src/views/Welcome.vue
Due: lint-packages

Welcome screen: Make USB page responsive
  packages/loading-screen/src/assets/endless-key.png
  packages/loading-screen/src/assets/usb-connect.jpg
  packages/loading-screen/src/assets/usb-connected.jpg
  packages/loading-screen/src/styles.scss
  packages/loading-screen/src/views/EndlessKey.vue
Due: lint-packages

Welcome screen: Split content source selection
  packages/loading-screen/src/main.js
  packages/loading-screen/src/views/ContentSourceSelection.vue
  packages/loading-screen/src/views/Welcome.vue
Due: lint-packages

Welcome screen: Rename view to connect USB
  packages/loading-screen/src/App.vue
  packages/loading-screen/src/main.js
  packages/loading-screen/src/views/UsbDriveConnection.vue
Due: lint-packages

Welcome screen: Redesign of source selection
  packages/loading-screen/src/assets/download-selection.png
  packages/loading-screen/src/assets/usb-selection.png
  packages/loading-screen/src/styles.scss
  packages/loading-screen/src/views/ContentSourceSelection.vue
Due: lint-packages

Welcome screen: Text edits for InstallContentModal
  packages/eos-components/src/components/InstallContentModal.vue
Due: lint-packages

Welcome screen: Remove not needed data from Welcome.vue
  packages/loading-screen/src/views/Welcome.vue
Due: lint-packages

Path conditions:
  lint-frontend: any of: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
  lint-packages: any of: ^packages/.*\.(js|vue)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
