Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend-format, lint-packages

lint-frontend-format:
  name: Linting of JS, Vue, SCSS and CSS files on the frontend
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

lint-packages:
  name: Linting of JS and Vue files on the packages
  description: This hook handles all packages linting
  entry: yarn run lint-packages
  pass_filenames: false
  language: system

Spanish translation: Merge all messages into app JSON
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/kolibri_explore_plugin.app-messages.json
Due: none

Spanish translation: Duplicate es_419 to es_ES
  kolibri_explore_plugin/locale/es_ES/LC_MESSAGES/README.md
  kolibri_explore_plugin/locale/es_ES/LC_MESSAGES/ek-components-messages.json
  kolibri_explore_plugin/locale/es_ES/LC_MESSAGES/kolibri_explore_plugin.app-messages.json
  kolibri_explore_plugin/locale/es_ES/LC_MESSAGES/kolibri_explore_plugin.side_nav-messages.json
  kolibri_explore_plugin/locale/es_ES/LC_MESSAGES/template-ui-messages.json
Due: none

Spanish translation: add missing message
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/kolibri_explore_plugin.app-messages.json
Due: none

AboutModal: Translate build date to current locale
  kolibri_explore_plugin/assets/src/components/AboutModal.vue
Due: lint-frontend-format

Spanish translation: Switch verbs to infinitive
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/ek-components-messages.json
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/kolibri_explore_plugin.app-messages.json
  kolibri_explore_plugin/locale/es_ES/LC_MESSAGES/ek-components-messages.json
  kolibri_explore_plugin/locale/es_ES/LC_MESSAGES/kolibri_explore_plugin.app-messages.json
Due: none

Filters: Make filter labels translatable
  packages/ek-components/src/constants.js
  packages/template-ui/src/components/FilterDropDown.vue
Due: lint-packages

Spanish translation: translate filters to Spanish
  kolibri_explore_plugin/locale/en/LC_MESSAGES/ek-components-messages.json
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/ek-components-messages.json
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/kolibri_explore_plugin.app-messages.json
  kolibri_explore_plugin/locale/es_ES/LC_MESSAGES/ek-components-messages.json
  kolibri_explore_plugin/locale/es_ES/LC_MESSAGES/kolibri_explore_plugin.app-messages.json
Due: none

Bump version: 7.0.0 → 7.1.0
  .bumpversion.cfg
Due: none

Handlers: Fix root URL redirect
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
Due: lint-frontend-format

Style: Import all used font weights
  packages/ek-components/package.json
  packages/ek-components/src/index.scss
  packages/loading-screen/package.json
  packages/loading-screen/src/index.scss
  yarn.lock
Due: none

Spanish translation: Fix typo
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/kolibri_explore_plugin.app-messages.json
  kolibri_explore_plugin/locale/es_ES/LC_MESSAGES/kolibri_explore_plugin.app-messages.json
Due: none

Pack selection: Fix download page mounting early
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
Due: lint-frontend-format

Collections backend: Add spanish pack
  kolibri_explore_plugin/collectionviews.py
Due: none

Bump version: 7.1.0 → 7.2.0
  .bumpversion.cfg
Due: none

Bump version: 7.2.0 → 7.3.0
  .bumpversion.cfg
Due: none

Feedback form: Use different URL for Spanish
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
  kolibri_explore_plugin/kolibri_plugin.py
  kolibri_explore_plugin/options.py
Due: lint-frontend-format

Fix Windows release trigger
  .github/workflows/release.yml
Due: none

Bump version: 7.3.0 → 7.4.0
  .bumpversion.cfg
Due: none

Routing: Fix one more page mounting early
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
Due: lint-frontend-format

Bump version: 7.4.0 → 7.5.0
  .bumpversion.cfg
Due: none

Theme: Change secondary color
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
  packages/ek-components/src/components/EkTopicCard.vue
  packages/ek-components/src/styles.scss
Due: lint-frontend-format, lint-packages

Theme: Update theme colors
  packages/ek-components/src/components/EkPlayButton.vue
  packages/ek-components/src/styles.scss
Due: lint-packages

Use endless orange in "Get Endless Key" button
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
Due: lint-frontend-format

Explore navbar: Don't stretch "get" button
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
Due: lint-frontend-format

Bump version: 7.5.0 → 7.6.0
  .bumpversion.cfg
Due: none

Download content pack even when there is content
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
Due: lint-frontend-format

Download manager: Rename start method
  kolibri_explore_plugin/collectionviews.py
Due: none

Download manager: Set initial state on get status
  kolibri_explore_plugin/collectionviews.py
Due: none

Download page: Make progress bar orange again
  kolibri_explore_plugin/assets/src/views/DownloadPage.vue
Due: lint-frontend-format

Feedback form: Add hidden fields
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
  kolibri_explore_plugin/kolibri_plugin.py
Due: lint-frontend-format

build: Copy setup.cfg data to pyproject.toml
  pyproject.toml
Due: none

WIP: build: Pass multiple namespaces to i18n-extract-messages
  package.json
Due: none

Update to kolibri 0.16.0-beta6
  Pipfile
  Pipfile.lock
Due: none

views: Use cache_control decorator instead of metadata_cache
  kolibri_explore_plugin/views.py
Due: none

Bump version: 7.6.0 → 7.7.0
  .bumpversion.cfg
Due: none

Bump version: 7.7.0 → 7.8.0
  .bumpversion.cfg
Due: none

Trigger kolibri-installer-android with dispatch event
  .github/workflows/release.yml
  scripts/trigger_jenkins.py
Due: none

docs: Various updates to the i18n documentation based on recent work
  docs/i18n.md
Due: none

Path conditions:
  lint-frontend-format: any of: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|\.bumpversion.cfg$|build/|static/|dist/|node_modules/)
  lint-packages: any of: ^packages/.*\.(js|vue)$, but not: (\.git/|\.tox/|\.venv/|\.bumpversion.cfg$|build/|static/|dist/|node_modules/)
