Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-packages

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
repos:
- repo: git://github.com/pre-commit/pre-commit-hooks
  rev: v2.0.0
  hooks:
  - id: trailing-whitespace
  - id: flake8
    args:
      # make flake8 compatible with black:
      - "--max-line-length=88"
      - "--ignore=E203,W503"
  - id: check-yaml
  - id: check-added-large-files
    args: ['--maxkb=2000']
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: '^.+?(\.json|\.po)$'
- repo: https://github.com/asottile/reorder_python_imports
  rev: v1.3.3
  hooks:
  - id: reorder-python-imports
- repo: local
  hooks:
  - id: lint-frontend
    name: Linting of JS, Vue, SCSS and CSS files on the frontend
    description: This hook handles all frontend linting for Kolibri
    entry: yarn run lint-frontend
    language: system
    files: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$
  - id: lint-packages
    name: Linting of JS and Vue files on the packages
    description: This hook handles all packages linting
    entry: yarn run lint-packages
    pass_filenames: false
    language: system
    files: ^packages/.*\.(js|vue)$

- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black

template: Use material icon in SectionsSearchRow
  packages/template-ui/src/components/SectionsSearchRow.vue
Due: lint-packages

Components: Set ChannelLogo background-size to 101%
  packages/eos-components/src/components/ChannelLogo.vue
Due: lint-packages

template: avoid onload race condition
  packages/template-ui/src/components/ContentImage.vue
Due: lint-packages

Discovery: Move AboutModal to ExploreIndex
  kolibri_explore_plugin/assets/src/views/ChannelsPage.vue
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

Discovery: Fix margins in AboutModal
  kolibri_explore_plugin/assets/src/components/AboutModal.vue
Due: lint-frontend

Highlighted content: pull in new data from spread sheet
  kolibri_explore_plugin/static/highlighted-content.json
Due: none

Template: Set MagnifyIcon size to KeywordIconSize
  packages/template-ui/src/components/SectionsSearchRow.vue
Due: lint-packages

template: Same breadcrumb styles for pbs-kids
  packages/template-ui/channel-overrides/pbs-kids/styles.scss
Due: none

template: Fix lint in pbs-kids override
  packages/template-ui/channel-overrides/pbs-kids/components/ChannelHeader.vue
Due: lint-packages

components: Add prevent modifier to PlayButton
  packages/eos-components/src/components/PlayButton.vue
Due: lint-packages

CI: Set @vue/cli version to v4.5.15
  .github/workflows/lint.yml
  .github/workflows/node.yml
  .github/workflows/release-apps.yml
  scripts/bootstrap.sh
Due: none

Discovery: Scroll to top when clicking the Search tab
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
Due: lint-frontend

Discovery: Update credids in the About modal
  kolibri_explore_plugin/assets/src/components/AboutModal.vue
Due: lint-frontend

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump version: 2.0.9 → 2.0.10
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Discovery page: group Oceanx channel under Science and Experiments
  kolibri_explore_plugin/assets/src/customApps.js
Due: lint-frontend

Discovery page: remove Howto section
  kolibri_explore_plugin/assets/src/customApps.js
Due: lint-frontend

Discovery: Fix initial query in SearchPage
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

Discovery: Fix link to Support site in About modal
  kolibri_explore_plugin/assets/src/components/AboutModal.vue
Due: lint-frontend

Bump version: 2.0.10 → 2.0.11
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

template: Update assets for smaller header backgrounds
  packages/template-ui/channel-overrides/arts/assets/header-background.jpg
  packages/template-ui/channel-overrides/beauty/assets/header-background.jpg
  packages/template-ui/channel-overrides/careers/assets/header-background.jpg
  packages/template-ui/channel-overrides/cooking/assets/header-background.jpg
  packages/template-ui/channel-overrides/dance/assets/header-background.jpg
  packages/template-ui/channel-overrides/fashion/assets/header-background.jpg
  packages/template-ui/channel-overrides/financial-literacy/assets/header-background.jpg
  packages/template-ui/channel-overrides/gaming/assets/header-background.jpg
  packages/template-ui/channel-overrides/gardening/assets/header-background.jpg
  packages/template-ui/channel-overrides/healthy-body/assets/header-background.jpg
  packages/template-ui/channel-overrides/healthy-mind/assets/header-background.jpg
  packages/template-ui/channel-overrides/jewelry-making/assets/header-background.jpg
  packages/template-ui/channel-overrides/lgbtq/assets/header-background.jpg
  packages/template-ui/channel-overrides/music/assets/header-background.jpg
  packages/template-ui/channel-overrides/novels/assets/header-background.jpg
  packages/template-ui/channel-overrides/reading/assets/header-background.jpg
  packages/template-ui/channel-overrides/sports/assets/header-background.jpg
  packages/template-ui/channel-overrides/staff-playlist/assets/header-background.jpg
  packages/template-ui/channel-overrides/steam/assets/header-background.jpg
  packages/template-ui/channel-overrides/virtual-field-trips/assets/header-background.jpg
  packages/template-ui/channel-overrides/wikihow/assets/header-background.jpg
Due: none

Discovery: Open support link in default browser
  kolibri_explore_plugin/assets/src/components/AboutModal.vue
Due: lint-frontend

components: Focus SearchBar on activated
  packages/eos-components/src/components/SearchBar.vue
Due: lint-packages

Discovery: Drop search results from previous queries
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
  kolibri_explore_plugin/assets/src/modules/topicsRoot/index.js
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

template: Make bundles description 50% wide
  packages/template-ui/src/views/BundleSection.vue
Due: lint-packages

channel overrides: switch to new Chapter Books channel
  kolibri_explore_plugin/assets/src/customApps.js
Due: lint-frontend

discovery: Ignore previous search promises
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
  kolibri_explore_plugin/assets/src/modules/topicsRoot/index.js
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

Bump version: 2.0.11 → 2.0.12
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

discovery: Fix extraFields in ContentItem
  kolibri_explore_plugin/assets/src/views/ContentItem.vue
Due: lint-frontend

plugin: Add auto authentication middleware and settings
  kolibri_explore_plugin/middleware.py
  kolibri_explore_plugin/settings.py
Due: none

Discovery: Update url params on keyword removed
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

Discovery: Set progress to 100 on SearchPage deactivate
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

components: SearchBar: focus on clear
  packages/eos-components/src/components/SearchBar.vue
Due: lint-packages

scripts: Add script to review the highlighted IDs
  scripts/review_highlighted.py
Due: none

content: Update highlighted content
  kolibri_explore_plugin/static/highlighted-content.json
Due: none

Bump version: 2.0.12 → 2.0.13
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

scripts: Improve review highlighted script
  scripts/review_highlighted.py
Due: none

discovery: Emit resize event after fullscreen
  kolibri_explore_plugin/assets/src/app.js
Due: lint-frontend
