Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-packages

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files on the frontend
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend
  language: system

lint-packages:
  name: Linting of JS and Vue files on the packages
  description: This hook handles all packages linting
  entry: yarn run lint-packages
  pass_filenames: false
  language: system

components: Make KeywordIconSize a constant
  packages/eos-components/src/components/Keywords.vue
  packages/eos-components/src/constants.js
Due: lint-packages

Bump version: 2.0.5 → 2.0.6
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

components: Add progress property to SearchBar
  packages/eos-components/src/components/SearchBar.vue
Due: lint-packages

discovery: Add keyword list to SearchPage
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

discovery: Add progress to SearchPage
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

Discovery: Reset search input on Search tab select
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
  kolibri_explore_plugin/assets/src/routes/index.js
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

style: Add extra padding to containers
  packages/eos-components/src/index.scss
  packages/eos-components/src/styles.scss
Due: none

Discovery: Disable search input during search
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
  packages/eos-components/src/components/SearchBar.vue
Due: lint-frontend, lint-packages

components: Improve slidable cards
  packages/eos-components/src/components/CardGrid.vue
  packages/eos-components/src/components/SlidableCardGrid.vue
  packages/template-ui/src/views/Search.vue
Due: lint-packages

components: Improve buttons in row of cards
  packages/eos-components/src/components/SlidableCardGrid.vue
  packages/eos-components/src/styles.scss
Due: lint-packages

components: Use Material arrow in SectionTitle
  packages/template-ui/src/components/SectionTitle.vue
Due: lint-packages

template: Replace route when receiving params
  packages/template-ui/src/App.vue
Due: lint-packages

template: Create channel override for wikihow
  kolibri_explore_plugin/assets/src/customApps.js
  packages/template-ui/channel-overrides/wikihow/components/Breadcrumb.vue
  packages/template-ui/channel-overrides/wikihow/components/DetailView.vue
  packages/template-ui/channel-overrides/wikihow/options.json
  packages/template-ui/channel-overrides/wikihow/styles.scss
Due: lint-frontend, lint-packages

components: Improve buttons in row of cards
  packages/eos-components/src/components/SlidableCardGrid.vue
Due: lint-packages

Add custom presentation for individual category based wikiHow channels
  kolibri_explore_plugin/assets/src/customApps.js
  packages/template-ui/channel-overrides/wikihow-arts-and-entertainment/components/Breadcrumb.vue
  packages/template-ui/channel-overrides/wikihow-arts-and-entertainment/components/DetailView.vue
  packages/template-ui/channel-overrides/wikihow-arts-and-entertainment/options.json
  packages/template-ui/channel-overrides/wikihow-arts-and-entertainment/styles.scss
  packages/template-ui/channel-overrides/wikihow-computers-and-electronics/components/Breadcrumb.vue
  packages/template-ui/channel-overrides/wikihow-computers-and-electronics/components/DetailView.vue
  packages/template-ui/channel-overrides/wikihow-computers-and-electronics/options.json
  packages/template-ui/channel-overrides/wikihow-computers-and-electronics/styles.scss
  packages/template-ui/channel-overrides/wikihow-hobbies-and-crafts/components/Breadcrumb.vue
  packages/template-ui/channel-overrides/wikihow-hobbies-and-crafts/components/DetailView.vue
  packages/template-ui/channel-overrides/wikihow-hobbies-and-crafts/options.json
  packages/template-ui/channel-overrides/wikihow-hobbies-and-crafts/styles.scss
Due: lint-frontend, lint-packages

template: Move defaultContentNode logic to a NavigationGuard
  packages/template-ui/src/router/index.js
  packages/template-ui/src/views/Home.vue
Due: lint-packages

Set defaultContentNode for each WikiHow channel
  packages/template-ui/channel-overrides/wikihow-arts-and-entertainment/options.json
  packages/template-ui/channel-overrides/wikihow-computers-and-electronics/options.json
  packages/template-ui/channel-overrides/wikihow-hobbies-and-crafts/options.json
Due: none

scripts: Add script to ingest highlighted content
  .gitignore
  README.md
  scripts/_common.py
  scripts/ingest_highlighted.py
Due: none

template: Add DetailViewFullScreen component
  packages/template-ui/channel-overrides/wikihow-arts-and-entertainment/components/Breadcrumb.vue
  packages/template-ui/channel-overrides/wikihow-arts-and-entertainment/options.json
  packages/template-ui/channel-overrides/wikihow-computers-and-electronics/components/Breadcrumb.vue
  packages/template-ui/channel-overrides/wikihow-computers-and-electronics/components/DetailView.vue
  packages/template-ui/channel-overrides/wikihow-computers-and-electronics/options.json
  packages/template-ui/channel-overrides/wikihow-hobbies-and-crafts/components/Breadcrumb.vue
  packages/template-ui/channel-overrides/wikihow-hobbies-and-crafts/components/DetailView.vue
  packages/template-ui/channel-overrides/wikihow-hobbies-and-crafts/options.json
  packages/template-ui/channel-overrides/wikihow/components/Breadcrumb.vue
  packages/template-ui/channel-overrides/wikihow/components/DetailView.vue
  packages/template-ui/channel-overrides/wikihow/options.json
  packages/template-ui/channel-overrides/wikipedia/components/Breadcrumb.vue
  packages/template-ui/channel-overrides/wikipedia/components/DetailView.vue
  packages/template-ui/channel-overrides/wikipedia/options.json
  packages/template-ui/src/components/Breadcrumb.vue
  packages/template-ui/src/components/DetailViewFullScreen.vue
  packages/template-ui/src/store/index.js
  packages/template-ui/src/views/Content.vue
Due: lint-packages

template: Breadcrumb component improvements
  packages/template-ui/channel-overrides/wikihow-arts-and-entertainment/options.json
  packages/template-ui/channel-overrides/wikihow-computers-and-electronics/options.json
  packages/template-ui/channel-overrides/wikihow-hobbies-and-crafts/options.json
  packages/template-ui/channel-overrides/wikihow/options.json
  packages/template-ui/channel-overrides/wikipedia/options.json
  packages/template-ui/src/components/Breadcrumb.vue
  packages/template-ui/src/components/ChannelNavBar.vue
  packages/template-ui/src/store/index.js
Due: lint-packages

template: Keep the search state
  packages/template-ui/src/App.vue
  packages/template-ui/src/router/index.js
  packages/template-ui/src/store/index.js
  packages/template-ui/src/views/Search.vue
Due: lint-packages

template: Keep the state of the Home
  packages/template-ui/src/App.vue
Due: lint-packages

template: Clear filters on going home from Breadcrumb
  packages/template-ui/src/components/Breadcrumb.vue
  packages/template-ui/src/components/ChannelNavBar.vue
  packages/template-ui/src/router/index.js
Due: lint-packages

template: Fix style of titles for empty results
  packages/eos-components/src/styles.scss
  packages/template-ui/src/components/EmptyResultsMessage.vue
  packages/template-ui/src/views/Content.vue
  packages/template-ui/src/views/Search.vue
Due: lint-packages

components: BackToTop, scroll smoothly
  packages/eos-components/src/components/BackToTop.vue
Due: lint-packages

template: Make all pill buttons small
  packages/template-ui/src/components/FilterContent.vue
  packages/template-ui/src/components/FilterDropDown.vue
  packages/template-ui/src/components/MainSections.vue
  packages/template-ui/src/components/MediaFilterButtons.vue
  packages/template-ui/src/components/SectionsSearchRow.vue
Due: lint-packages

discovery: Fix wording
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
  kolibri_explore_plugin/assets/src/views/ChannelsPage.vue
Due: lint-frontend

template: FilterDropDown, improve design
  packages/template-ui/src/components/FilterDropDown.vue
Due: lint-packages

components: BackToTop, improve design
  packages/eos-components/src/components/BackToTop.vue
Due: lint-packages

components: ChannelsCard, make channel asset more round
  packages/eos-components/src/components/ChannelCard.vue
Due: lint-packages

API: Use the custom icon in template queries
  kolibri_explore_plugin/assets/src/kolibriApi.js
Due: lint-frontend

discovery: Move list of channels to a separate component
  kolibri_explore_plugin/assets/src/components/ChannelsList.vue
  kolibri_explore_plugin/assets/src/views/ChannelsPage.vue
Due: lint-frontend

discovery: Refactor search view
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

Bump version: 2.0.6 → 2.0.7
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Update default content node for WikiHow
  packages/template-ui/channel-overrides/wikihow/options.json
Due: none

discovery: Set backFromCustomPage for all channel routes
  kolibri_explore_plugin/assets/src/routes/index.js
Due: lint-frontend

debugging: Expose IDs in cards
  packages/eos-components/src/components/CardBody.vue
  packages/eos-components/src/components/TopicCard.vue
Due: lint-packages

Update defaultContentNode for Wikipedia
  packages/template-ui/channel-overrides/wikipedia/options.json
Due: none

scripts: Allow commented rows in ingest content script
  scripts/ingest_highlighted.py
Due: none

Path conditions:
  lint-frontend: any of: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
  lint-packages: any of: ^packages/.*\.(js|vue)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
