Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-packages

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files on the frontend
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend
  language: system

lint-packages:
  name: Linting of JS and Vue files on the packages
  description: This hook handles all packages linting
  entry: yarn run lint-packages
  pass_filenames: false
  language: system

filter: Add pagination using new API
  packages/eos-components/src/components/CardGrid.vue
  packages/eos-components/src/components/CollapsibleCardGrid.vue
  packages/template-ui/src/components/FilterResult.vue
Due: lint-packages

Bring back filters with new API call
  packages/eos-components/src/constants.js
  packages/template-ui/src/App.vue
  packages/template-ui/src/components/FilterContent.vue
  packages/template-ui/src/components/FilterResult.vue
  packages/template-ui/src/store/index.js
  packages/template-ui/src/store/modules/filters.js
  packages/template-ui/src/utils.js
  packages/template-ui/src/views/Home.vue
Due: lint-packages

filter: Remove StructuredTags filtering
  packages/template-ui/src/components/FilterContent.vue
  packages/template-ui/src/components/FilterResult.vue
Due: lint-packages

!fixup filter: Add pagination using new API
  packages/eos-components/src/components/CollapsibleCardGrid.vue
Due: lint-packages

template: Remove CSS height rules
  packages/template-ui/src/App.vue
Due: lint-packages

pbs-kids: Update components overrides
  packages/template-ui/channel-overrides/pbs-kids/components/ChannelHeader.vue
  packages/template-ui/channel-overrides/pbs-kids/components/ChannelNavBar.vue
  packages/template-ui/channel-overrides/pbs-kids/components/Footer.vue
Due: lint-packages

filter: Update filter parameter name
  packages/template-ui/src/components/FilterContent.vue
  packages/template-ui/src/components/FilterResult.vue
Due: lint-packages

Fix subsection navigation
  packages/eos-components/src/components/CardGridPlaceholder.vue
  packages/template-ui/src/views/ListSection.vue
Due: lint-packages

Components: Apply bundle card style to bundles
  packages/eos-components/src/components/Card.vue
  packages/eos-components/src/components/ContentCard.vue
  packages/eos-components/src/utils.js
Due: lint-packages

template: Fix pagination in collapsible cardgrid
  packages/eos-components/src/components/CardGrid.vue
  packages/eos-components/src/components/CollapsibleCardGrid.vue
  packages/template-ui/src/components/FilterResult.vue
Due: lint-packages

template: Add pagination to slidable cardgrid
  packages/eos-components/src/components/CardGrid.vue
  packages/eos-components/src/components/SlidableCardGrid.vue
  packages/eos-components/src/constants.js
  packages/template-ui/src/views/Home.vue
Due: lint-packages

template: Add pagination to ListSection
  packages/template-ui/src/views/ListSection.vue
Due: lint-packages

template: Use pagination in inline sections and bundles
  packages/eos-components/src/components/CardGrid.vue
  packages/eos-components/src/components/CollapsibleCardGrid.vue
  packages/eos-components/src/components/PaginatedCardGrid.vue
  packages/eos-components/src/constants.js
  packages/template-ui/src/views/BundleSection.vue
  packages/template-ui/src/views/Home.vue
  packages/template-ui/src/views/ListSection.vue
  packages/template-ui/src/views/Section.vue
Due: lint-packages

template: Remove PaginatedCardGrid component
  packages/eos-components/src/components/CardGrid.vue
  packages/eos-components/src/components/PaginatedCardGrid.vue
  packages/eos-components/src/main.js
Due: lint-packages

Update API calls to use new cursor pagination
  packages/template-ui/src/components/FilterResult.vue
  packages/template-ui/src/views/BundleSection.vue
  packages/template-ui/src/views/Home.vue
  packages/template-ui/src/views/ListSection.vue
  packages/template-ui/src/views/Section.vue
Due: lint-packages

Don't use children_count attribute
  packages/template-ui/src/views/ListSection.vue
  packages/template-ui/src/views/Section.vue
Due: lint-packages

Discovery: Initial migration to Kolibri 0.15.x
  kolibri_explore_plugin/assets/package.json
  kolibri_explore_plugin/kolibri_plugin.py
  kolibri_explore_plugin/views.py
  kolibri_explore_plugin/viewsets.py
  yarn.lock
Due: none

Discovery: Backport kolibri-api
  kolibri_explore_plugin/assets/src/app.js
  kolibri_explore_plugin/assets/src/kolibriApi.js
Due: lint-frontend

Discovery: Get carousel nodes with new API
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
Due: lint-frontend

Discovery: Link to learn plugin in KolibriApi
  kolibri_explore_plugin/assets/src/kolibriApi.js
Due: lint-frontend

Discovery: Remove custom resources
  kolibri_explore_plugin/api_urls.py
  kolibri_explore_plugin/assets/src/apiResources.js
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
  kolibri_explore_plugin/assets/src/modules/topicsTree/handlers.js
  kolibri_explore_plugin/kolibri_plugin.py
  kolibri_explore_plugin/viewsets.py
Due: lint-frontend

Discovery: Use new API for custom renderer
  kolibri_explore_plugin/assets/src/kolibriApi.js
  kolibri_explore_plugin/assets/src/views/CustomChannelPresentationApp.vue
  kolibri_explore_plugin/views.py
Due: lint-frontend

Discovery: Update plugin modal to work with new API
  kolibri_explore_plugin/assets/src/kolibriApi.js
  kolibri_explore_plugin/assets/src/views/ContentItem.vue
Due: lint-frontend

Discovery: Use getRandomNodes for carousel nodes
  kolibri_explore_plugin/assets/src/kolibriApi.js
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
Due: lint-frontend

template: Use getRandomNodes for carousel nodes
  packages/template-ui/src/views/Home.vue
Due: lint-packages

template: Use the new getContentPage API
  kolibri_explore_plugin/assets/src/kolibriApi.js
  packages/template-ui/src/components/FilterResult.vue
  packages/template-ui/src/views/Home.vue
  packages/template-ui/src/views/ListSection.vue
  packages/template-ui/src/views/Section.vue
Due: lint-frontend, lint-packages

template: Fix bundle view
  packages/template-ui/src/views/Section.vue
Due: lint-packages

Fix lint issues, default props
  kolibri_explore_plugin/assets/src/kolibriApi.js
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/ExerciseAttempts/index.vue
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/index.vue
  kolibri_explore_plugin/assets/src/views/ChannelsPage.vue
  packages/eos-components/src/components/ButtonsBar.vue
  packages/eos-components/src/components/Card.vue
  packages/eos-components/src/components/CardBody.vue
  packages/eos-components/src/components/CardGrid.vue
  packages/eos-components/src/components/Carousel.vue
  packages/eos-components/src/components/CarouselCard.vue
  packages/eos-components/src/components/ChannelLogo.vue
  packages/eos-components/src/components/CollapsibleCardGrid.vue
  packages/eos-components/src/components/ContentCard.vue
  packages/eos-components/src/components/ContentLink.vue
  packages/eos-components/src/components/GridPage.vue
  packages/eos-components/src/components/PlayButton.vue
  packages/eos-components/src/components/SearchButton.vue
  packages/eos-components/src/components/SlidableCardGrid.vue
  packages/eos-components/src/components/TopicCard.vue
  packages/template-ui/channel-overrides/pbs-kids/components/ChannelHeader.vue
  packages/template-ui/channel-overrides/pbs-kids/components/ChannelNavBar.vue
  packages/template-ui/src/components/Breadcrumb.vue
  packages/template-ui/src/components/ChannelHeader.vue
  packages/template-ui/src/components/ChannelNavBar.vue
  packages/template-ui/src/components/ContentImage.vue
  packages/template-ui/src/components/FilterDropDown.vue
  packages/template-ui/src/components/SectionTitle.vue
  packages/template-ui/src/views/BundleSection.vue
  packages/template-ui/src/views/ListSection.vue
Due: lint-frontend, lint-packages

api: Update onlyContent filter
  kolibri_explore_plugin/assets/src/kolibriApi.js
Due: lint-frontend

Require any Python 3 and update dependencies
  Pipfile
  Pipfile.lock
Due: none

Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Add changelog
  CHANGELOG.md
Due: none

discovery: Update assesment wrapper copied from 0.15
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/ExerciseAttempts/AnswerIcon.vue
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/ExerciseAttempts/index.vue
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/LessonMasteryBar.vue
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/OverallStatus.vue
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/index.vue
Due: lint-frontend

Discovery page: Apply custom styles in AssessmentWrapper
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/ExerciseAttempts/AnswerIcon.vue
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/ExerciseAttempts/index.vue
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/OverallStatus.vue
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/index.vue
Due: lint-frontend

Fix filtering pagination
  packages/template-ui/src/components/FilterResult.vue
  packages/template-ui/src/views/BundleSection.vue
  packages/template-ui/src/views/Home.vue
  packages/template-ui/src/views/ListSection.vue
  packages/template-ui/src/views/Section.vue
Due: lint-packages

template: Apply filter in topics
  kolibri_explore_plugin/assets/src/kolibriApi.js
  packages/template-ui/src/components/FilterResult.vue
Due: lint-frontend, lint-packages

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump version: 1.0.3 → 2.0.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

template: Don't show resources count on topics
  packages/eos-components/src/components/TopicCard.vue
Due: lint-packages

template: Use descendant_of filter
  kolibri_explore_plugin/assets/src/kolibriApi.js
  packages/template-ui/src/components/FilterResult.vue
Due: lint-frontend, lint-packages

Path conditions:
  lint-frontend: any of: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
  lint-packages: any of: ^packages/.*\.(js|vue)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
