Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-packages

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
repos:
- repo: git://github.com/pre-commit/pre-commit-hooks
  rev: v2.0.0
  hooks:
  - id: trailing-whitespace
  - id: flake8
    args:
      # make flake8 compatible with black:
      - "--max-line-length=88"
      - "--ignore=E203,W503"
  - id: check-yaml
  - id: check-added-large-files
    args: ['--maxkb=2000']
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: '^.+?(\.json|\.po)$'
- repo: https://github.com/asottile/reorder_python_imports
  rev: v1.3.3
  hooks:
  - id: reorder-python-imports
- repo: local
  hooks:
  - id: lint-frontend
    name: Linting of JS, Vue, SCSS and CSS files on the frontend
    description: This hook handles all frontend linting for Kolibri
    entry: yarn run lint-frontend
    language: system
    files: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$
  - id: lint-packages
    name: Linting of JS and Vue files on the packages
    description: This hook handles all packages linting
    entry: yarn run lint-packages
    pass_filenames: false
    language: system
    files: ^packages/.*\.(js|vue)$

- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black

EK utils: Make lodash import more specific
  packages/ek-components/src/utils.js
Due: lint-packages

Discovery: Add channel to highlighted nodes
  kolibri_explore_plugin/assets/src/views/DiscoveryPageContenPacks.vue
Due: lint-frontend

Fix and simplify EkCardBody
  packages/ek-components/src/components/EkCardBody.vue
Due: lint-packages

Search: Factor out adding channel to result nodes
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
  packages/ek-components/src/utils.js
Due: lint-frontend, lint-packages

SectionsSearchRow: Move button group to a column
  packages/template-ui/src/components/SectionsSearchRow.vue
Due: lint-packages

SectionsSearchRow: Add Download button
  packages/template-ui/src/components/SectionsSearchRow.vue
Due: lint-packages

searchChannelsOnce: parametrize showing unavailable content
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

CI: Generate release note automatically
  .github/release.yml
  .github/workflows/main.yml
Due: none

Search page: Add switch to control showing unavailable content
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

KolibriAPI: searchContent: parametrize showing unavailable content
  kolibri_explore_plugin/assets/src/kolibriApi.js
  packages/template-ui/src/views/Search.vue
Due: lint-frontend, lint-packages

ShowChannels: parametrize showing unavailable content
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
  kolibri_explore_plugin/assets/src/routes/index.js
Due: lint-frontend

fixup! KolibriAPI: searchContent: parametrize showing unavailable content
  packages/template-ui/src/views/Search.vue
Due: lint-packages

KolibriAPI: getContentByFilter: parametrize showing unavailable content
  kolibri_explore_plugin/assets/src/kolibriApi.js
  packages/template-ui/src/App.vue
  packages/template-ui/src/components/FilterResult.vue
  packages/template-ui/src/views/Content.vue
  packages/template-ui/src/views/Home.vue
  packages/template-ui/src/views/ListSection.vue
  packages/template-ui/src/views/Section.vue
Due: lint-frontend, lint-packages

SectionsSearchRow: Redirect to Devices tab for download
  packages/template-ui/src/components/SectionsSearchRow.vue
Due: lint-packages

kolibriApi: Add method to get URLs
  kolibri_explore_plugin/assets/src/kolibriApi.js
Due: lint-frontend

fixup! KolibriAPI: getContentByFilter: parametrize showing unavailable content
  packages/template-ui/src/App.vue
  packages/template-ui/src/components/FilterResult.vue
  packages/template-ui/src/views/Content.vue
  packages/template-ui/src/views/Home.vue
  packages/template-ui/src/views/ListSection.vue
  packages/template-ui/src/views/Section.vue
Due: lint-packages

Download: Add a stage to import all channels
  kolibri_explore_plugin/collectionviews.py
Due: none

WIP: Download: Import extra channels in the background
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
  kolibri_explore_plugin/assets/src/views/DownloadPage.vue
  kolibri_explore_plugin/collectionviews.py
Due: lint-frontend

Bump version: 6.2.0 → 6.3.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

CI: Fix the missed step id for job's output
  .github/workflows/bump2release.yml
Due: none

Bump version: 6.3.0 → 6.4.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

CI: Fix bump_version typo
  .github/workflows/bump2release.yml
Due: none

Bump version: 6.4.0 → 6.5.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

setup.py: Use README as the long description for PyPI
  setup.py
Due: none

fixup! setup.py: Use README as the long description for PyPI
  setup.py
Due: none

Bump version: 6.5.0 → 6.6.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Bump version: 6.6.0 → 6.7.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

CI: Fix checkout branch for bump version from wrokflow
  .github/workflows/main.yml
Due: none

CI: Add workflow dispatch feature into main workflow
  .github/workflows/main.yml
Due: none

CI: Bump actions/checkout to version 3
  .github/workflows/lint.yml
  .github/workflows/node.yml
Due: none

CI: Bump actions/setup-python to version 4
  .github/workflows/bump2release.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/node.yml
Due: none

CI: Bump actions/setup-node to version 3
  .github/workflows/bump2release.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/node.yml
Due: none

Bump version: 6.7.0 → 6.8.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Bump kolibri-tools version
  kolibri_explore_plugin/assets/package.json
  yarn.lock
Due: none
