Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-packages

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files on the frontend
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend
  language: system

lint-packages:
  name: Linting of JS and Vue files on the packages
  description: This hook handles all packages linting
  entry: yarn run lint-packages
  pass_filenames: false
  language: system

discovery: Use curated content in carousel
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
Due: lint-frontend

data: Update highlighted content
  kolibri_explore_plugin/static/highlighted-content.json
Due: none

discovery: Rotate highlighted content
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
Due: lint-frontend

template: Add custom API to get highlighted content
  kolibri_explore_plugin/assets/src/kolibriApi.js
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
  packages/eos-components/src/utils.js
  packages/template-ui/src/store/index.js
  packages/template-ui/src/views/Home.vue
Due: lint-frontend, lint-packages

Add overrides for WikiHow category channels
  kolibri_explore_plugin/assets/src/customApps.js
  packages/template-ui/channel-overrides/wikihow-cars-and-other-vehicles/options.json
  packages/template-ui/channel-overrides/wikihow-cars-and-other-vehicles/styles.scss
  packages/template-ui/channel-overrides/wikihow-education-and-communications/options.json
  packages/template-ui/channel-overrides/wikihow-education-and-communications/styles.scss
  packages/template-ui/channel-overrides/wikihow-food-and-entertaining/options.json
  packages/template-ui/channel-overrides/wikihow-food-and-entertaining/styles.scss
  packages/template-ui/channel-overrides/wikihow-holidays-and-traditions/options.json
  packages/template-ui/channel-overrides/wikihow-holidays-and-traditions/styles.scss
  packages/template-ui/channel-overrides/wikihow-home-and-garden/options.json
  packages/template-ui/channel-overrides/wikihow-home-and-garden/styles.scss
  packages/template-ui/channel-overrides/wikihow-personal-care-and-style/options.json
  packages/template-ui/channel-overrides/wikihow-personal-care-and-style/styles.scss
  packages/template-ui/channel-overrides/wikihow-sports-and-fitness/options.json
  packages/template-ui/channel-overrides/wikihow-sports-and-fitness/styles.scss
  packages/template-ui/channel-overrides/wikihow-work-world/options.json
  packages/template-ui/channel-overrides/wikihow-work-world/styles.scss
  packages/template-ui/channel-overrides/wikihow-youth/options.json
  packages/template-ui/channel-overrides/wikihow-youth/styles.scss
Due: lint-frontend

template: Show channel logo always in the topbar
  packages/template-ui/src/components/ChannelNavBar.vue
Due: lint-packages

Discovery page: add the card assets for the wikiHow channels
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/thumbnails/wikihow-arts-and-entertainment.jpg
  kolibri_explore_plugin/static/thumbnails/wikihow-cars-and-other-vehicles.jpg
  kolibri_explore_plugin/static/thumbnails/wikihow-computers-and-electronics.jpg
  kolibri_explore_plugin/static/thumbnails/wikihow-education-and-communications.jpg
  kolibri_explore_plugin/static/thumbnails/wikihow-food-and-entertaining.jpg
  kolibri_explore_plugin/static/thumbnails/wikihow-hobbies-and-crafts.jpg
  kolibri_explore_plugin/static/thumbnails/wikihow-holidays-and-traditions.jpg
  kolibri_explore_plugin/static/thumbnails/wikihow-home-and-garden.jpg
  kolibri_explore_plugin/static/thumbnails/wikihow-personal-care-and-style.jpg
  kolibri_explore_plugin/static/thumbnails/wikihow-sports-and-fitness.jpg
  kolibri_explore_plugin/static/thumbnails/wikihow-work-world.jpg
  kolibri_explore_plugin/static/thumbnails/wikihow-youth.jpg
Due: lint-frontend

template: Remove row wrapper for heading
  packages/eos-components/src/components/CardGridPlaceholder.vue
  packages/template-ui/src/views/Content.vue
  packages/template-ui/src/views/Home.vue
  packages/template-ui/src/views/ListSection.vue
Due: lint-packages

Adding overrides including assets for the new channels
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/icons/beauty.png
  kolibri_explore_plugin/static/icons/fashion.png
  kolibri_explore_plugin/static/icons/jewelry-making.png
  kolibri_explore_plugin/static/icons/novels.png
  kolibri_explore_plugin/static/icons/virtual-field-trips.png
  kolibri_explore_plugin/static/thumbnails/beauty.jpg
  kolibri_explore_plugin/static/thumbnails/fashion.jpg
  kolibri_explore_plugin/static/thumbnails/jewelry.jpg
  kolibri_explore_plugin/static/thumbnails/lgbtq.jpg
  kolibri_explore_plugin/static/thumbnails/virtual-field-trips.jpg
  packages/template-ui/channel-overrides/beauty/assets/header-background.jpg
  packages/template-ui/channel-overrides/beauty/options.json
  packages/template-ui/channel-overrides/beauty/styles.scss
  packages/template-ui/channel-overrides/fashion/assets/header-background.jpg
  packages/template-ui/channel-overrides/fashion/options.json
  packages/template-ui/channel-overrides/fashion/styles.scss
  packages/template-ui/channel-overrides/jewelry-making/assets/header-background.jpg
  packages/template-ui/channel-overrides/jewelry-making/options.json
  packages/template-ui/channel-overrides/jewelry-making/styles.scss
  packages/template-ui/channel-overrides/lgbtq/assets/header-background.jpg
  packages/template-ui/channel-overrides/lgbtq/options.json
  packages/template-ui/channel-overrides/lgbtq/styles.scss
  packages/template-ui/channel-overrides/novels/assets/header-background.jpg
  packages/template-ui/channel-overrides/novels/options.json
  packages/template-ui/channel-overrides/novels/styles.scss
  packages/template-ui/channel-overrides/virtual-field-trips/assets/header-background.jpg
  packages/template-ui/channel-overrides/virtual-field-trips/options.json
  packages/template-ui/channel-overrides/virtual-field-trips/styles.scss
Due: lint-frontend

Add missing thumbnails for cards
  kolibri_explore_plugin/static/thumbnails/jewelry-making.jpg
  kolibri_explore_plugin/static/thumbnails/novels.jpg
Due: none

Icon fix for LGBTQ channel
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/icons/lgbtq.png
Due: lint-frontend

template: New BackButton component
  packages/template-ui/src/components/BackButton.vue
  packages/template-ui/src/components/ChannelHeader.vue
  packages/template-ui/src/components/DetailView.vue
Due: lint-packages

Bump version: 2.0.7 → 2.0.8
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Discovery: Fix the support link in about dialog
  kolibri_explore_plugin/assets/src/components/AboutModal.vue
Due: lint-frontend

template: Support dark background in BackButton
  packages/template-ui/src/components/BackButton.vue
  packages/template-ui/src/components/ChannelHeader.vue
Due: lint-packages

template: Adapt detail button to image width
  packages/template-ui/src/components/ContentImage.vue
Due: lint-packages

template: ContentImage half container until xs
  packages/template-ui/src/views/BundleSection.vue
  packages/template-ui/src/views/Content.vue
Due: lint-packages

DetailView: Fix bundle columns with new styles
  packages/template-ui/src/components/ContentImage.vue
  packages/template-ui/src/components/DetailView.vue
Due: lint-packages

template: Polish ContentImage and DetailView
  packages/template-ui/src/components/ContentImage.vue
  packages/template-ui/src/components/DetailView.vue
  packages/template-ui/src/views/Content.vue
Due: lint-packages

template: Move ContentImage constant styles to styles.scss
  packages/template-ui/src/components/ContentImage.vue
  packages/template-ui/src/styles.scss
Due: lint-packages

template: Revert using a custom API for fetching the carousel nodes
  packages/template-ui/src/views/Home.vue
Due: lint-packages

discovery: Customize the API for fetching random nodes
  kolibri_explore_plugin/assets/src/kolibriApi.js
Due: lint-frontend

Add overrride for Staff Playlist channel
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/icons/staff-playlist.png
  kolibri_explore_plugin/static/thumbnails/staff-playlist.jpg
  packages/template-ui/channel-overrides/staff-playlist/assets/header-background.jpg
  packages/template-ui/channel-overrides/staff-playlist/options.json
  packages/template-ui/channel-overrides/staff-playlist/styles.scss
Due: lint-frontend

New asset for bg in Jewelry channel
  packages/template-ui/channel-overrides/jewelry-making/assets/header-background.jpg
Due: none

Discovery: Show search results as soon as possible
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

Discovery: SEARCH_MAX_RESULTS to 32
  kolibri_explore_plugin/assets/src/constants.js
Due: lint-frontend

discovery: Use slidable grid for channels
  kolibri_explore_plugin/assets/src/components/CategorizedChannelsList.vue
  packages/eos-components/src/components/SlidableCardGrid.vue
  packages/eos-components/src/components/SlidableGrid.vue
  packages/eos-components/src/main.js
Due: lint-frontend, lint-packages

discovery: Search page, display channels in alphabetical order
  kolibri_explore_plugin/assets/src/components/AlphabeticalChannelsList.vue
  kolibri_explore_plugin/assets/src/components/CategorizedChannelsList.vue
  kolibri_explore_plugin/assets/src/views/ChannelsPage.vue
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

Discovery: Organize channels in categories
  kolibri_explore_plugin/assets/src/components/ChannelsList.vue
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/assets/src/views/ChannelsPage.vue
Due: lint-frontend

discovery: Use 3 cards per slide in categorized channels
  kolibri_explore_plugin/assets/src/components/CategorizedChannelsList.vue
  packages/eos-components/src/components/SlidableGrid.vue
Due: lint-frontend, lint-packages

Discovery: place the Keywords at the top in the Search
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

Increase search debounce time and trigger with Enter
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
  packages/eos-components/src/components/SearchBar.vue
  packages/template-ui/src/views/Search.vue
Due: lint-frontend, lint-packages

Move SearchPage debounce time to constants
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
  packages/eos-components/src/components/SearchBar.vue
  packages/eos-components/src/constants.js
  packages/template-ui/src/views/Search.vue
Due: lint-frontend, lint-packages

template: Remove carousel from some channels
  kolibri_explore_plugin/assets/src/customApps.js
  packages/template-ui/channel-overrides/coronavirus/options.json
  packages/template-ui/channel-overrides/coronavirus/styles.scss
  packages/template-ui/channel-overrides/open-stax/options.json
  packages/template-ui/channel-overrides/phet-interactive-simulations/options.json
  packages/template-ui/channel-overrides/thoughtful-learning/options.json
Due: lint-frontend

template: Add new override option for setting carousel kinds
  packages/template-ui/src/store/index.js
  packages/template-ui/src/views/Home.vue
Due: lint-packages

template: Set carousel videos in some channels
  packages/template-ui/channel-overrides/khan-academy/options.json
  packages/template-ui/channel-overrides/ted-ed-lessons/options.json
Due: none

Bump version: 2.0.8 → 2.0.9
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

template: Do not modify filter state object inplace
  packages/template-ui/src/components/FilterResult.vue
Due: lint-packages

Add override for wikiHow (PDF format) channel
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/icons/wikihow.png
  kolibri_explore_plugin/static/thumbnails/wikihow.jpg
  packages/template-ui/channel-overrides/wikihow/assets/header-background.jpg
  packages/template-ui/channel-overrides/wikihow/options.json
  packages/template-ui/channel-overrides/wikihow/styles.scss
Due: lint-frontend

Path conditions:
  lint-frontend: any of: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
  lint-packages: any of: ^packages/.*\.(js|vue)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
