Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend-format, lint-packages

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibri_explore_plugin/vendor/)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.0.0
  hooks:
  - id: trailing-whitespace
  - id: flake8
  - id: check-yaml
  - id: check-added-large-files
    args: ['--maxkb=2000']
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: '^.+?(\.json|\.po)$'
- repo: https://github.com/asottile/reorder_python_imports
  rev: v2.6.0
  hooks:
  - id: reorder-python-imports
- repo: local
  hooks:
  - id: lint-frontend-format
    name: Linting of JS, Vue, SCSS and CSS files on the frontend
    description: This hook handles all frontend linting for Kolibri
    entry: yarn run lint-frontend:format
    language: system
    files: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$
  - id: lint-packages
    name: Linting of JS and Vue files on the packages
    description: This hook handles all packages linting
    entry: yarn run lint-packages
    pass_filenames: false
    language: system
    files: ^packages/.*\.(js|vue)$

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

Fix bootstrap arguments passed to pipenv
  scripts/bootstrap.sh
Due: none

Override remotecontentimport task priority to high
  kolibri_explore_plugin/assets/src/modules/manageContent/handlers.js
  kolibri_explore_plugin/collectionviews.py
  kolibri_explore_plugin/tasks.py
Due: lint-frontend-format

Bump version: 6.34.0 → 6.35.0
  .bumpversion.cfg
Due: none

Update release name for major Manatee release
  kolibri_explore_plugin/VERSION
Due: none

Custom channel presentation: add carousel for SAMHSA channel
  kolibri_explore_plugin/assets/src/customApps.js
  packages/template-ui/channel-overrides/samhsa/options.json
Due: lint-frontend-format

Bump version: 6.35.0 → 6.36.0
  .bumpversion.cfg
Due: none

Custom channel presentation: add also empty styles file.
  packages/template-ui/channel-overrides/samhsa/styles.scss
Due: none

Bump version: 6.36.0 → 6.37.0
  .bumpversion.cfg
Due: none

welcome-screen: Update background assets
  packages/welcome-screen/src/assets/welcome-bg-bottom-left.jpg
  packages/welcome-screen/src/assets/welcome-bg-bottom-left.png
  packages/welcome-screen/src/assets/welcome-bg-top-right.jpg
  packages/welcome-screen/src/assets/welcome-bg-top-right.png
  packages/welcome-screen/src/views/Welcome.vue
Due: lint-packages

Bump version: 6.37.0 → 6.38.0
  .bumpversion.cfg
Due: none

Add python testing infrastructure
  .github/workflows/main.yml
  .gitignore
  Pipfile
  Pipfile.lock
  README.md
  kolibri_explore_plugin/test/README.md
  kolibri_explore_plugin/test/plugin.py
  kolibri_explore_plugin/test/settings.py
  package.json
  pyproject.toml
Due: none

Add tests for plugin models
  kolibri_explore_plugin/fixtures/test-content.json
  kolibri_explore_plugin/test/conftest.py
  kolibri_explore_plugin/test/test_models.py
Due: none

Add SPDX copyright headers to all python modules
  kolibri_explore_plugin/__init__.py
  kolibri_explore_plugin/api_urls.py
  kolibri_explore_plugin/apps_config.py
  kolibri_explore_plugin/collectionviews.py
  kolibri_explore_plugin/kolibri_plugin.py
  kolibri_explore_plugin/management/commands/applyexternaltags.py
  kolibri_explore_plugin/models.py
  kolibri_explore_plugin/options.py
  kolibri_explore_plugin/tasks.py
  kolibri_explore_plugin/urls.py
  kolibri_explore_plugin/views.py
  kolibri_explore_plugin/viewsets.py
  scripts/_common.py
  scripts/build_template_overrides.py
  scripts/bump_version.py
  scripts/bundle_bundles.py
  scripts/bundle_zip.py
  scripts/clear_override.py
  scripts/create_mock_nodes.py
  scripts/ensure_override.py
  scripts/ingest_highlighted.py
  scripts/review_highlighted.py
  scripts/set_override.py
Due: none

Factor out job running code
  kolibri_explore_plugin/apps_config.py
  kolibri_explore_plugin/collectionviews.py
  kolibri_explore_plugin/jobs.py
  kolibri_explore_plugin/tasks.py
Due: none

Handle incomplete background jobs with StorageHook
  kolibri_explore_plugin/__init__.py
  kolibri_explore_plugin/apps_config.py
  kolibri_explore_plugin/jobs.py
  kolibri_explore_plugin/kolibri_plugin.py
Due: none

Prioritize thumbnail downloads for pack's channels
  kolibri_explore_plugin/collectionviews.py
Due: none

Serialize background tasks
  kolibri_explore_plugin/collectionviews.py
  kolibri_explore_plugin/jobs.py
Due: none

Download extra channels in the background
  kolibri_explore_plugin/collectionviews.py
  kolibri_explore_plugin/jobs.py
Due: none

Add model for background tasks
  kolibri_explore_plugin/jobs.py
  kolibri_explore_plugin/migrations/0002_backgroundtask.py
  kolibri_explore_plugin/models.py
Due: none

Bump version: 6.38.0 → 6.39.0
  .bumpversion.cfg
Due: none

PhET Simulations: Adjust header color
  packages/template-ui/channel-overrides/phet-interactive-simulations/styles.scss
Due: none

Fix featured channel icons on discovery page
  kolibri_explore_plugin/assets/src/views/DiscoveryPageContenPacks.vue
Due: lint-frontend-format

Bump version: 6.39.0 → 6.40.0
  .bumpversion.cfg
Due: none

template-ui: Make various UI strings translatable
  packages/template-ui/src/components/Breadcrumb.vue
  packages/template-ui/src/components/ChannelFooter.vue
  packages/template-ui/src/components/EmptyResultsMessage.vue
  packages/template-ui/src/components/FilterContent.vue
  packages/template-ui/src/components/FilterDropDown.vue
  packages/template-ui/src/components/MainSections.vue
  packages/template-ui/src/components/SectionsSearchRow.vue
  packages/template-ui/src/views/BundleSection.vue
  packages/template-ui/src/views/Content.vue
  packages/template-ui/src/views/Search.vue
  packages/template-ui/src/views/Test.vue
Due: lint-packages

template-ui: Use <strong> instead of <span> in a translatable string
  packages/template-ui/src/components/ChannelFooter.vue
Due: lint-packages

ci: Install gettext on CI machines
  .github/workflows/main.yml
  .github/workflows/node.yml
Due: none

i18n: Add initial Spanish translation
  kolibri_explore_plugin/locale/es_ES/LC_MESSAGES/README.md
  kolibri_explore_plugin/locale/es_ES/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/es_ES/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/es_ES/LC_MESSAGES/kolibri_explore_plugin.app-messages.json
  kolibri_explore_plugin/locale/es_ES/LC_MESSAGES/welcome-screen-messages.json
Due: none

build: Add i18n machinery
  .gitignore
  docs/i18n.md
  kolibri_explore_plugin/locale/README.md
  kolibri_explore_plugin/locale/language_info.json
  package.json
  setup.cfg
  yarn.lock
Due: none

i18n: Add generated locale and translation files
  kolibri_explore_plugin/assets/src/intl-locale-data.js
  kolibri_explore_plugin/assets/src/vue-intl-locale-data.js
  kolibri_explore_plugin/locale/en/LC_MESSAGES/README.md
  kolibri_explore_plugin/locale/en/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/en/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/en/LC_MESSAGES/kolibri_explore_plugin.app-messages.json
  kolibri_explore_plugin/locale/en/LC_MESSAGES/welcome-screen-messages.json
Due: lint-frontend-format

NavBar: Add download button
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
Due: lint-frontend-format

Explain how to workaround version in editable mode
  README.md
Due: none

Revert "Fix featured channel icons on discovery page"
  kolibri_explore_plugin/assets/src/views/DiscoveryPageContenPacks.vue
Due: lint-frontend-format

ek-components: Make various UI strings translatable
  packages/ek-components/src/components/EkCollapsibleCardGrid.vue
  packages/ek-components/src/components/EkSearchBar.vue
  packages/ek-components/src/components/EkSlidableGrid.vue
  packages/ek-components/src/components/EkTopicCard.vue
Due: lint-packages

ek-components: Note that the privacy policy is deliberately not translated
  packages/ek-components/src/components/EkPrivacyPolicyText.vue
Due: lint-packages

template-ui: Call i18nSetup() to set up i18n for Vue
  packages/template-ui/src/main.js
Due: lint-packages

Really fix featured channel icons on discovery page
  kolibri_explore_plugin/assets/src/views/DiscoveryPageContenPacks.vue
Due: lint-frontend-format

Bump version: 6.40.0 → 6.41.0
  .bumpversion.cfg
Due: none
