Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend-format, lint-packages

lint-frontend-format:
  name: Linting of JS, Vue, SCSS and CSS files on the frontend
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

lint-packages:
  name: Linting of JS and Vue files on the packages
  description: This hook handles all packages linting
  entry: yarn run lint-packages
  pass_filenames: false
  language: system

gitignore: Allow collections to be a symlink
  .gitignore
Due: none

Add custom channel and content node APIs without caching
  kolibri_explore_plugin/api_urls.py
  kolibri_explore_plugin/viewsets.py
Due: none

Override content resources to use our endpoints
  kolibri_explore_plugin/assets/src/apiResources.js
  kolibri_explore_plugin/assets/src/kolibriApi.js
  kolibri_explore_plugin/assets/src/modules/coreExplore/actions.js
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
  kolibri_explore_plugin/assets/src/views/ContentPage.vue
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend-format

Pipfile: Update Pipfile.lock for dependent packages management
  Pipfile.lock
Due: none

bootstrap: Using pipenv for Deployments and avoid re-lock Pipfile
  scripts/bootstrap.sh
Due: none

ci: Add --ci argument to bootstrap.sh and use it from CI jobs
  .github/workflows/bump2release.yml
  .github/workflows/main.yml
  .github/workflows/node.yml
  scripts/bootstrap.sh
Due: none

ci: Run bootstrap.sh with bash not sh
  .github/workflows/bump2release.yml
  .github/workflows/main.yml
Due: none

Bump version: 6.26.0 → 6.27.0
  .bumpversion.cfg
Due: none

build: Include build/kolibri_explore_plugin.app_stats.json
  MANIFEST.in
Due: none

Bump version: 6.27.0 → 6.28.0
  .bumpversion.cfg
Due: none

build: Include all the yarn-built app files in the dist wheel
  MANIFEST.in
Due: none

Bump version: 6.28.0 → 6.29.0
  .bumpversion.cfg
Due: none

Bump version: 6.29.0 → 6.30.0
  .bumpversion.cfg
Due: none

Revert "Override remotecontentimport task"
  kolibri_explore_plugin/collectionviews.py
  kolibri_explore_plugin/tasks.py
Due: none

Revert "FileDownload: Add transfer_size property"
  kolibri_explore_plugin/vendor/file_transfer.py
Due: none

Revert "Vendor file_transfer.py from Kolibri 0.16.0-alpha12"
  .flake8
  .pre-commit-config.yaml
  kolibri_explore_plugin/vendor/__init__.py
  kolibri_explore_plugin/vendor/file_transfer.py
  pyproject.toml
Due: none

Bump version: 6.30.0 → 6.31.0
  .bumpversion.cfg
Due: none

Welcome: Drop USB/SD option from Welcome screen
  packages/welcome-screen/src/views/Welcome.vue
Due: lint-packages

Bump version: 6.31.0 → 6.32.0
  .bumpversion.cfg
Due: none

packages: Use babel configuration from kolibri-tools
  packages/ek-components/babel.config.js
  packages/template-ui/babel.config.js
  packages/welcome-screen/babel.config.js
Due: lint-packages

build: Add missing babel config for root package
  babel.config.js
Due: none

packages: Unify browserslists used by packages
  packages/ek-components/package.json
  packages/template-ui/.browserslistrc
  packages/template-ui/package.json
  packages/welcome-screen/.browserslistrc
  packages/welcome-screen/package.json
Due: none

build: Enable babel transpilation when building kolibri-explore-plugin
  package.json
Due: none

Blockly override: new layout for custom EN/ES channel
  kolibri_explore_plugin/assets/src/customApps.js
  packages/template-ui/channel-overrides/blockly-games/options.json
Due: lint-frontend-format

Bump version: 6.32.0 → 6.33.0
  .bumpversion.cfg
Due: none

Channel override: adjust representation for the removal of bundles
  packages/template-ui/channel-overrides/ted-ed-lessons/options.json
Due: none

Add @babel/preset-env to dependencies
  package.json
  yarn.lock
Due: none

Custom channel presentation: add Virtual Science Teachers
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/icons/virtual-science-teachers.png
  kolibri_explore_plugin/static/thumbnails/virtual-science-teachers.jpg
  packages/template-ui/channel-overrides/virtual-science-teachers/options.json
  packages/template-ui/channel-overrides/virtual-science-teachers/styles.scss
Due: lint-frontend-format

Custom channel representation: add SAMSHA channel
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/icons/samhsa.png
  kolibri_explore_plugin/static/thumbnails/samhsa.png
Due: lint-frontend-format

Bump version: 6.33.0 → 6.34.0
  .bumpversion.cfg
Due: none

Fix bootstrap arguments passed to pipenv
  scripts/bootstrap.sh
Due: none

Welcome screen: Remove unused USB storage views
  packages/welcome-screen/src/App.vue
  packages/welcome-screen/src/assets/usb-connect.jpg
  packages/welcome-screen/src/assets/usb-connected.jpg
  packages/welcome-screen/src/assets/usb-selection.png
  packages/welcome-screen/src/main.js
  packages/welcome-screen/src/views/PermissionsCancelled.vue
  packages/welcome-screen/src/views/PermissionsExplanation.vue
  packages/welcome-screen/src/views/PermissionsWrongFolder.vue
  packages/welcome-screen/src/views/UsbDriveConnection.vue
Due: lint-packages

Override remotecontentimport task priority to high
  kolibri_explore_plugin/assets/src/modules/manageContent/handlers.js
  kolibri_explore_plugin/collectionviews.py
  kolibri_explore_plugin/tasks.py
Due: lint-frontend-format

Path conditions:
  lint-frontend-format: any of: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibri_explore_plugin/vendor/)
  lint-packages: any of: ^packages/.*\.(js|vue)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibri_explore_plugin/vendor/)
