Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend-format, lint-packages

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibri_explore_plugin/vendor/)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.0.0
  hooks:
  - id: trailing-whitespace
  - id: flake8
  - id: check-yaml
  - id: check-added-large-files
    args: ['--maxkb=2000']
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: '^.+?(\.json|\.po)$'
- repo: https://github.com/asottile/reorder_python_imports
  rev: v2.6.0
  hooks:
  - id: reorder-python-imports
- repo: local
  hooks:
  - id: lint-frontend-format
    name: Linting of JS, Vue, SCSS and CSS files on the frontend
    description: This hook handles all frontend linting for Kolibri
    entry: yarn run lint-frontend:format
    language: system
    files: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$
  - id: lint-packages
    name: Linting of JS and Vue files on the packages
    description: This hook handles all packages linting
    entry: yarn run lint-packages
    pass_filenames: false
    language: system
    files: ^packages/.*\.(js|vue)$

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

CI: Trigger kolibri-installer-android job with new kolibri-explore-plugin release
  .github/workflows/main.yml
  scripts/trigger_jenkins.py
Due: none

Channels presentation: fixups for CAS (es)
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/thumbnails/cas-es.jpg
  packages/template-ui/channel-overrides/cas-es/assets/header-background.jpg
Due: lint-frontend-format

Bump version: 6.21.0 → 6.22.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Fix custom presentation for PhET
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/icons/phet-interactive-simulations.png
  packages/template-ui/channel-overrides/phet-interactive-simulations/options.json
  packages/template-ui/channel-overrides/phet-interactive-simulations/styles.scss
Due: lint-frontend-format

Adjust spacing in channel headers
  packages/template-ui/src/components/ChannelHeader.vue
Due: lint-packages

Tweak background and default header colours
  packages/ek-components/src/styles.scss
Due: none

Do not use text-muted for channel headers
  packages/template-ui/src/components/ChannelHeader.vue
Due: lint-packages

NavBar: Increase spacing between Feedback icon and label
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
Due: lint-frontend-format

Add title attribute for clamped text
  packages/ek-components/src/components/EkCardBody.vue
  packages/ek-components/src/components/EkCarouselCardTitle.vue
  packages/ek-components/src/components/EkChannelCard.vue
  packages/ek-components/src/components/EkTopicCard.vue
Due: lint-packages

NavBar: Adjust Feedback label font family and size
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
Due: lint-frontend-format

EkChannelCard: Remove shadow from channel banner
  packages/ek-components/src/components/EkChannelCard.vue
Due: lint-packages

EkChannelCard: Add light shadow when unhovered
  packages/ek-components/src/components/EkChannelCard.vue
Due: lint-packages

EkChannelCard: Remove bottom roundedness from channel banner
  packages/ek-components/src/components/EkChannelCard.vue
Due: lint-packages

SearchPage: Use gray background
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend-format

EkChannelCard: Make all backgrounds white
  kolibri_explore_plugin/assets/src/views/DiscoveryPageContenPacks.vue
  packages/ek-components/src/components/EkChannelCard.vue
  packages/welcome-screen/src/views/PackSelection.vue
Due: lint-frontend-format, lint-packages

PackSelection: Reinstate white background
  packages/welcome-screen/src/views/PackSelection.vue
Due: lint-packages

Bump version: 6.22.0 → 6.23.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Remove extra space in Support link
  kolibri_explore_plugin/assets/src/components/AboutModal.vue
Due: lint-frontend-format

Add labels for missing media types
  packages/ek-components/src/constants.js
Due: lint-packages

PlayButton: Add "Interact" icon to new media types
  packages/ek-components/src/components/EkPlayButton.vue
Due: lint-packages

PlayButton: Add fallback label
  packages/ek-components/src/components/EkPlayButton.vue
Due: lint-packages

Discovery page: Allow unavailable featured channels
  kolibri_explore_plugin/assets/src/views/DiscoveryPageContenPacks.vue
Due: lint-frontend-format

Test: Add carousel and sladable cards
  packages/template-ui/src/views/Test.vue
Due: lint-packages

EkCardGrid: Adjust top margin
  packages/ek-components/src/components/EkCardGrid.vue
  packages/ek-components/src/components/EkCardGridPlaceholder.vue
Due: lint-packages

DiscoveryPageContenPacks: Add bottom margin
  kolibri_explore_plugin/assets/src/views/DiscoveryPageContenPacks.vue
Due: lint-frontend-format

Components: Add EkClamp component
  packages/ek-components/src/components/EkClamp.vue
  packages/ek-components/src/main.js
Due: lint-packages

Replace use of VClamp by EkClamp
  packages/ek-components/src/components/EkCardBody.vue
  packages/ek-components/src/components/EkCarouselCardTitle.vue
  packages/ek-components/src/components/EkChannelCard.vue
  packages/ek-components/src/components/EkTopicCard.vue
  packages/template-ui/src/components/ChannelHeader.vue
Due: lint-packages
