Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-packages

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
repos:
- repo: git://github.com/pre-commit/pre-commit-hooks
  rev: v2.0.0
  hooks:
  - id: trailing-whitespace
  - id: flake8
    args:
      # make flake8 compatible with black:
      - "--max-line-length=88"
      - "--ignore=E203,W503"
  - id: check-yaml
  - id: check-added-large-files
    args: ['--maxkb=2000']
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: '^.+?(\.json|\.po)$'
- repo: https://github.com/asottile/reorder_python_imports
  rev: v1.3.3
  hooks:
  - id: reorder-python-imports
- repo: local
  hooks:
  - id: lint-frontend
    name: Linting of JS, Vue, SCSS and CSS files on the frontend
    description: This hook handles all frontend linting for Kolibri
    entry: yarn run lint-frontend
    language: system
    files: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$
  - id: lint-packages
    name: Linting of JS and Vue files on the packages
    description: This hook handles all packages linting
    entry: yarn run lint-packages
    pass_filenames: false
    language: system
    files: ^packages/.*\.(js|vue)$

- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black

About: Encode ampersand
  kolibri_explore_plugin/assets/src/components/AboutModal.vue
Due: lint-frontend

Template: Workaround i18n
  packages/template-ui/src/main.js
Due: lint-packages

Theme: Update colors
  packages/ek-components/src/styles.scss
Due: none

Theme: Remove box shadow from focused buttons
  packages/ek-components/src/index.scss
  packages/ek-components/src/styles.scss
Due: none

Cards: Make title muted when node is not available
  packages/ek-components/src/components/EkCardBody.vue
Due: lint-packages

Template: Bring back the test page
  packages/template-ui/src/App.vue
  packages/template-ui/src/mockKolibriApi.js
Due: lint-packages

Template: Update test page
  packages/template-ui/src/views/Test.vue
Due: lint-packages

Search: Initialize unavailable content check from global value
  packages/template-ui/src/views/Search.vue
Due: lint-packages

kolibriApi: Parameterize unavailable content in searchContent
  kolibri_explore_plugin/assets/src/kolibriApi.js
Due: lint-frontend

kolibriApi: Add getter for global unavailable filtering value
  kolibri_explore_plugin/assets/src/kolibriApi.js
Due: lint-frontend

Search: Add check to filter unavailable content
  packages/template-ui/src/views/Search.vue
Due: lint-packages

Drop NAVIGATE_UNAVAILABLE plugin option
  kolibri_explore_plugin/assets/src/kolibriApi.js
  kolibri_explore_plugin/assets/src/modules/coreExplore/actions.js
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
  kolibri_explore_plugin/kolibri_plugin.py
  kolibri_explore_plugin/options.py
Due: lint-frontend

Template: Add test for unavailable cards
  packages/template-ui/src/mockKolibriApi.js
  packages/template-ui/src/views/Test.vue
Due: lint-packages

Downloadable content card UI and states
  packages/ek-components/src/components/EkCard.vue
  packages/ek-components/src/components/EkContentCard.vue
  packages/ek-components/src/constants.js
  packages/template-ui/src/main.js
  packages/template-ui/src/mockKolibriApi.js
Due: lint-packages

Add new manageContent plugin submodule
  kolibri_explore_plugin/assets/src/modules/manageContent/handlers.js
  kolibri_explore_plugin/assets/src/modules/manageContent/index.js
  kolibri_explore_plugin/assets/src/modules/pluginModule.js
Due: lint-frontend

Download: Include "extras" collection
  kolibri_explore_plugin/collectionviews.py
Due: none

Expose manageContent handlers in global methods
  kolibri_explore_plugin/assets/src/app.js
  kolibri_explore_plugin/assets/src/contentDownloadPlugin.js
  kolibri_explore_plugin/assets/src/kolibriApi.js
Due: lint-frontend

EK cards: bubble up "node updated" signal
  packages/ek-components/src/components/EkCardGrid.vue
  packages/ek-components/src/components/EkCollapsibleCardGrid.vue
  packages/ek-components/src/components/EkGridPage.vue
  packages/ek-components/src/components/EkSlidableCardGrid.vue
Due: lint-packages

WIP
  kolibri_explore_plugin/assets/src/kolibriApi.js
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
  packages/template-ui/src/views/Home.vue
Due: lint-frontend, lint-packages

Bump version: 6.8.0 → 6.9.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Update packages/ek-components/src/components/EkContentCard.vue
  packages/ek-components/src/components/EkContentCard.vue
Due: lint-packages

Bump version: 6.9.0 → 6.10.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Bump webpack dependencies
  package.json
  yarn.lock
Due: none
