Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend-format, lint-packages

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibri_explore_plugin/vendor/)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.0.0
  hooks:
  - id: trailing-whitespace
  - id: flake8
  - id: check-yaml
  - id: check-added-large-files
    args: ['--maxkb=2000']
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: '^.+?(\.json|\.po)$'
- repo: https://github.com/asottile/reorder_python_imports
  rev: v2.6.0
  hooks:
  - id: reorder-python-imports
- repo: local
  hooks:
  - id: lint-frontend-format
    name: Linting of JS, Vue, SCSS and CSS files on the frontend
    description: This hook handles all frontend linting for Kolibri
    entry: yarn run lint-frontend:format
    language: system
    files: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$
  - id: lint-packages
    name: Linting of JS and Vue files on the packages
    description: This hook handles all packages linting
    entry: yarn run lint-packages
    pass_filenames: false
    language: system
    files: ^packages/.*\.(js|vue)$

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

Remove vue-clamp dependency
  packages/ek-components/package.json
  packages/template-ui/package.json
  packages/template-ui/vue.config.js
  yarn.lock
Due: lint-packages

EkCardGrid: Adjust top margin
  packages/ek-components/src/components/EkCardGrid.vue
  packages/ek-components/src/components/EkCardGridPlaceholder.vue
Due: lint-packages

DiscoveryPageContenPacks: Add bottom margin
  kolibri_explore_plugin/assets/src/views/DiscoveryPageContenPacks.vue
Due: lint-frontend-format

Bump version: 6.23.0 → 6.24.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Clamp: Make text attribute not required
  packages/ek-components/src/components/EkClamp.vue
Due: lint-packages

Prettify README very slightly
  README.md
Due: none

Add vue-ssr-carousel dependency
  packages/ek-components/package.json
  yarn.lock
Due: none

Theme: Expose gutter to JS
  packages/ek-components/src/styles.scss
Due: none

Components: Add new card slider components
  packages/ek-components/src/components/EkSlidableCardGridNew.vue
  packages/ek-components/src/components/EkSlidableGridNew.vue
  packages/ek-components/src/index.scss
  packages/ek-components/src/main.js
Due: lint-packages

template-ui: Add showcase for new slider
  packages/template-ui/src/views/Test.vue
Due: lint-packages

Add "slidable-new" card grid variant
  packages/ek-components/src/components/EkCardGrid.vue
Due: lint-packages

Migrate all card sliders to the new implementation
  kolibri_explore_plugin/assets/src/components/EkIguanaList.vue
  kolibri_explore_plugin/assets/src/views/DiscoveryPageContenPacks.vue
  packages/template-ui/src/components/EmptyResultsMessage.vue
  packages/template-ui/src/views/Content.vue
  packages/template-ui/src/views/Home.vue
  packages/template-ui/src/views/ListSection.vue
  packages/template-ui/src/views/Search.vue
Due: lint-frontend-format, lint-packages

EkCardGrid: Use simple grid if no pagination
  packages/ek-components/src/components/EkCardGrid.vue
Due: lint-packages

Scigirls override: Update header background
  packages/template-ui/channel-overrides/scigirls/assets/header-background.jpg
  packages/template-ui/channel-overrides/scigirls/assets/header-background.png
Due: none

styles: darker background for content node buttons
  packages/ek-components/src/styles.scss
Due: none

EkPlayButton: Fix weird opacity when disabled
  packages/ek-components/src/components/EkPlayButton.vue
Due: lint-packages

EkContentCard: move buttons to a new component
  packages/ek-components/src/components/EkCardButtons.vue
  packages/ek-components/src/components/EkContentCard.vue
  packages/ek-components/src/main.js
Due: lint-packages

EkCardButtons: Add a label to the download button
  packages/ek-components/src/components/EkCardButtons.vue
Due: lint-packages

Fix margins around content card download buttons
  packages/ek-components/src/components/EkCardButtons.vue
Due: lint-packages

EkPlayButton: Don’t use nullish coalescing operator
  packages/ek-components/src/components/EkPlayButton.vue
Due: lint-packages

MainSections: Center pill text
  packages/template-ui/src/components/MainSections.vue
Due: lint-packages

Bump version: 6.24.0 → 6.25.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Bump version: 6.25.0 → 6.26.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

build: Port from MANIFEST.in to setuptools_scm
  MANIFEST.in
  pyproject.toml
Due: none

build: Generate package version number automatically from git
  .bumpversion.cfg
  .gitignore
  kolibri_explore_plugin/__init__.py
  kolibri_explore_plugin/urls.py
  pyproject.toml
  setup.py
Due: none

build: Add missing dev dependencies to Pipfile
  Pipfile
Due: none

build: Explicitly generate _version.py before building frontend
  Pipfile
  package.json
Due: none

build: Move some dev dependencies to the dev-packages Pipfile section
  Pipfile
Due: none

docs: Fix a small typo in README.md
  README.md
Due: none

build: Fix author e-mail address
  setup.py
Due: none

build: Drop requirements/test.txt
  requirements/test.txt
Due: none

github: Install Python dependencies for node10 workflow
  .github/workflows/node.yml
  scripts/bootstrap.sh
Due: none

build: Drop requirements.txt in favour of Pipfile
  requirements.txt
Due: none

scripts: Fix a small typo in bump_version.py
  scripts/bump_version.py
Due: none

build: Port from setup.py to pyproject.toml
  package.json
  pyproject.toml
  setup.py
Due: none
