Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-packages

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
repos:
- repo: git://github.com/pre-commit/pre-commit-hooks
  rev: v2.0.0
  hooks:
  - id: trailing-whitespace
  - id: flake8
    args:
      # make flake8 compatible with black:
      - "--max-line-length=88"
      - "--ignore=E203,W503"
  - id: check-yaml
  - id: check-added-large-files
    args: ['--maxkb=2000']
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: '^.+?(\.json|\.po)$'
- repo: https://github.com/asottile/reorder_python_imports
  rev: v1.3.3
  hooks:
  - id: reorder-python-imports
- repo: local
  hooks:
  - id: lint-frontend
    name: Linting of JS, Vue, SCSS and CSS files on the frontend
    description: This hook handles all frontend linting for Kolibri
    entry: yarn run lint-frontend
    language: system
    files: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$
  - id: lint-packages
    name: Linting of JS and Vue files on the packages
    description: This hook handles all packages linting
    entry: yarn run lint-packages
    pass_filenames: false
    language: system
    files: ^packages/.*\.(js|vue)$

- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black

Update placeholder collections
  kolibri_explore_plugin/views.py
Due: none

Detect available space in device
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
  kolibri_explore_plugin/views.py
  packages/eos-components/src/components/CollectionSelectionModal.vue
Due: lint-frontend, lint-packages

Move .card.disabled style to index.scss
  packages/eos-components/src/components/CollectionSelectionModal.vue
  packages/eos-components/src/index.scss
Due: lint-packages

Welcome screen: Fix bug terminating the app
  packages/loading-screen/src/App.vue
Due: lint-packages

Welcome screen: Implement permission explanation view
  packages/loading-screen/src/assets/permissions-explanation.gif
  packages/loading-screen/src/main.js
  packages/loading-screen/src/views/PermissionsExplanation.vue
Due: lint-packages

Discovery: Add content picks data
  kolibri_explore_plugin/assets/src/customApps.js
Due: lint-frontend

CategorizedChannelsList: Display content picks
  kolibri_explore_plugin/assets/src/components/CategorizedChannelsList.vue
Due: lint-frontend

Discovery page: Rename to reflect categorized changes
  kolibri_explore_plugin/assets/src/components/CategorizedList.vue
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/assets/src/views/DiscoveryPage.vue
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
Due: lint-frontend

Add grade selection modal to welcome flow
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
Due: lint-frontend

Split primary and secondary text in GradeSelectionModal cards
  packages/eos-components/src/components/GradeSelectionModal.vue
Due: lint-packages

components: Add new GradeSelectionModal
  packages/eos-components/src/assets/collections/intermediate-icons.png
  packages/eos-components/src/assets/collections/primary-icons.png
  packages/eos-components/src/assets/collections/secondary-icons.png
  packages/eos-components/src/components/GradeSelectionModal.vue
  packages/eos-components/src/main.js
Due: lint-packages

Add bottom line to InstallContentModal
  packages/eos-components/src/components/InstallContentModal.vue
Due: lint-packages

Move welcome screen card styles to eos-components
  packages/eos-components/src/index.scss
  packages/eos-components/src/styles.scss
  packages/loading-screen/src/styles.scss
  packages/loading-screen/src/views/ContentSourceSelection.vue
Due: lint-packages

Minor design changes in the CollectionSelectionModal
  packages/eos-components/src/components/CollectionSelectionModal.vue
Due: lint-packages

components: Add new WelcomeCard component
  packages/eos-components/src/components/CollectionSelectionModal.vue
  packages/eos-components/src/components/GradeSelectionModal.vue
  packages/eos-components/src/components/WelcomeCard.vue
  packages/eos-components/src/index.scss
  packages/eos-components/src/main.js
  packages/loading-screen/src/main.js
  packages/loading-screen/src/views/ContentSourceSelection.vue
Due: lint-packages

Bump version: 2.0.17 → 2.0.18
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Bump version: 2.0.18 → 2.0.19
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

components: Shows the correct OS name in the banner by detecting it
  packages/eos-components/src/components/GradeSelectionModal.vue
Due: lint-packages

Remove platform specific text
  packages/eos-components/src/components/GradeSelectionModal.vue
Due: lint-packages

components: Shows the correct OS name in the banner by detecting it (#444)
  packages/eos-components/src/components/GradeSelectionModal.vue
Due: lint-packages

Increment inner-container-max-width to 900px
  packages/loading-screen/src/styles.scss
Due: none

loading: Drop user guide link
  packages/loading-screen/src/views/Loading.vue
Due: lint-packages

Fix the size units
  kolibri_explore_plugin/views.py
  packages/eos-components/src/components/CollectionSelectionModal.vue
Due: lint-packages

Improve download job handling
  kolibri_explore_plugin/views.py
  packages/eos-components/src/components/InstallContentModal.vue
Due: lint-packages

Show percentage in the Download progress bar
  packages/eos-components/src/components/InstallContentModal.vue
Due: lint-packages

Fallback collection download to remote by token
  kolibri_explore_plugin/views.py
Due: none

Reload ContentNodeResource on reloadChannels
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
Due: lint-frontend

Fix InstallContentModal visibility at launch
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
Due: lint-frontend

Use collections by grade
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
  kolibri_explore_plugin/views.py
  packages/eos-components/src/components/CollectionSelectionModal.vue
  packages/eos-components/src/components/InstallContentModal.vue
Due: lint-frontend, lint-packages

Use manifest.json files to download collections
  kolibri_explore_plugin/options.py
  kolibri_explore_plugin/views.py
Due: none

Use .values() instead of .items() in collection view
  kolibri_explore_plugin/views.py
Due: none

Show error if collection manifest is not there
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
  kolibri_explore_plugin/views.py
  packages/eos-components/src/components/GradeSelectionModal.vue
  packages/eos-components/src/components/InstallContentModal.vue
Due: lint-frontend, lint-packages

Use _read_pid_file instead of get_status
  kolibri_explore_plugin/views.py
Due: none

Bump version: 2.0.19 → 2.0.20
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Fix progress bar back and forth behavior
  kolibri_explore_plugin/views.py
  packages/eos-components/src/components/InstallContentModal.vue
Due: lint-packages

Change channel ID for TED Ed
  kolibri_explore_plugin/assets/src/customApps.js
Due: lint-frontend

Change TED Ed Channel ID (take 2)
  kolibri_explore_plugin/assets/src/customApps.js
Due: lint-frontend

Remove card columns in GradeSelectionModal on small screens
  packages/eos-components/src/components/GradeSelectionModal.vue
Due: lint-packages

Remove transparent background in loading assets
  packages/loading-screen/src/assets/download-selection.png
  packages/loading-screen/src/assets/usb-selection.png
Due: none

Reduce padding in content selection modals
  packages/eos-components/src/components/CollectionSelectionModal.vue
  packages/eos-components/src/components/GradeSelectionModal.vue
  packages/eos-components/src/components/InstallContentModal.vue
Due: lint-packages
