Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend-format, lint-packages

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibri_explore_plugin/vendor/)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.0.0
  hooks:
  - id: trailing-whitespace
  - id: flake8
  - id: check-yaml
  - id: check-added-large-files
    args: ['--maxkb=2000']
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: '^.+?(\.json|\.po)$'
- repo: https://github.com/asottile/reorder_python_imports
  rev: v2.6.0
  hooks:
  - id: reorder-python-imports
- repo: local
  hooks:
  - id: lint-frontend-format
    name: Linting of JS, Vue, SCSS and CSS files on the frontend
    description: This hook handles all frontend linting for Kolibri
    entry: yarn run lint-frontend:format
    language: system
    files: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$
  - id: lint-packages
    name: Linting of JS and Vue files on the packages
    description: This hook handles all packages linting
    entry: yarn run lint-packages
    pass_filenames: false
    language: system
    files: ^packages/.*\.(js|vue)$

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

Don't run build:i18n from build script
  package.json
Due: none

Bump version: 6.41.0 → 6.42.0
  .bumpversion.cfg
Due: none

Build welcome-screen.zip for release
  .github/workflows/main.yml
Due: none

Import VERSION properly in urls
  kolibri_explore_plugin/urls.py
Due: none

Welcome app: Workaround $tr
  packages/welcome-screen/src/main.js
Due: lint-packages

Bump version: 6.42.0 → 6.43.0
  .bumpversion.cfg
Due: none

Only use LZMA compression for channel template zips
  scripts/_common.py
  scripts/build_template_overrides.py
  scripts/bundle_bundles.py
Due: none

Bump Python to 3.9
  .github/workflows/bump2release.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/node.yml
Due: none

Bump version: 6.43.0 → 6.44.0
  .bumpversion.cfg
Due: none

Add Explore to Kolibri's sidebar
  MANIFEST.in
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
  kolibri_explore_plugin/assets/src/routes/baseRoutes.js
  kolibri_explore_plugin/assets/src/views/ExploreSideNavEntry.js
  kolibri_explore_plugin/assets/src/views/commonExploreStrings.js
  kolibri_explore_plugin/buildConfig.js
  kolibri_explore_plugin/kolibri_plugin.py
Due: lint-frontend-format

Always redirect to the Explore page
  kolibri_explore_plugin/kolibri_plugin.py
Due: none

build: Rework kolibri-tools commands for extracting translation messages
  package.json
Due: none

Revert "ek-components: Make various UI strings translatable"
  packages/ek-components/src/components/EkCollapsibleCardGrid.vue
  packages/ek-components/src/components/EkSearchBar.vue
  packages/ek-components/src/components/EkSlidableGrid.vue
  packages/ek-components/src/components/EkTopicCard.vue
Due: lint-packages

Revert "template-ui: Use <strong> instead of <span> in a translatable string"
  packages/template-ui/src/components/ChannelFooter.vue
Due: lint-packages

Revert "template-ui: Make various UI strings translatable"
  packages/template-ui/src/components/Breadcrumb.vue
  packages/template-ui/src/components/ChannelFooter.vue
  packages/template-ui/src/components/EmptyResultsMessage.vue
  packages/template-ui/src/components/FilterContent.vue
  packages/template-ui/src/components/FilterDropDown.vue
  packages/template-ui/src/components/MainSections.vue
  packages/template-ui/src/components/SectionsSearchRow.vue
  packages/template-ui/src/views/BundleSection.vue
  packages/template-ui/src/views/Content.vue
  packages/template-ui/src/views/Search.vue
  packages/template-ui/src/views/Test.vue
Due: lint-packages

Remove USB and permissions functionality
  packages/welcome-screen/src/App.vue
  packages/welcome-screen/src/assets/download-selection.png
  packages/welcome-screen/src/assets/usb-connect.jpg
  packages/welcome-screen/src/assets/usb-connected.jpg
  packages/welcome-screen/src/assets/usb-selection.png
  packages/welcome-screen/src/main.js
  packages/welcome-screen/src/store.js
  packages/welcome-screen/src/views/PermissionsCancelled.vue
  packages/welcome-screen/src/views/PermissionsExplanation.vue
  packages/welcome-screen/src/views/PermissionsWrongFolder.vue
  packages/welcome-screen/src/views/UsbDriveConnection.vue
Due: lint-packages

Migrate Welcome pages to the plugin
  kolibri_explore_plugin/assets/src/views/welcome/PackReadyPage.vue
  kolibri_explore_plugin/assets/src/views/welcome/PackSelectionPage.vue
  kolibri_explore_plugin/assets/src/views/welcome/WelcomeBase.vue
  kolibri_explore_plugin/assets/src/views/welcome/WelcomePage.vue
  kolibri_explore_plugin/assets/src/views/welcome/assets/pack.png
  kolibri_explore_plugin/assets/src/views/welcome/assets/welcome-bg-bottom-left.png
  kolibri_explore_plugin/assets/src/views/welcome/assets/welcome-bg-top-right.png
  packages/welcome-screen/src/App.vue
  packages/welcome-screen/src/main.js
  packages/welcome-screen/src/views/PackReady.vue
  packages/welcome-screen/src/views/PackSelection.vue
  packages/welcome-screen/src/views/Welcome.vue
Due: lint-frontend-format, lint-packages

Plugin: Add placeholder Welcome pages
  kolibri_explore_plugin/assets/src/constants.js
  kolibri_explore_plugin/assets/src/routes/index.js
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
  kolibri_explore_plugin/assets/src/views/welcome/PackReadyPage.vue
  kolibri_explore_plugin/assets/src/views/welcome/PackSelectionPage.vue
  kolibri_explore_plugin/assets/src/views/welcome/WelcomePage.vue
Due: lint-frontend-format

Fix BackgroundTask migration
  kolibri_explore_plugin/migrations/0002_backgroundtask.py
  kolibri_explore_plugin/test/test_migrations.py
Due: none

Bump version: 6.44.0 → 6.45.0
  .bumpversion.cfg
Due: none

Bump version: 6.45.0 → 6.46.0
  .bumpversion.cfg
Due: none

Rename back welcome-screen to loading-screen
  .github/workflows/main.yml
  .gitignore
  MANIFEST.in
  docs/i18n.md
  package.json
  packages/loading-screen/.eslintrc.js
  packages/loading-screen/babel.config.js
  packages/loading-screen/package.json
  packages/loading-screen/public/favicon.ico
  packages/loading-screen/public/index.html
  packages/loading-screen/src/App.vue
  packages/loading-screen/src/assets/kolibri-logo.svg
  packages/loading-screen/src/index.scss
  packages/loading-screen/src/main.js
  packages/loading-screen/src/store.js
  packages/loading-screen/src/styles.scss
  packages/loading-screen/src/views/Loading.vue
  packages/loading-screen/src/views/LoadingBase.vue
  packages/loading-screen/src/views/LoadingError.vue
  packages/loading-screen/src/views/LoadingInitial.vue
  packages/loading-screen/src/views/LoadingRetry.vue
  packages/loading-screen/vue.config.js
  scripts/bundle_bundles.py
  scripts/clean.sh
Due: lint-packages

Download: Remove force variable
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
Due: lint-frontend-format

Change routing and redirects for Welcome
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
  kolibri_explore_plugin/assets/src/routes/index.js
Due: lint-frontend-format

Remove initial content pack plugin option
  kolibri_explore_plugin/kolibri_plugin.py
  kolibri_explore_plugin/options.py
Due: none

DownloadPage: Reload using the location API
  kolibri_explore_plugin/assets/src/views/DownloadPage.vue
Due: lint-frontend-format

scripts: Check exit status from subprocess.run
  scripts/build_template_overrides.py
  scripts/bundle_bundles.py
Due: none

scripts: Sort channel overrides list
  scripts/_common.py
Due: none

Show output from lerna run
  package.json
Due: none

Print some progress messages when building channel zips
  scripts/build_template_overrides.py
Due: none

Add Latin American Spanish
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/README.md
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/kolibri_explore_plugin.app-messages.json
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/welcome-screen-messages.json
  kolibri_explore_plugin/locale/language_info.json
Due: none

Loading screen: Remove EkComponents dependency
  packages/loading-screen/package.json
  packages/loading-screen/src/assets/loading-animation.gif
  packages/loading-screen/src/index.scss
  packages/loading-screen/src/main.js
  packages/loading-screen/src/styles.scss
  packages/loading-screen/src/views/Loading.vue
  packages/loading-screen/src/views/LoadingInitial.vue
Due: lint-packages
