Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-packages

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files on the frontend
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend
  language: system

lint-packages:
  name: Linting of JS and Vue files on the packages
  description: This hook handles all packages linting
  entry: yarn run lint-packages
  pass_filenames: false
  language: system

Revert "User region detection: Wrap in try/catch"
  kolibri_explore_plugin/assets/src/modules/coreExplore/utils.js
Due: lint-frontend

Revert "Frontend download: Set is US user before download"
  kolibri_explore_plugin/assets/src/views/DownloadPage.vue
Due: lint-frontend

Revert "Frontend download: Set is US user before download"
  kolibri_explore_plugin/assets/src/modules/coreExplore/utils.js
  kolibri_explore_plugin/assets/src/views/DownloadPage.vue
Due: lint-frontend

Revert "Download backend: Add API to set if user is in the US"
  kolibri_explore_plugin/api_urls.py
  kolibri_explore_plugin/collectionviews.py
Due: none

Revert "Utils: Add function to check if user is in the US"
  kolibri_explore_plugin/assets/src/modules/coreExplore/utils.js
Due: lint-frontend

Bump version: 5.8.0 → 5.9.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Download: Skip channels cache after download
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
Due: lint-frontend

Bump version: 5.9.0 → 5.10.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Tasks: Remove long_running from applyexternaltags
  kolibri_explore_plugin/tasks.py
Due: none

ContentItem: Adapt to upstream changes
  kolibri_explore_plugin/assets/src/composables/useContentNodeProgress.js
  kolibri_explore_plugin/assets/src/composables/useProgressTracking.js
  kolibri_explore_plugin/assets/src/views/ContentItem.vue
  kolibri_explore_plugin/assets/src/views/ContentModal.vue
Due: lint-frontend

Remove call to ContentNodeResource.fetchNextContent
  kolibri_explore_plugin/assets/src/modules/topicsTree/handlers.js
Due: lint-frontend

Fix error if welcomeScreen/js/*map does not exist
  package.json
Due: none

Download backend: Update call to validate_job_data
  kolibri_explore_plugin/collectionviews.py
Due: none

Explore plugin: Add kolibri-constants dependency
  kolibri_explore_plugin/assets/package.json
  yarn.lock
Due: none

Plugin: Add HIDE_DISCOVERY_TAB option
  kolibri_explore_plugin/kolibri_plugin.py
  kolibri_explore_plugin/options.py
Due: none

Landing page: Hide Discovery tab button
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
Due: lint-frontend

Routes: Add redirects to Search
  kolibri_explore_plugin/assets/src/routes/index.js
Due: lint-frontend

Bump version: 5.10.0 → 5.11.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Channels presentation: Add overrides for CAS
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/icons/cas.png
  kolibri_explore_plugin/static/thumbnails/cas.jpg
  packages/template-ui/channel-overrides/cas/assets/header-background.jpg
  packages/template-ui/channel-overrides/cas/options.json
  packages/template-ui/channel-overrides/cas/styles.scss
Due: lint-frontend

About modal: Add cheat code to Device tab
  kolibri_explore_plugin/assets/src/components/AboutModal.vue
Due: lint-frontend

Remove executable bit from static assets
  kolibri_explore_plugin/static/icons/cas.png
  kolibri_explore_plugin/static/icons/eie-families.png
  kolibri_explore_plugin/static/icons/scigirls.png
  kolibri_explore_plugin/static/thumbnails/arts.jpg
  kolibri_explore_plugin/static/thumbnails/blockly-games.jpg
  kolibri_explore_plugin/static/thumbnails/career-girls.jpg
  kolibri_explore_plugin/static/thumbnails/careers.jpg
  kolibri_explore_plugin/static/thumbnails/cas.jpg
  kolibri_explore_plugin/static/thumbnails/common-sense-student-resources.jpg
  kolibri_explore_plugin/static/thumbnails/cooking.jpg
  kolibri_explore_plugin/static/thumbnails/cspathshala-english.jpg
  kolibri_explore_plugin/static/thumbnails/eie-families.jpg
  kolibri_explore_plugin/static/thumbnails/gaming.jpg
  kolibri_explore_plugin/static/thumbnails/khan-academy.jpg
  kolibri_explore_plugin/static/thumbnails/music.jpg
  kolibri_explore_plugin/static/thumbnails/oceanx.jpg
  kolibri_explore_plugin/static/thumbnails/open-stax.jpg
  kolibri_explore_plugin/static/thumbnails/pbs-kids.jpg
  kolibri_explore_plugin/static/thumbnails/phet-interactive-simulations.jpg
  kolibri_explore_plugin/static/thumbnails/sports.jpg
  kolibri_explore_plugin/static/thumbnails/techbridge-girls-home.jpg
  kolibri_explore_plugin/static/thumbnails/ted-ed-lessons.jpg
  kolibri_explore_plugin/static/thumbnails/touchable-earth.jpg
  packages/template-ui/channel-overrides/arts/assets/header-background.jpg
  packages/template-ui/channel-overrides/careers/assets/header-background.jpg
  packages/template-ui/channel-overrides/cas/assets/header-background.jpg
  packages/template-ui/channel-overrides/cooking/assets/header-background.jpg
  packages/template-ui/channel-overrides/gaming/assets/header-background.jpg
  packages/template-ui/channel-overrides/sports/assets/header-background.jpg
Due: none

README: Improve usage and development notes
  README.md
Due: none

Bump version: 5.11.0 → 5.12.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Update VERSION
  kolibri_explore_plugin/VERSION
Due: none

Bump version: 5.12.0 → 6.0.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Use Learn content viewer when available
  kolibri_explore_plugin/assets/src/kolibriApi.js
  kolibri_explore_plugin/assets/src/modules/topicsTree/handlers.js
  kolibri_explore_plugin/assets/src/views/ContentModal.vue
Due: lint-frontend

Add a LICENSE file
  LICENSE
Due: none

setup.py: Improve author name
  setup.py
Due: none

setup.py: Update author email address
  setup.py
Due: none

Content cards: Navigate to content directly
  packages/eos-components/src/components/ContentCard.vue
  packages/eos-components/src/components/ContentLink.vue
Due: lint-packages

Landing page: Disable feedback button when offline
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
Due: lint-frontend

Landing page: Add feedback button
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
Due: lint-frontend

Landing page: Move "About" and "Privacy Policy" to bottom
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
  kolibri_explore_plugin/assets/src/views/DiscoveryPageContenPacks.vue
Due: lint-frontend

Landing page: Better center navigation tabs
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
Due: lint-frontend

README: Add pipenv as the dependency in the Setup section
  README.md
Due: none

Pipefile: Install wheel for bdist_wheel and update the dependecies
  Pipfile
  Pipfile.lock
Due: none

Path conditions:
  lint-frontend: any of: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
  lint-packages: any of: ^packages/.*\.(js|vue)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
