Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-packages

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files on the frontend
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend
  language: system

lint-packages:
  name: Linting of JS and Vue files on the packages
  description: This hook handles all packages linting
  entry: yarn run lint-packages
  pass_filenames: false
  language: system

Collections: Apply external tags to content
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
  kolibri_explore_plugin/collectionviews.py
Due: lint-frontend

Collections frontend: Show "0" in labels
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
Due: lint-frontend

CardGrid: Allow passing items per slide
  kolibri_explore_plugin/assets/src/components/CategorizedList.vue
  packages/eos-components/src/components/CardGrid.vue
  packages/eos-components/src/components/SlidableCardGrid.vue
  packages/eos-components/src/components/SlidableGrid.vue
  packages/eos-components/src/constants.js
  packages/eos-components/src/utils.js
  packages/template-ui/src/views/Home.vue
  packages/template-ui/src/views/ListSection.vue
Due: lint-frontend, lint-packages

Collections backend: Remove tasks boilerplate
  kolibri_explore_plugin/collectionviews.py
Due: none

Add PackCard component
  packages/eos-components/src/assets/pack-thumbnails/artist.jpg
  packages/eos-components/src/assets/pack-thumbnails/athlete.jpg
  packages/eos-components/src/assets/pack-thumbnails/curious.jpg
  packages/eos-components/src/assets/pack-thumbnails/explorer.jpg
  packages/eos-components/src/assets/pack-thumbnails/inventor.jpg
  packages/eos-components/src/assets/pack-thumbnails/scientist.jpg
  packages/eos-components/src/components/PackCard.vue
  packages/eos-components/src/main.js
Due: lint-packages

Welcome: Add new pack related views
  packages/welcome-screen/src/assets/pack.png
  packages/welcome-screen/src/main.js
  packages/welcome-screen/src/views/ContentSourceSelection.vue
  packages/welcome-screen/src/views/PackReady.vue
  packages/welcome-screen/src/views/PackSelection.vue
  packages/welcome-screen/src/views/PermissionsCancelled.vue
  packages/welcome-screen/src/views/PermissionsWrongFolder.vue
  packages/welcome-screen/src/views/UsbDriveConnection.vue
  packages/welcome-screen/src/views/Welcome.vue
Due: lint-packages

Bump yarn to latest
  scripts/bootstrap.sh
Due: none

Discovery: Add variation to section items per slide
  kolibri_explore_plugin/assets/src/views/DiscoveryPageCollections.vue
Due: lint-frontend

Use vuex store properly
  packages/welcome-screen/src/App.vue
  packages/welcome-screen/src/main.js
  packages/welcome-screen/src/store.js
  packages/welcome-screen/src/views/UsbDriveConnection.vue
Due: lint-packages

Welcome: Minor style changes
  packages/welcome-screen/src/views/PermissionsCancelled.vue
  packages/welcome-screen/src/views/PermissionsExplanation.vue
  packages/welcome-screen/src/views/PermissionsWrongFolder.vue
  packages/welcome-screen/src/views/UsbDriveConnection.vue
  packages/welcome-screen/src/views/Welcome.vue
  packages/welcome-screen/src/views/WelcomeBase.vue
Due: lint-packages

components: Remove hardcoded color from ChannelCard
  packages/eos-components/src/components/ChannelCard.vue
Due: lint-packages

Welcome: Set document.title per view
  packages/welcome-screen/src/App.vue
  packages/welcome-screen/src/main.js
Due: lint-packages

Add command and task to apply external tags
  kolibri_explore_plugin/management/__init__.py
  kolibri_explore_plugin/management/commands/__init__.py
  kolibri_explore_plugin/management/commands/applyexternaltags.py
  kolibri_explore_plugin/tasks.py
Due: none

Collections backend: Allow stages with zero tasks
  kolibri_explore_plugin/collectionviews.py
Due: none

Collections backend: Skip stages without tasks
  kolibri_explore_plugin/collectionviews.py
Due: none

Discovery navbar: Update tab labels
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
Due: lint-frontend

Discovery: Tweak nodes so cards are clickable
  kolibri_explore_plugin/assets/src/views/DiscoveryPageCollections.vue
Due: lint-frontend

Discovery: Implement collections landing page
  kolibri_explore_plugin/assets/src/views/DiscoveryPageCollections.vue
  packages/eos-components/src/constants.js
Due: lint-frontend, lint-packages

Add pack metadata
  packages/eos-components/src/constants.js
Due: lint-packages

Search page: Improve parsing nodes
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
  packages/eos-components/src/utils.js
Due: lint-frontend, lint-packages

Discovery: Make room for new implementation
  kolibri_explore_plugin/assets/src/views/DiscoveryPage.vue
  kolibri_explore_plugin/assets/src/views/DiscoveryPageCollections.vue
  kolibri_explore_plugin/assets/src/views/DiscoveryPageFullContent.vue
Due: lint-frontend

Discovery: Add a feature flag for the new collections
  kolibri_explore_plugin/assets/src/views/DiscoveryPage.vue
  kolibri_explore_plugin/kolibri_plugin.py
  kolibri_explore_plugin/options.py
Due: lint-frontend

Collections: Query backend models from frontend
  kolibri_explore_plugin/api_urls.py
  kolibri_explore_plugin/assets/src/apiResources.js
  kolibri_explore_plugin/viewsets.py
Due: lint-frontend

Change underscore by lodash
  kolibri_explore_plugin/assets/package.json
  kolibri_explore_plugin/assets/src/components/AlphabeticalChannelsList.vue
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
  packages/eos-components/package.json
  packages/eos-components/src/components/BackToTop.vue
  packages/eos-components/src/components/NavBar.vue
  packages/eos-components/src/components/SearchBar.vue
  packages/eos-components/src/components/SlidableGrid.vue
  packages/eos-components/src/utils.js
  packages/template-ui/channel-overrides/pbs-kids/components/Footer.vue
  packages/template-ui/package.json
  yarn.lock
Due: lint-frontend, lint-packages

Welcome: design iteration
  packages/welcome-screen/src/views/PackReady.vue
  packages/welcome-screen/src/views/PackSelection.vue
Due: lint-packages

Welcome: Add icons for external devices
  packages/welcome-screen/src/views/PackSelection.vue
Due: lint-packages

Welcome: refactor communication with wrapper app
  packages/welcome-screen/src/App.vue
  packages/welcome-screen/src/views/PackReady.vue
  packages/welcome-screen/src/views/PermissionsCancelled.vue
  packages/welcome-screen/src/views/PermissionsExplanation.vue
  packages/welcome-screen/src/views/PermissionsWrongFolder.vue
  packages/welcome-screen/src/views/UsbDriveConnection.vue
Due: lint-packages

Welcome: Pass initial pack to wrapper app
  packages/welcome-screen/src/views/PackReady.vue
Due: lint-packages

Discovery: Download the explorer-0001 pack
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
  kolibri_explore_plugin/collectionviews.py
Due: lint-frontend

Collections download: Change to a single progress
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
  kolibri_explore_plugin/collectionviews.py
Due: lint-frontend

Add migrations and management folders to build
  MANIFEST.in
Due: none

Rename previous landing page and default to packs
  kolibri_explore_plugin/assets/src/components/EkIguanaList.vue
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/assets/src/views/DiscoveryPage.vue
  kolibri_explore_plugin/assets/src/views/DiscoveryPageContenPacks.vue
  kolibri_explore_plugin/assets/src/views/DiscoveryPageEkIguana.vue
  kolibri_explore_plugin/kolibri_plugin.py
  kolibri_explore_plugin/options.py
Due: lint-frontend

Add new plugin option to pass initial pack
  kolibri_explore_plugin/kolibri_plugin.py
  kolibri_explore_plugin/options.py
Due: none

Discovery page: Comment week's channels section
  kolibri_explore_plugin/assets/src/views/DiscoveryPageContenPacks.vue
Due: lint-frontend

Install pack modal: Use initial pack from options
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
Due: lint-frontend

Collections backend: Attempt all packs manifests
  kolibri_explore_plugin/collectionviews.py
Due: none

Discovery page: Force reload after downloading
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
Due: lint-frontend

scripts: Fix version bumping script
  scripts/bump_version.py
Due: none

Update VERSION
  kolibri_explore_plugin/VERSION
Due: none

Path conditions:
  lint-frontend: any of: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
  lint-packages: any of: ^packages/.*\.(js|vue)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
