Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend-format, lint-packages

lint-frontend-format:
  name: Linting of JS, Vue, SCSS and CSS files on the frontend
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

lint-packages:
  name: Linting of JS and Vue files on the packages
  description: This hook handles all packages linting
  entry: yarn run lint-packages
  pass_filenames: false
  language: system

Download: Remove force variable
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
Due: lint-frontend-format

Change routing and redirects for Welcome
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
  kolibri_explore_plugin/assets/src/routes/index.js
Due: lint-frontend-format

Don't install vue/cli globally
  scripts/bootstrap.sh
  scripts/build_template_overrides.py
Due: none

Build standalone packages with --no-module
  packages/loading-screen/package.json
  packages/template-ui/package.json
  scripts/build_template_overrides.py
Due: none

build: Update to vue-cli 5 and consolidate on webpack 5
  packages/ek-components/package.json
  packages/loading-screen/package.json
  packages/template-ui/package.json
  yarn.lock
Due: none

loading-screen: Don't bother setting channel override
  packages/loading-screen/package.json
Due: none

ci: Setup environment consistently with bootstrap.sh
  .github/workflows/bump2release.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/node.yml
Due: none

build: Update to ESLint 7
  packages/ek-components/package.json
  packages/loading-screen/package.json
  packages/template-ui/package.json
  yarn.lock
Due: none

Update to kolibri-tools 0.16.0-dev.4
  kolibri_explore_plugin/assets/package.json
  yarn.lock
Due: none

template-ui: Hook i18n
  kolibri_explore_plugin/assets/src/kolibriApi.js
  packages/template-ui/src/main.js
Due: lint-frontend-format, lint-packages

scripts: Check exit status from subprocess.run
  scripts/build_template_overrides.py
  scripts/bundle_bundles.py
Due: none

DownloadPage: Reload using the location API
  kolibri_explore_plugin/assets/src/views/DownloadPage.vue
Due: lint-frontend-format

Bump version: 6.46.0 → 6.47.0
  .bumpversion.cfg
Due: none

Welcome: Attempt downloading Spanish pack directly
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
  kolibri_explore_plugin/assets/src/routes/index.js
Due: lint-frontend-format

i18n: Extract backend messages from all locales
  package.json
Due: none

i18n: Extract backend messages
  kolibri_explore_plugin/locale/ach_UG/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/ar/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/bg_BG/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/bn_BD/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/de/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/el/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/es_ES/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/fa/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/ff_CM/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/fr_FR/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/gu_IN/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/ha/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/hi_IN/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/ht/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/id/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/it/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/ka/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/km/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/ko/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/mr/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/my/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/nyn/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/pt_BR/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/pt_MZ/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/sw_TZ/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/te/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/uk/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/ur_PK/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/vi/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/yo/LC_MESSAGES/django.po
  kolibri_explore_plugin/locale/zh_Hans/LC_MESSAGES/django.po
Due: none

i18n: Compile backend messages
  kolibri_explore_plugin/locale/ach_UG/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/ar/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/bg_BG/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/bn_BD/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/de/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/el/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/es_419/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/es_ES/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/fa/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/ff_CM/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/fr_FR/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/gu_IN/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/ha/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/hi_IN/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/ht/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/id/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/it/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/ka/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/km/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/ko/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/mr/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/my/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/nyn/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/pt_BR/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/pt_MZ/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/sw_TZ/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/te/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/uk/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/ur_PK/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/vi/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/yo/LC_MESSAGES/django.mo
  kolibri_explore_plugin/locale/zh_Hans/LC_MESSAGES/django.mo
Due: none

ek-components: Translate various string constants
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
  kolibri_explore_plugin/assets/src/views/welcome/PackSelectionPage.vue
  packages/ek-components/src/components/EkPlayButton.vue
  packages/ek-components/src/constants.js
  packages/template-ui/src/components/FilterContent.vue
  packages/template-ui/src/store/modules/filters.js
Due: lint-frontend-format, lint-packages

ek-components: Add kolibri-tools as a devDependency of ek-components
  packages/ek-components/package.json
Due: none

kolibriApi: Expose createTranslator from kolibri.utils.i18n
  kolibri_explore_plugin/assets/src/kolibriApi.js
Due: lint-frontend-format

ek-components: Translate kind labels
  packages/ek-components/src/constants.js
  packages/ek-components/src/utils.js
Due: lint-packages

ek-components: Translate card subtitle bylines
  packages/ek-components/src/utils.js
Due: lint-packages

ek-components: Delay calling createTranslator() until actually needed
  packages/ek-components/src/constants.js
  packages/ek-components/src/utils.js
Due: lint-packages

app: Fix typo in function call in SearchPage
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend-format

ci: Use setup-node to cache node.js environment in CI
  .github/workflows/bump2release.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/node.yml
  scripts/bootstrap.sh
Due: none

ci: Always set -e in bootstrap.sh
  scripts/bootstrap.sh
Due: none

kolibri_explore_plugin: Make various UI strings translatable
  kolibri_explore_plugin/assets/src/components/AboutModal.vue
  kolibri_explore_plugin/assets/src/constants.js
  kolibri_explore_plugin/assets/src/views/DevTag.vue
  kolibri_explore_plugin/assets/src/views/DiscoveryPageEkIguana.vue
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend-format

Exclude .bumpversion.cfg from pre-commit checks
  .pre-commit-config.yaml
Due: none

docs: No need to build and publish locally after pushing tag
  README.md
Due: none

bump_version: Use argparse for argument handling
  README.md
  scripts/bump_version.py
Due: none

bump_version: Skip writing version name if it hasn't changed
  scripts/bump_version.py
Due: none

build: Allow release candidate (rc) versions
  .bumpversion.cfg
  README.md
  scripts/bump_version.py
Due: none

Save wheel and tarball as artifacts
  .github/workflows/main.yml
Due: none

app: Mark some more strings as translatable
  kolibri_explore_plugin/assets/src/views/welcome/PackReadyPage.vue
  kolibri_explore_plugin/assets/src/views/welcome/PackSelectionPage.vue
  kolibri_explore_plugin/assets/src/views/welcome/WelcomePage.vue
Due: lint-frontend-format

ci: Drop unnecessary node workflow
  .github/workflows/node.yml
Due: none

ci: Simplify use of tagname input
  .github/workflows/main.yml
Due: none

ci: Give workflow jobs friendlier names and IDs
  .github/workflows/bump2release.yml
  .github/workflows/main.yml
Due: none

ci: Perform full fetch for wheel build
  .github/workflows/main.yml
Due: none

Change KolibriApi translators property to static
  kolibri_explore_plugin/assets/src/kolibriApi.js
Due: lint-frontend-format

Change KolibriApi translators property to global
  kolibri_explore_plugin/assets/src/kolibriApi.js
Due: lint-frontend-format

Path conditions:
  lint-frontend-format: any of: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibri_explore_plugin/vendor/)
  lint-packages: any of: ^packages/.*\.(js|vue)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibri_explore_plugin/vendor/)
