Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-packages

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
repos:
- repo: git://github.com/pre-commit/pre-commit-hooks
  rev: v2.0.0
  hooks:
  - id: trailing-whitespace
  - id: flake8
    args:
      # make flake8 compatible with black:
      - "--max-line-length=88"
      - "--ignore=E203,W503"
  - id: check-yaml
  - id: check-added-large-files
    args: ['--maxkb=2000']
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: '^.+?(\.json|\.po)$'
- repo: https://github.com/asottile/reorder_python_imports
  rev: v1.3.3
  hooks:
  - id: reorder-python-imports
- repo: local
  hooks:
  - id: lint-frontend
    name: Linting of JS, Vue, SCSS and CSS files on the frontend
    description: This hook handles all frontend linting for Kolibri
    entry: yarn run lint-frontend
    language: system
    files: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$
  - id: lint-packages
    name: Linting of JS and Vue files on the packages
    description: This hook handles all packages linting
    entry: yarn run lint-packages
    pass_filenames: false
    language: system
    files: ^packages/.*\.(js|vue)$

- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black

Bump version: 2.0.24 → 2.0.25
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Add can_manage_while_running flag to the plugin
  kolibri_explore_plugin/kolibri_plugin.py
Due: none

Rename cache_forever to metadata_cache
  kolibri_explore_plugin/views.py
Due: none

Remove ConditionalPromise
  kolibri_explore_plugin/assets/src/modules/topicsTree/handlers.js
Due: lint-frontend

Migrate EndlessLearningCollection
  kolibri_explore_plugin/views.py
Due: none

Bump Kolibri dependencies
  kolibri_explore_plugin/assets/package.json
  package.json
  yarn.lock
Due: none

Fix kolibri-tools by adding browserlist
  package.json
Due: none

Remove pinned resolutions
  kolibri_explore_plugin/assets/package.json
  package.json
  yarn.lock
Due: none

Fix kolibri-tools dependencies
  kolibri_explore_plugin/assets/package.json
  package.json
  yarn.lock
Due: none

Apply lint fixes
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
  kolibri_explore_plugin/assets/src/views/AssessmentWrapper/index.vue
Due: lint-frontend

Bump bootstrap and bootstrap-vue dependencies
  kolibri_explore_plugin/assets/package.json
  packages/eos-components/package.json
  packages/loading-screen/package.json
  packages/template-ui/package.json
  yarn.lock
Due: none

Update SCSS division to new formats
  packages/eos-components/src/components/ChannelCard.vue
  packages/eos-components/src/components/SlidableGrid.vue
  packages/eos-components/src/styles.scss
Due: lint-packages

Bump version: 2.0.25 → 3.0.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Release loading-screen ZIP file
  .github/workflows/release-apps.yml
  .gitignore
  packages/loading-screen/package.json
  scripts/bundle_bundles.py
Due: none

WIP
  kolibri_explore_plugin/api_urls.py
  kolibri_explore_plugin/assets/src/components/ManuqModal.vue
  kolibri_explore_plugin/collectionviews.py
Due: lint-frontend

WIP
  kolibri_explore_plugin/api_urls.py
  kolibri_explore_plugin/assets/package.json
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
  kolibri_explore_plugin/assets/src/constants.js
  kolibri_explore_plugin/assets/src/modules/topicsTree/handlers.js
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
  kolibri_explore_plugin/views.py
  yarn.lock
Due: lint-frontend

WIP
  kolibri_explore_plugin/assets/src/components/ManuqModal.vue
Due: lint-frontend

WIP
  kolibri_explore_plugin/assets/src/components/DownloadTestModal.vue
  kolibri_explore_plugin/collectionviews.py
Due: lint-frontend

WIP
  kolibri_explore_plugin/collectionviews.py
Due: none

WIP
  kolibri_explore_plugin/api_urls.py
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
  kolibri_explore_plugin/views.py
Due: lint-frontend

WIP
  kolibri_explore_plugin/assets/src/components/ManuqModal.vue
  kolibri_explore_plugin/collectionviews.py
Due: lint-frontend

WIP
  kolibri_explore_plugin/api_urls.py
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
  kolibri_explore_plugin/assets/src/components/ManuqModal.vue
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
  kolibri_explore_plugin/collectionviews.py
  kolibri_explore_plugin/views.py
Due: lint-frontend

WIP
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
  kolibri_explore_plugin/assets/src/components/DownloadTestModal.vue
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
Due: lint-frontend

Remove axios dependency
  kolibri_explore_plugin/assets/package.json
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
  kolibri_explore_plugin/assets/src/constants.js
  kolibri_explore_plugin/assets/src/modules/topicsTree/handlers.js
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
  yarn.lock
Due: lint-frontend
