Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-packages

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files on the frontend
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend
  language: system

lint-packages:
  name: Linting of JS and Vue files on the packages
  description: This hook handles all packages linting
  entry: yarn run lint-packages
  pass_filenames: false
  language: system

discovery: Improve style of DiscoveryNavBar
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
  packages/eos-components/src/components/NavBar.vue
Due: lint-frontend, lint-packages

components: Add size and block props to PlayButton
  packages/eos-components/src/components/PlayButton.vue
Due: lint-packages

template: Make ContentImage a card
  packages/template-ui/src/components/ContentImage.vue
  packages/template-ui/src/views/BundleSection.vue
  packages/template-ui/src/views/Content.vue
Due: lint-packages

template: show first content on displayHeroContent
  packages/template-ui/src/views/Content.vue
  packages/template-ui/src/views/Home.vue
Due: lint-packages

template: Initial wikipedia zim DetailView
  packages/template-ui/channel-overrides/wikipedia/components/DetailView.vue
Due: lint-packages

discovery: Add new ContentPage component
  kolibri_explore_plugin/assets/src/constants.js
  kolibri_explore_plugin/assets/src/modules/coreExplore/mutations.js
  kolibri_explore_plugin/assets/src/modules/pluginModule.js
  kolibri_explore_plugin/assets/src/routes/index.js
  kolibri_explore_plugin/assets/src/views/ContentPage.vue
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
Due: lint-frontend

template: Add option to hide the footer
  packages/template-ui/src/App.vue
  packages/template-ui/src/store/index.js
Due: lint-packages

template: Don't show the footer in wikipedia override
  packages/template-ui/channel-overrides/wikipedia/options.json
Due: none

template: Move app overflow-y css to style variable
  packages/eos-components/src/styles.scss
  packages/template-ui/src/App.vue
Due: lint-packages

template: Use ContentPage to show wikipedia content
  packages/template-ui/channel-overrides/wikipedia/components/DetailView.vue
Due: lint-packages

template: Hide app scrollbar in wikipedia override
  packages/template-ui/channel-overrides/wikipedia/styles.scss
Due: none

template: Make Next content in topic an option
  packages/template-ui/channel-overrides/wikipedia/options.json
  packages/template-ui/src/store/index.js
  packages/template-ui/src/views/Content.vue
Due: lint-packages

template: rename displayHeroContent to defaultContentNode
  packages/template-ui/channel-overrides/wikipedia/options.json
  packages/template-ui/src/store/index.js
  packages/template-ui/src/views/Home.vue
Due: lint-packages

Bump version: 2.0.4 → 2.0.5
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

discovery: keep the SearchPage state during navigation
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

components: Fix number of rows in CollapsibleCardGrid
  packages/eos-components/src/components/CollapsibleCardGrid.vue
Due: lint-packages

CI: Use https repo in pre-commit
  .pre-commit-config.yaml
Due: none

CI: Use https instead of git for kolibri-design-system
  yarn.lock
Due: none

template: Custom breadcrumb component for wikipedia
  packages/template-ui/channel-overrides/wikipedia/components/Breadcrumb.vue
Due: lint-packages

Discovery: Don't show debug info in iframes
  kolibri_explore_plugin/assets/src/views/DevTag.vue
Due: lint-frontend

Discovery: Position dev tag fixed top right
  kolibri_explore_plugin/assets/src/views/DevTag.vue
Due: lint-frontend

Lint update with latest dependencies
  packages/template-ui/src/components/mixins/headerMixin.js
  packages/template-ui/src/store/index.js
  packages/template-ui/src/views/Section.vue
Due: lint-packages

Update packages
  kolibri_explore_plugin/assets/package.json
  package.json
  yarn.lock
Due: none

components: Detect bootstrap breakpoints in realtime
  packages/eos-components/src/components/mixins/responsiveMixin.js
Due: lint-packages

Improve responsiveMixin comment
  packages/eos-components/src/components/mixins/responsiveMixin.js
Due: lint-packages

Fix lint errors
  packages/eos-components/src/components/mixins/responsiveMixin.js
  packages/template-ui/src/store/index.js
Due: lint-packages

autofix lint issue in template-ui
  packages/template-ui/src/store/index.js
Due: lint-packages

component: Update Card components
  packages/eos-components/src/components/Card.vue
  packages/eos-components/src/components/CardBody.vue
  packages/eos-components/src/components/ContentCard.vue
  packages/eos-components/src/components/TopicCard.vue
Due: lint-packages

template: Show Activity Type filter without dropdown
  packages/eos-components/src/components/PlayButton.vue
  packages/eos-components/src/index.scss
  packages/template-ui/src/components/FilterContent.vue
  packages/template-ui/src/components/FilterDropDown.vue
  packages/template-ui/src/components/MediaFilterButtons.vue
Due: lint-packages

template: Display filter components only in the Home
  packages/template-ui/src/views/ListSection.vue
Due: lint-packages

Template: Remove navbar override in the pbs-kids
  packages/template-ui/channel-overrides/pbs-kids/components/ChannelNavBar.vue
Due: lint-packages

force 'lft' ordering in custom API
  kolibri_explore_plugin/assets/src/kolibriApi.js
Due: lint-frontend

Template: Add BackToTop button
  packages/template-ui/src/App.vue
Due: lint-packages

Discovery: Add the BackToTop button
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
  packages/eos-components/src/components/BackToTop.vue
  packages/eos-components/src/main.js
Due: lint-frontend, lint-packages

template: Bring back StructuredTags filtering
  packages/template-ui/src/components/FilterContent.vue
  packages/template-ui/src/components/FilterResult.vue
Due: lint-packages

component: Update CarouselCard components
  packages/eos-components/src/components/CarouselCard.vue
  packages/eos-components/src/components/CarouselCardTitle.vue
  packages/eos-components/src/main.js
Due: lint-packages

template: Restyle search with Keywords component
  kolibri_explore_plugin/assets/src/kolibriApi.js
  packages/eos-components/src/components/Keywords.vue
  packages/eos-components/src/main.js
  packages/template-ui/src/views/Search.vue
Due: lint-frontend, lint-packages

template: "Search" to "Search Keywords"
  packages/eos-components/src/components/SearchBar.vue
  packages/template-ui/src/components/Breadcrumb.vue
Due: lint-packages

template: Show search as a link in MainSections
  packages/template-ui/src/components/MainSections.vue
  packages/template-ui/src/components/SectionsSearchRow.vue
Due: lint-packages

components: Remove not used SearchButton
  packages/eos-components/src/components/SearchButton.vue
  packages/eos-components/src/main.js
Due: lint-packages

Path conditions:
  lint-frontend: any of: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
  lint-packages: any of: ^packages/.*\.(js|vue)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
