Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-packages

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files on the frontend
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend
  language: system

lint-packages:
  name: Linting of JS and Vue files on the packages
  description: This hook handles all packages linting
  entry: yarn run lint-packages
  pass_filenames: false
  language: system

Bump version: 3.0.2 → 3.0.3
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Welcome screen: Use vue-router push
  packages/loading-screen/src/App.vue
  packages/loading-screen/src/views/ContentSourceSelection.vue
  packages/loading-screen/src/views/PermissionsCancelled.vue
  packages/loading-screen/src/views/PermissionsExplanation.vue
  packages/loading-screen/src/views/PermissionsWrongFolder.vue
  packages/loading-screen/src/views/UsbDriveConnection.vue
  packages/loading-screen/src/views/Welcome.vue
Due: lint-packages

components: Add new PrivacyPolicyText component
  packages/eos-components/src/components/PrivacyPolicyText.vue
  packages/eos-components/src/main.js
Due: lint-packages

Welcome screen: Add modal with privacy policy
  packages/loading-screen/src/views/Welcome.vue
Due: lint-packages

Navigation bar: add privacy policy button
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
Due: lint-frontend

About modal: add privacy policy section
  kolibri_explore_plugin/assets/src/components/AboutModal.vue
Due: lint-frontend

About modal: Update About EK text
  kolibri_explore_plugin/assets/src/components/AboutModal.vue
Due: lint-frontend

Bump version: 3.0.3 → 3.0.4
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Add version file
  VERSION
Due: none

Add custom script to bump version
  README.md
  package.json
  scripts/bump_version.py
Due: none

Bump version: 3.0.4 → 3.1.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Components: Improve policy text punctuation
  packages/eos-components/src/components/PrivacyPolicyText.vue
Due: lint-packages

Improve getting the last tag
  scripts/build_info.sh
Due: none

Move VERSION file inside the Python module
  kolibri_explore_plugin/VERSION
  scripts/bump_version.py
Due: none

Display branding version name in About page
  kolibri_explore_plugin/assets/src/components/AboutModal.vue
  scripts/build_info.sh
Due: lint-frontend

Add VERSION file to Python packaging
  MANIFEST.in
Due: none

Bump version: 3.1.0 → 3.2.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Bump version: 3.2.0 → 3.3.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Backend: Add models for externally tagged content
  kolibri_explore_plugin/migrations/0001_initial.py
  kolibri_explore_plugin/migrations/__init__.py
  kolibri_explore_plugin/models.py
Due: none

Ignore more files
  .gitignore
Due: none

Add command and task to apply external tags
  kolibri_explore_plugin/management/__init__.py
  kolibri_explore_plugin/management/commands/__init__.py
  kolibri_explore_plugin/management/commands/applyexternaltags.py
  kolibri_explore_plugin/tasks.py
Due: none

Collections: Apply external tags to content
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
  kolibri_explore_plugin/collectionviews.py
Due: lint-frontend

Collections backend: Remove tasks boilerplate
  kolibri_explore_plugin/collectionviews.py
Due: none

Collections frontend: Show "0" in labels
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
Due: lint-frontend

Path conditions:
  lint-frontend: any of: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
  lint-packages: any of: ^packages/.*\.(js|vue)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
