Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-packages

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files on the frontend
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend
  language: system

lint-packages:
  name: Linting of JS and Vue files on the packages
  description: This hook handles all packages linting
  entry: yarn run lint-packages
  pass_filenames: false
  language: system

Search page: Invert show/hide available content logic
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

handlers: Drop DEFAULT_HIDE_UNAVAILABLE from showChannels
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
Due: lint-frontend

Rename 'showUnavailable' to 'hideUnavailable'
  kolibri_explore_plugin/assets/src/kolibriApi.js
  kolibri_explore_plugin/assets/src/modules/coreExplore/actions.js
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
  packages/template-ui/src/views/Search.vue
Due: lint-frontend, lint-packages

Search: Invert show/hide available content logic
  kolibri_explore_plugin/assets/src/kolibriApi.js
  packages/template-ui/src/views/Search.vue
Due: lint-frontend, lint-packages

kolibriApi: Drop DEFAULT_HIDE_UNAVAILABLE from getContentByFilter
  kolibri_explore_plugin/assets/src/kolibriApi.js
Due: lint-frontend

actions: Drop DEFAULT_HIDE_UNAVAILABLE from setEkChannelInfo
  kolibri_explore_plugin/assets/src/modules/coreExplore/actions.js
Due: lint-frontend

README: Update releasing with GitHub action
  README.md
Due: none

Bump version: 6.10.0 → 6.11.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Bump webpack dependencies again
  package.json
  yarn.lock
Due: none

options: Allow feedback URL to be configured
  kolibri_explore_plugin/assets/src/components/DiscoveryNavBar.vue
  kolibri_explore_plugin/kolibri_plugin.py
  kolibri_explore_plugin/options.py
Due: lint-frontend

kolibriApi: Parameterize getContentByFilter()
  kolibri_explore_plugin/assets/src/kolibriApi.js
Due: lint-frontend

Home: Add check to hide unavailable content
  packages/template-ui/src/views/Home.vue
Due: lint-packages

Home: Hide empty sections
  packages/template-ui/src/views/Home.vue
Due: lint-packages

WIP
  packages/template-ui/src/views/ListSection.vue
Due: lint-packages

SectionsSearchRow: Hide download button
  packages/template-ui/src/components/SectionsSearchRow.vue
Due: lint-packages

handlers: Work around cards not being loaded when app starts
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
Due: lint-frontend

Bump version: 6.11.0 → 6.12.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Search: Add pluralisation to 2 labels
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

Startup: Don't fetch carousel for collections
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
Due: lint-frontend

Bump version: 6.12.0 → 6.13.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Download: Use correct channel name in import tasks
  kolibri_explore_plugin/collectionviews.py
Due: none

Download: Set fail_on_error for content import task
  kolibri_explore_plugin/collectionviews.py
Due: none

Download: Use content queue for collections downloads
  kolibri_explore_plugin/collectionviews.py
Due: none

CI: Only run workflows on push to master or stable
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/node.yml
Due: none

handlers: Set download state to failed if task fails
  kolibri_explore_plugin/assets/src/modules/manageContent/handlers.js
Due: lint-frontend

kolibriApi: Fetch node disabling cache
  kolibri_explore_plugin/assets/src/kolibriApi.js
Due: lint-frontend

Template home: Update cards after downloaded
  packages/template-ui/src/views/Home.vue
Due: lint-packages

Search: Refresh card after downloading
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

Bump version: 6.13.0 → 6.14.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Ignore more files from flake8 and black
  .flake8
  pyproject.toml
Due: none

Vendor file_transfer.py from Kolibri 0.16.0-alpha12
  .flake8
  .pre-commit-config.yaml
  kolibri_explore_plugin/vendor/__init__.py
  kolibri_explore_plugin/vendor/file_transfer.py
  pyproject.toml
Due: none

Ignore all compiled python modules
  .gitignore
Due: none

Override remotecontentimport task
  kolibri_explore_plugin/collectionviews.py
  kolibri_explore_plugin/tasks.py
Due: none

FileDownload: Add transfer_size property
  kolibri_explore_plugin/vendor/file_transfer.py
Due: none

Explicitly add requests for pipenv
  Pipfile
  Pipfile.lock
Due: none

Template: Update downloaded card in all places
  packages/template-ui/src/components/FilterResult.vue
  packages/template-ui/src/mixins/updateNodeMixin.js
  packages/template-ui/src/views/Content.vue
  packages/template-ui/src/views/Home.vue
  packages/template-ui/src/views/ListSection.vue
  packages/template-ui/src/views/Search.vue
  packages/template-ui/src/views/Section.vue
Due: lint-packages

Bump version: 6.14.0 → 6.15.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Path conditions:
  lint-frontend: any of: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
  lint-packages: any of: ^packages/.*\.(js|vue)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
