Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-packages

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files on the frontend
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend
  language: system

lint-packages:
  name: Linting of JS and Vue files on the packages
  description: This hook handles all packages linting
  entry: yarn run lint-packages
  pass_filenames: false
  language: system

ContentPage: Fix ContentPage's contentNode
  kolibri_explore_plugin/assets/src/views/ContentPage.vue
Due: lint-frontend

Bump version: 6.0.0 → 6.1.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

SearchPage: "Show all channels" should clear input
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

ChannelCard: Add white background style
  packages/ek-components/src/components/EkChannelCard.vue
Due: lint-packages

Refactor goToChannel method
  kolibri_explore_plugin/assets/src/components/AlphabeticalChannelsList.vue
  kolibri_explore_plugin/assets/src/components/EkIguanaList.vue
  kolibri_explore_plugin/assets/src/mixins/navigationMixin.js
  kolibri_explore_plugin/assets/src/views/DiscoveryPageContenPacks.vue
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

External tags: Add option to fetch only root nodes
  kolibri_explore_plugin/assets/src/apiResources.js
  kolibri_explore_plugin/viewsets.py
Due: lint-frontend

Discovery page: Add row for featured channels
  kolibri_explore_plugin/assets/src/views/DiscoveryPageContenPacks.vue
Due: lint-frontend

Plugin: Add NAVIGATE_UNAVAILABLE option
  kolibri_explore_plugin/kolibri_plugin.py
  kolibri_explore_plugin/options.py
Due: none

Display unavailable channels
  kolibri_explore_plugin/assets/src/modules/coreExplore/actions.js
  kolibri_explore_plugin/assets/src/modules/topicsTree/handlers.js
Due: lint-frontend

Navigate and search unavailable content
  kolibri_explore_plugin/assets/src/kolibriApi.js
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
Due: lint-frontend

CI: Rename release-apps.yml as main.yml for future usage
  .github/workflows/main.yml
Due: none

CI: Build the apps-bundle for each push and PR
  .github/workflows/main.yml
Due: none

CI: Build the kolibri-explore-plugin wheel for each push and PR
  .github/workflows/main.yml
Due: none

CI: Add bump2release action to bump the version and tag for release
  .github/workflows/bump2release.yml
Due: none

README: Add a note for releasing with CI
  README.md
Due: none

Add template for channel override requests
  .github/ISSUE_TEMPLATE/channel-custom-presentation-request.md
Due: none

Add title to main pages
  kolibri_explore_plugin/assets/src/views/DiscoveryPage.vue
  kolibri_explore_plugin/assets/src/views/DownloadPage.vue
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

Improve title of ContentUnavailable page
  kolibri_explore_plugin/assets/src/views/ContentUnavailablePage.vue
Due: lint-frontend

Move 'About' links footer to a separate component
  kolibri_explore_plugin/assets/src/components/AboutFooter.vue
  kolibri_explore_plugin/assets/src/views/DiscoveryPageContenPacks.vue
Due: lint-frontend

Search page: Add footer with links to About modal
  kolibri_explore_plugin/assets/src/views/SearchPage.vue
Due: lint-frontend

Iguana landing page: Add footer with links to About modal
  kolibri_explore_plugin/assets/src/views/DiscoveryPageEkIguana.vue
Due: lint-frontend

Channels presentation: Add overrides for Ukrainian content
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/icons/support-ukraine.png
  kolibri_explore_plugin/static/thumbnails/support-ukraine.png
  packages/template-ui/channel-overrides/support-ukraine/assets/header-background.jpg
  packages/template-ui/channel-overrides/support-ukraine/options.json
  packages/template-ui/channel-overrides/support-ukraine/styles.scss
Due: lint-frontend

packages: Pass node availability to PlayButton
  packages/ek-components/src/components/EkCarouselCard.vue
  packages/ek-components/src/components/EkContentCard.vue
  packages/template-ui/src/components/ContentImage.vue
  packages/template-ui/src/components/MediaFilterButtons.vue
Due: lint-packages

EkContentCard: Adjust style of unavailable nodes
  packages/ek-components/src/components/EkContentCard.vue
Due: lint-packages

EkContentLink: Don't navigate to unavailable nodes
  packages/ek-components/src/components/EkContentCard.vue
  packages/ek-components/src/components/EkContentLink.vue
Due: lint-packages

EkCardBody: Rearrange rows
  packages/ek-components/src/components/EkCardBody.vue
Due: lint-packages

PlayButton: Add disabled state
  packages/ek-components/src/components/EkPlayButton.vue
  packages/ek-components/src/styles.scss
Due: lint-packages

styles.scss: Make all content buttons light grey
  packages/ek-components/src/styles.scss
Due: none

Update kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/assets/src/customApps.js
Due: lint-frontend

Channels presentation: Add overrides for HarperCollins
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/icons/harper-collins.png
  kolibri_explore_plugin/static/thumbnails/harper-collins.png
  packages/template-ui/channel-overrides/harper-collins/assets/header-background.jpg
  packages/template-ui/channel-overrides/harper-collins/options.json
Due: lint-frontend

fixup! Channels presentation: Add overrides for HarperCollins
  packages/template-ui/channel-overrides/harper-collins/styles.scss
Due: none

Channels presentation: Add overrides for HarperCollins (#557)
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/icons/harper-collins.png
  kolibri_explore_plugin/static/thumbnails/harper-collins.png
  packages/template-ui/channel-overrides/harper-collins/assets/header-background.jpg
  packages/template-ui/channel-overrides/harper-collins/options.json
  packages/template-ui/channel-overrides/harper-collins/styles.scss
Due: lint-frontend

Channels presentation: Add overrides for Code.org
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/icons/code-org.png
  kolibri_explore_plugin/static/thumbnails/code-org.png
  packages/template-ui/channel-overrides/code-org/options.json
  packages/template-ui/channel-overrides/code-org/styles.scss
Due: lint-frontend

fixup! Channels presentation: Add overrides for Code.org
  packages/template-ui/channel-overrides/code-org/styles.scss
Due: none

Channels presentation: Add overrides for Code.org (#558)
  kolibri_explore_plugin/assets/src/customApps.js
  kolibri_explore_plugin/static/icons/code-org.png
  kolibri_explore_plugin/static/thumbnails/code-org.png
  packages/template-ui/channel-overrides/code-org/options.json
  packages/template-ui/channel-overrides/code-org/styles.scss
Due: lint-frontend

Bump version: 6.1.0 → 6.2.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

CI: Call the main workflow after bump the version for release
  .github/workflows/bump2release.yml
  .github/workflows/main.yml
Due: none

Fix and simplify EkCardBody
  packages/ek-components/src/components/EkCardBody.vue
Due: lint-packages

Search: Factor out adding channel to result nodes
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
  packages/ek-components/src/utils.js
Due: lint-frontend, lint-packages

Path conditions:
  lint-frontend: any of: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
  lint-packages: any of: ^packages/.*\.(js|vue)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
