Repository endlessm/kolibri-explore-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-packages

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/)
repos:
- repo: git://github.com/pre-commit/pre-commit-hooks
  rev: v2.0.0
  hooks:
  - id: trailing-whitespace
  - id: flake8
    args:
      # make flake8 compatible with black:
      - "--max-line-length=88"
      - "--ignore=E203,W503"
  - id: check-yaml
  - id: check-added-large-files
    args: ['--maxkb=2000']
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: '^.+?(\.json|\.po)$'
- repo: https://github.com/asottile/reorder_python_imports
  rev: v1.3.3
  hooks:
  - id: reorder-python-imports
- repo: local
  hooks:
  - id: lint-frontend
    name: Linting of JS, Vue, SCSS and CSS files on the frontend
    description: This hook handles all frontend linting for Kolibri
    entry: yarn run lint-frontend
    language: system
    files: ^kolibri_explore_plugin/assets/src/.*\.(js|vue|scss|css)$
  - id: lint-packages
    name: Linting of JS and Vue files on the packages
    description: This hook handles all packages linting
    entry: yarn run lint-packages
    pass_filenames: false
    language: system
    files: ^packages/.*\.(js|vue)$

- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black

Bump version: 4.0.0 → 5.0.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Commands: Log when applying tag to inexistent node
  kolibri_explore_plugin/management/commands/applyexternaltags.py
Due: none

Packs download: Handle insufficient space
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
  kolibri_explore_plugin/collectionviews.py
Due: lint-frontend

Packs download: Allow retrying
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
  kolibri_explore_plugin/collectionviews.py
Due: lint-frontend

Handlers: Remove abandoned handlers
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
  kolibri_explore_plugin/assets/src/modules/topicsTree/handlers.js
Due: lint-frontend

Plugin: Pass channels through plugin_data directly
  kolibri_explore_plugin/assets/src/composables/useChannels.js
  kolibri_explore_plugin/assets/src/modules/coreExplore/actions.js
  kolibri_explore_plugin/kolibri_plugin.py
Due: lint-frontend

Custom presentation: Rename loading events
  kolibri_explore_plugin/assets/src/views/CustomChannelPresentationApp.vue
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
Due: lint-frontend

Routing: Use channels in search page
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
  kolibri_explore_plugin/assets/src/routes/index.js
Due: lint-frontend

Channel presentation: Move last API to KolibriAPI
  kolibri_explore_plugin/assets/src/kolibriApi.js
  kolibri_explore_plugin/assets/src/views/CustomChannelPresentationApp.vue
  packages/template-ui/src/components/ChannelNavBar.vue
Due: lint-frontend, lint-packages

Channel iframe: Inject Kolibri API when ready
  kolibri_explore_plugin/assets/src/views/CustomChannelPresentationApp.vue
Due: lint-frontend

Content packs view: Fix setting loadingNodes
  kolibri_explore_plugin/assets/src/views/DiscoveryPageContenPacks.vue
Due: lint-frontend

Template: Wait until the Kolibri API is injected
  packages/template-ui/src/App.vue
Due: lint-packages

Remove kolibri-api package
  packages/kolibri-api/.eslintrc.js
  packages/kolibri-api/index.js
  packages/kolibri-api/package.json
  packages/template-ui/package.json
  scripts/bundle_bundles.py
Due: lint-packages

Bump version: 5.0.0 → 5.1.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Packs backend: Consider complete state for resume
  kolibri_explore_plugin/collectionviews.py
Due: none

Bump version: 5.1.0 → 5.2.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Bump version: 5.2.0 → 5.3.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Build: Remove collections from build
  MANIFEST.in
Due: none

Search: Don't add empty results to state
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
Due: lint-frontend

Bump version: 5.3.0 → 5.4.0
  .bumpversion.cfg
  kolibri_explore_plugin/__init__.py
Due: none

Remove unused modals
  kolibri_explore_plugin/assets/src/collections/intermediate-icons.png
  kolibri_explore_plugin/assets/src/collections/primary-icons.png
  kolibri_explore_plugin/assets/src/collections/secondary-icons.png
  kolibri_explore_plugin/assets/src/components/CollectionSelectionModal.vue
  kolibri_explore_plugin/assets/src/components/GradeSelectionModal.vue
Due: lint-frontend

Pack backend: Add API to get single collection info
  kolibri_explore_plugin/api_urls.py
  kolibri_explore_plugin/collectionviews.py
Due: none

Frontend: Move download functions to utils module
  kolibri_explore_plugin/assets/src/modules/coreExplore/utils.js
Due: lint-frontend

Add new download page
  kolibri_explore_plugin/assets/src/constants.js
  kolibri_explore_plugin/assets/src/modules/topicsRoot/handlers.js
  kolibri_explore_plugin/assets/src/routes/index.js
  kolibri_explore_plugin/assets/src/views/DownloadPage.vue
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
Due: lint-frontend

ExploreIndex: Remove download modal
  kolibri_explore_plugin/assets/src/components/InstallContentModal.vue
  kolibri_explore_plugin/assets/src/views/DiscoveryPageEkIguana.vue
  kolibri_explore_plugin/assets/src/views/ExploreIndex.vue
Due: lint-frontend
